<header class="header">
    <div class="c-321-reference reference parbase">
        <div class="cq-dd-paragraph">
            <div class="par parsys">
                <div class="c-106-grid-layout base">
                    <div class="bg-white ">
                        <div class="full-bleed">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 grid-col ">
                                    <div class="c-106-grid-layout base">
                                        <div class=" padded">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="hidden-xs col-sm-12 col-md-12 grid-col ">
                                                        <div
                                                            class="c-110-promo-box c-252-skin-container-component parbase">
                                                            <div
                                                                class="promo-box floating-icon floating-icon-theme horizontal ">
                                                                <div class="inner">
                                                                    <div class="promo-box-icon-container">
                                                                        <div class="icon-container">
                                                                            <div class="shape-container">
                                                                                <i
                                                                                    data-svg-path="/content/dam/bos/icons/Warning.svg"
                                                                                    data-selector="icon-Warning">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                        aria-hidden="true"
                                                                                        focusable="false" height="60px"
                                                                                        version="1.1"
                                                                                        viewBox="0 0 24 24"
                                                                                        width="60px">
                                                                                        <g fill="none"
                                                                                            fill-rule="evenodd"
                                                                                            id="Icons-/-~Notifications-/-Warning"
                                                                                            stroke="none"
                                                                                            stroke-width="1">
                                                                                            <path
                                                                                                d="M10.2952567,2.08976805 C10.8130288,1.07222106 11.9959246,0.701022889 12.9373283,1.26067373 C13.2605701,1.45283627 13.5265984,1.74038162 13.7043814,2.08976805 L22.7588325,19.8839481 C23.2766046,20.9014951 22.9331833,22.1800666 21.9917795,22.7397174 C21.7045557,22.9104678 21.3820705,23 21.0542702,23 L2.94536792,23 C1.87097088,23 1,22.0585827 1,20.8972856 C1,20.542972 1.0828325,20.1944033 1.2408056,19.8839481 L10.2952567,2.08976805 Z M2.9956665,21.0060577 L21.0027924,20.9994812 L12.0022278,3 L2.9956665,21.0060577 Z M13,9 L13,15 L11,15 L11,9 L13,9 Z M11,18 C11,17.4477153 11.4438648,17 12,17 C12.5522847,17 13,17.4438648 13,18 C13,18.5522847 12.5561352,19 12,19 C11.4477153,19 11,18.5561352 11,18 Z"
                                                                                                fill="#005EB8" />
                                                                                        </g>
                                                                                    </svg>
                                                                                </i>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="content">
                                                                        <h4 class="heading"
                                                                            data-selector="heading-selector">
                                                                            Important
                                                                        </h4>

                                                                        <div class="c-103-rich-text">
                                                                            <p>
                                                                                The
                                                                                recent
                                                                                government
                                                                                update
                                                                                to
                                                                                lockdown
                                                                                restrictions
                                                                                means
                                                                                our
                                                                                branch
                                                                                opening
                                                                                hours
                                                                                have
                                                                                changed.
                                                                                Please
                                                                                check
                                                                                our
                                                                                <a title="branch finder"
                                                                                    href="https://branches.bankofscotland.co.uk/search"
                                                                                    target="_self">branch
                                                                                    finder</a>
                                                                                if you
                                                                                need to
                                                                                visit
                                                                                for the
                                                                                latest
                                                                                information.
                                                                            </p>
                                                                            <p>
                                                                                The
                                                                                safest
                                                                                way to
                                                                                bank
                                                                                with us
                                                                                right
                                                                                now is
                                                                                from
                                                                                home
                                                                                either
                                                                                using
                                                                                our
                                                                                <a title="mobile banking app"
                                                                                    href="aboutonline/mobile-banking8164.html?pp=banner&amp;link=hyperlink&amp;uid=MBRe"
                                                                                    target="_self">app</a>
                                                                                or
                                                                                through
                                                                                <a title="Internet Banking"
                                                                                    href="aboutonline.html"
                                                                                    target="_self">Internet
                                                                                    Banking</a>.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="c-106-grid-layout base">
                                        <div>
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-12 hidden-sm hidden-md grid-col ">
                                                        <div class="c-103-rich-text parbase">
                                                            <p>
                                                                <strong>Service
                                                                    Status:</strong>
                                                                The recent government
                                                                update to lockdown
                                                                restrictions means our
                                                                branch opening hours
                                                                have changed. Please
                                                                check our
                                                                <a title="branch finder"
                                                                    href="https://branches.bankofscotland.co.uk/search"
                                                                    target="_self">branch finder</a>
                                                                if you need to visit for
                                                                the latest information.
                                                            </p>
                                                            <p>
                                                                The safest way to bank
                                                                with us right now is
                                                                from home either using
                                                                our
                                                                <a title="mobile banking app"
                                                                    href="aboutonline/mobile-banking8164.html?pp=banner&amp;link=hyperlink&amp;uid=MBRe"
                                                                    target="_self">app</a>
                                                                or through
                                                                <a title="Internet Banking" href="aboutonline.html"
                                                                    target="_self">Internet Banking</a>.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="c-122-masthead">
        <div class="col-parent">
            <div class="c-122-header">
                <div class="container-fluid">
                    <ul class="skip-to-content" data-selector="skip-links-list">
                        <li data-selector="list-item-0">
                            <a data-selector="skip-link-item-0" href="accessibility.html" accesskey="0"
                                data-tealium-event="Internal Click"
                                data-tealium-narrative="Accessibility statement [Accesskey &#39;0&#39;]"><span
                                    class="btn-text">Accessibility statement [Accesskey
                                    &#39;0&#39;]</span><span class="sr-only">Go to Accessibility
                                    statement</span></a>
                        </li>

                        <li data-selector="list-item-1">
                            <a data-selector="skip-link-item-1" href="#main" accesskey="S"
                                data-tealium-event="Internal Click"
                                data-tealium-narrative="Skip to Content [Accesskey &#39;S&#39;]"><span
                                    class="btn-text">Skip to Content [Accesskey &#39;S&#39;]</span><span
                                    class="sr-only">Skip to main content</span></a>
                        </li>

                        <li data-selector="list-item-2">
                            <a data-selector="skip-link-item-2" href="#mainnav" accesskey="N"
                                data-tealium-event="Internal Click"
                                data-tealium-narrative="Skip to site Navigation [Accesskey &#39;N&#39;]"><span
                                    class="btn-text">Skip to site Navigation [Accesskey
                                    &#39;N&#39;]</span><span class="sr-only">Go to Navigation</span></a>
                        </li>

                        <li data-selector="list-item-3">
                            <a data-selector="skip-link-item-3" href="index.html" accesskey="1"
                                data-tealium-event="Internal Click"
                                data-tealium-narrative="Go to Home page [Accesskey &#39;1&#39;]"><span
                                    class="btn-text">Go to Home page [Accesskey &#39;1&#39;]</span><span
                                    class="sr-only">Go to Home page</span></a>
                        </li>

                        <li data-selector="list-item-4">
                            <a data-selector="skip-link-item-4" href="sitemap.html" accesskey="2"
                                data-tealium-event="Internal Click"
                                data-tealium-narrative="Go to Sitemap [Accesskey &#39;2&#39;]"><span class="btn-text">Go
                                    to Sitemap [Accesskey &#39;2&#39;]</span><span class="sr-only">Go to
                                    Sitemap</span></a>
                        </li>
                    </ul>
                </div>

                <div class="visible-xs primary-header-row header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="top-header-logo" data-selector="mobile-logo" itemscope
                                    itemtype="http://schema.org/Organization">
                                    <a data-selector="logo-anchor" href="index.html" itemprop="url"
                                        data-tealium-event="Internal Click">
                                        <div class="icon-container">
                                            <div class="shape-container">
                                                <i class="icon"
                                                    data-svg-path="/content/dam/bos-personal/icons/bos_logo.svg"
                                                    data-selector="icon-bos_logo" itemprop="logo"><svg
                                                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                                        focusable="false" viewBox="0 0 206.1 45.8">
                                                        <defs>
                                                            <path
                                                                d="M59.4 2l-26 15.7L7.4 2v10.7L24.5 23 7.4 33.3V44l26-15.7 26 15.7V33.3L42.3 23l17.1-10.3V2zm-26 32.4c-3.2 0-5.8 2.6-5.8 5.7 0 3.2 2.6 5.8 5.7 5.8s5.8-2.6 5.8-5.7c0-3.2-2.5-5.8-5.7-5.8 0-.1 0-.1 0 0zM66.8 23c0 3.2-2.6 5.7-5.8 5.7-3.2 0-5.7-2.6-5.7-5.8 0-3.2 2.6-5.7 5.7-5.7 3.3 0 5.8 2.6 5.8 5.8zM33.4 0c-3.2 0-5.8 2.6-5.8 5.7 0 3.2 2.6 5.8 5.7 5.8s5.8-2.6 5.8-5.7c0-3.2-2.5-5.8-5.7-5.8zM11.5 23c0 3.2-2.6 5.7-5.8 5.7C2.5 28.6 0 26 0 22.9c0-3.2 2.6-5.7 5.7-5.7 3.2 0 5.8 2.6 5.8 5.8z"
                                                                id="a" />
                                                        </defs>
                                                        <path
                                                            d="M59.4 2l-26 15.7L7.4 2v10.7L24.5 23 7.4 33.3V44l26-15.7 26 15.7V33.3L42.3 23l17.1-10.3V2zm-26 32.4c-3.2 0-5.8 2.6-5.8 5.7 0 3.2 2.6 5.8 5.7 5.8s5.8-2.6 5.8-5.7c0-3.2-2.5-5.8-5.7-5.8 0-.1 0-.1 0 0zM66.8 23c0 3.2-2.6 5.7-5.8 5.7-3.2 0-5.7-2.6-5.7-5.8 0-3.2 2.6-5.7 5.7-5.7 3.3 0 5.8 2.6 5.8 5.8zM33.4 0c-3.2 0-5.8 2.6-5.8 5.7 0 3.2 2.6 5.8 5.7 5.8s5.8-2.6 5.8-5.7c0-3.2-2.5-5.8-5.7-5.8zM11.5 23c0 3.2-2.6 5.7-5.8 5.7C2.5 28.6 0 26 0 22.9c0-3.2 2.6-5.7 5.7-5.7 3.2 0 5.8 2.6 5.8 5.8z" />
                                                        <defs>
                                                            <path
                                                                d="M59.4 2l-26 15.7L7.4 2v10.7L24.5 23 7.4 33.3V44l26-15.7 26 15.7V33.3L42.3 23l17.1-10.3V2zm-26 32.4c-3.2 0-5.8 2.6-5.8 5.7 0 3.2 2.6 5.8 5.7 5.8s5.8-2.6 5.8-5.7c0-3.2-2.5-5.8-5.7-5.8 0-.1 0-.1 0 0zM66.8 23c0 3.2-2.6 5.7-5.8 5.7-3.2 0-5.7-2.6-5.7-5.8 0-3.2 2.6-5.7 5.7-5.7 3.3 0 5.8 2.6 5.8 5.8zM33.4 0c-3.2 0-5.8 2.6-5.8 5.7 0 3.2 2.6 5.8 5.7 5.8s5.8-2.6 5.8-5.7c0-3.2-2.5-5.8-5.7-5.8zM11.5 23c0 3.2-2.6 5.7-5.8 5.7C2.5 28.6 0 26 0 22.9c0-3.2 2.6-5.7 5.7-5.7 3.2 0 5.8 2.6 5.8 5.8z"
                                                                id="b" />
                                                        </defs>
                                                        <path
                                                            d="M139.1 29.8h-5.5v14.8h-3.1V29.8H125v-2.9h14.1v2.9zm-38.3-.6c1.3 0 2.7.3 3.9.7V27c-1.3-.4-2.6-.6-3.9-.6-5.4 0-9.5 3.6-9.6 8.8V35.8c.1 5.2 4.2 8.8 9.6 8.8 1.3 0 2.7-.2 3.9-.6v-3c-1.3.4-2.6.7-3.9.7-3.9 0-6.6-2.7-6.5-6.1v-.1-.1c0-3.5 2.6-6.2 6.5-6.2zm64.3 7.8l-2.5-6.6L160 37h5.1zm6.1 7.6H168l-1.9-4.8h-7.2l-1.9 4.9h-3.2l7.2-17.8h3l7.2 17.7zm14.4-17.8v12.4L176 26.9h-2.7v17.7h2.9V31.7l10 12.9h2.3V26.9l-2.9-.1zm-41.2 0v14.8h8.1l-1.4 2.9h-9.8V26.9l3.1-.1zm52.6 15h-2.6v-12h2.6c3.2-.1 5.9 2.4 6 5.6v.4c.1 3.2-2.4 5.9-5.7 6h-.3zm0-14.9h-5.6v17.7h5.6c4.9 0 8.9-4 8.9-8.9s-4-8.8-8.9-8.8zm-116.8.8c1.2-.8 2.5-1.2 3.9-1.2 1.5 0 3 .3 4.4.9v2.8h-.1c-1.3-.6-2.7-1-4.2-1s-3.2.5-3.2 2.1c0 1.1.9 1.8 3.8 2.7s4.8 2.3 4.8 5.3c0 3.2-2.9 5.2-6 5.2-1.8 0-3.5-.5-5.1-1.3v-3h.1c1.5 1 3.2 1.5 5 1.5 1.5 0 3.2-.7 3.2-2.4s-1.7-2.3-3.8-3c-2.4-.7-4.7-2.1-4.7-5 .1-1.4.8-2.7 1.9-3.6zm35.1 14.1c-3.3 0-6-2.7-6-6v-.3c-.4-3.3 2-6.3 5.3-6.6 3.3-.4 6.3 2 6.6 5.3v1.3c.2 3.3-2.4 6.1-5.7 6.3h-.2zm0-15.4c-5 0-9.1 4-9.2 9 0 5 4 9.1 9 9.2s9.1-4 9.2-9v-.1c.1-5-3.9-9-9-9.1.1 0 .1 0 0 0zm58.4-22v4.2h7.4v2.9h-7.4v7.7h-3V1.5h11.2v2.9h-8.2zm-75.9 7.2l2.6-6.6 2.5 6.6h-5.1zm4-10.2h-3l-7.1 17.8h3.2l1.9-4.8h7.2l1.9 4.8h3.2l-7.3-17.8zM88.1 14c0-1.4-1.2-2.5-2.6-2.5h-3.9v5h3.1c2.2 0 3.4-1 3.4-2.5zm-6.4-5.2H85c1.3.1 2.5-.9 2.6-2.2v-.2c0-1.5-1.3-2.2-2.7-2.2h-3.2v4.6zm9.4 5.3c0 3.6-2.8 5.1-6.3 5.1h-6.2V1.5H85c3 0 5.4 1.6 5.4 4.8 0 1.4-.7 2.8-2 3.5 1.7.8 2.7 2.5 2.7 4.3zm48.3-12.6L132 9.8V1.5h-3v17.7h3v-8.5l7.5 8.5h4l-8.1-9.1 7.8-8.7-3.8.1zm25.6 8.6c.3-3.3-2.1-6.2-5.4-6.6-3.3-.3-6.2 2.1-6.6 5.4v1.2c-.3 3.3 2.1 6.2 5.4 6.6 3.3.3 6.2-2.1 6.6-5.4v-1.2zm3.1 0c0 5-4 9-9 9s-9-4-9-9 4-9 9-9 9 4 9 9zm-44.8-8.6v12.3l-9.6-12.3H111v17.7h3V6.3l10 12.9h2.3V1.5h-3z" />
                                                        <g>
                                                            <defs>
                                                                <path
                                                                    d="M139.1 29.8h-5.5v14.8h-3.1V29.8H125v-2.9h14.1v2.9zm-38.3-.6c1.3 0 2.7.3 3.9.7V27c-1.3-.4-2.6-.6-3.9-.6-5.4 0-9.5 3.6-9.6 8.8V35.8c.1 5.2 4.2 8.8 9.6 8.8 1.3 0 2.7-.2 3.9-.6v-3c-1.3.4-2.6.7-3.9.7-3.9 0-6.6-2.7-6.5-6.1v-.1-.1c0-3.5 2.6-6.2 6.5-6.2zm64.3 7.8l-2.5-6.6L160 37h5.1zm6.1 7.6H168l-1.9-4.8h-7.2l-1.9 4.9h-3.2l7.2-17.8h3l7.2 17.7zm14.4-17.8v12.4L176 26.9h-2.7v17.7h2.9V31.7l10 12.9h2.3V26.9l-2.9-.1zm-41.2 0v14.8h8.1l-1.4 2.9h-9.8V26.9l3.1-.1zm52.6 15h-2.6v-12h2.6c3.2-.1 5.9 2.4 6 5.6v.4c.1 3.2-2.4 5.9-5.7 6h-.3zm0-14.9h-5.6v17.7h5.6c4.9 0 8.9-4 8.9-8.9s-4-8.8-8.9-8.8zm-116.8.8c1.2-.8 2.5-1.2 3.9-1.2 1.5 0 3 .3 4.4.9v2.8h-.1c-1.3-.6-2.7-1-4.2-1s-3.2.5-3.2 2.1c0 1.1.9 1.8 3.8 2.7s4.8 2.3 4.8 5.3c0 3.2-2.9 5.2-6 5.2-1.8 0-3.5-.5-5.1-1.3v-3h.1c1.5 1 3.2 1.5 5 1.5 1.5 0 3.2-.7 3.2-2.4s-1.7-2.3-3.8-3c-2.4-.7-4.7-2.1-4.7-5 .1-1.4.8-2.7 1.9-3.6zm35.1 14.1c-3.3 0-6-2.7-6-6v-.3c-.4-3.3 2-6.3 5.3-6.6 3.3-.4 6.3 2 6.6 5.3v1.3c.2 3.3-2.4 6.1-5.7 6.3h-.2zm0-15.4c-5 0-9.1 4-9.2 9 0 5 4 9.1 9 9.2s9.1-4 9.2-9v-.1c.1-5-3.9-9-9-9.1.1 0 .1 0 0 0zm58.4-22v4.2h7.4v2.9h-7.4v7.7h-3V1.5h11.2v2.9h-8.2zm-75.9 7.2l2.6-6.6 2.5 6.6h-5.1zm4-10.2h-3l-7.1 17.8h3.2l1.9-4.8h7.2l1.9 4.8h3.2l-7.3-17.8zM88.1 14c0-1.4-1.2-2.5-2.6-2.5h-3.9v5h3.1c2.2 0 3.4-1 3.4-2.5zm-6.4-5.2H85c1.3.1 2.5-.9 2.6-2.2v-.2c0-1.5-1.3-2.2-2.7-2.2h-3.2v4.6zm9.4 5.3c0 3.6-2.8 5.1-6.3 5.1h-6.2V1.5H85c3 0 5.4 1.6 5.4 4.8 0 1.4-.7 2.8-2 3.5 1.7.8 2.7 2.5 2.7 4.3zm48.3-12.6L132 9.8V1.5h-3v17.7h3v-8.5l7.5 8.5h4l-8.1-9.1 7.8-8.7-3.8.1zm25.6 8.6c.3-3.3-2.1-6.2-5.4-6.6-3.3-.3-6.2 2.1-6.6 5.4v1.2c-.3 3.3 2.1 6.2 5.4 6.6 3.3.3 6.2-2.1 6.6-5.4v-1.2zm3.1 0c0 5-4 9-9 9s-9-4-9-9 4-9 9-9 9 4 9 9zm-44.8-8.6v12.3l-9.6-12.3H111v17.7h3V6.3l10 12.9h2.3V1.5h-3z"
                                                                    id="c" />
                                                            </defs>
                                                        </g>
                                                    </svg></i>
                                            </div>
                                        </div>

                                        <span class="sr-only">Bank of Scotland logo</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="top-header-menu">
                                    <ul class="top-header-right"></ul>

                                    <button class="top-header-menu-open-button" aria-controls="top-header-mobile-nav">
                                        <div class="icon-container">
                                            <div class="shape-container">
                                                <i class="icon icon-open"
                                                    data-svg-path="/etc/designs/bos-personal/clientlibs/icons/hamburger.svg"
                                                    data-selector="icon-hamburger"><svg aria-hidden="true"
                                                        focusable="false" viewBox="0 0 20 17">
                                                        <path
                                                            d="M0,7 L20,7 L20,10 L0,10 L0,7 Z M0,14 L20,14 L20,17 L0,17 L0,14 Z M0,0 L20,0 L20,3 L0,3 L0,0 Z"
                                                            id="Combined-Shape" />
                                                    </svg></i>
                                            </div>
                                        </div>

                                        <span>Menu
                                            <span class="sr-only">
                                                collapsed. (Click/tap to expand)</span></span>
                                    </button>
                                    <button class="top-header-menu-close-button" aria-controls="top-header-mobile-nav"
                                        aria-label="Menu expanded. Click/tap to collapse)">
                                        <div class="icon-container">
                                            <div class="shape-container">
                                                <i class="icon icon-close"
                                                    data-svg-path="/etc/designs/bos-personal/clientlibs/icons/close.svg"
                                                    data-selector="icon-close"><svg aria-hidden="true" focusable="false"
                                                        viewBox="10.5 13.699999999 20 20">
                                                        <polygon class="st3"
                                                            points="30.5,16.3 27.9,13.7 20.5,21 13.1,13.7 10.5,16.3 17.9,23.7 10.5,31 13.1,33.7 20.5,26.3 27.9,33.7 30.5,31 23.1,23.7" />
                                                    </svg></i>
                                            </div>
                                        </div>

                                        <span>Back</span>
                                    </button>
                                    <div role="navigation" class="top-header-mobile-nav js-mobile-navigation hide"
                                        id="top-header-mobile-nav" aria-expanded="false"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="business-header" class="business-header hidden-xs" data-selector="business-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul id="businesses-nav" class="business-nav nav" data-selector="businesses-nav-list"
                                    aria-label="Branch" itemscope itemtype="https://schema.org/SiteNavigationElement">
                                    <li class="current business-nav-li" data-selector="list-item-0">
                                        <a class="current business-nav-a" data-selector="cta-item-0" href="index.html"
                                            itemprop="url" data-tealium-event="Internal Click"
                                            data-tealium-narrative="Personal"><span class="btn-text"
                                                itemprop="name">Personal</span></a>
                                    </li>

                                    <li class=" business-nav-li" data-selector="list-item-1">
                                        <a class=" business-nav-a" data-selector="cta-item-1"
                                            href="https://business.bankofscotland.co.uk/" itemprop="url"
                                            data-tealium-event="External Click" data-tealium-narrative="Business"><span
                                                class="btn-text" itemprop="name">Business</span></a>
                                    </li>

                                    <li class=" business-nav-li" data-selector="list-item-2">
                                        <a class=" business-nav-a" data-selector="cta-item-2" href="privatebanking.html"
                                            itemprop="url" data-tealium-event="Internal Click"
                                            data-tealium-narrative="Private Banking"><span class="btn-text"
                                                itemprop="name">Private Banking</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="nav-header" class="primary-header-row hidden-xs">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-5 hidden-xs top-header-left">
                                <div class="top-header-logo" data-selector="top-header-logo" itemscope
                                    itemtype="http://schema.org/Organization">
                                    <a data-selector="logo-anchor" href="index.html" itemprop="url"
                                        data-tealium-event="Internal Click">
                                        <div class="icon-container">
                                            <div class="shape-container">
                                                <i class="icon"
                                                    data-svg-path="/content/dam/bos-personal/icons/bos_logo.svg"
                                                    data-selector="icon-bos_logo" itemprop="logo"><svg
                                                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                                        focusable="false" viewBox="0 0 206.1 45.8">
                                                        <defs>
                                                            <path
                                                                d="M59.4 2l-26 15.7L7.4 2v10.7L24.5 23 7.4 33.3V44l26-15.7 26 15.7V33.3L42.3 23l17.1-10.3V2zm-26 32.4c-3.2 0-5.8 2.6-5.8 5.7 0 3.2 2.6 5.8 5.7 5.8s5.8-2.6 5.8-5.7c0-3.2-2.5-5.8-5.7-5.8 0-.1 0-.1 0 0zM66.8 23c0 3.2-2.6 5.7-5.8 5.7-3.2 0-5.7-2.6-5.7-5.8 0-3.2 2.6-5.7 5.7-5.7 3.3 0 5.8 2.6 5.8 5.8zM33.4 0c-3.2 0-5.8 2.6-5.8 5.7 0 3.2 2.6 5.8 5.7 5.8s5.8-2.6 5.8-5.7c0-3.2-2.5-5.8-5.7-5.8zM11.5 23c0 3.2-2.6 5.7-5.8 5.7C2.5 28.6 0 26 0 22.9c0-3.2 2.6-5.7 5.7-5.7 3.2 0 5.8 2.6 5.8 5.8z"
                                                                id="a" />
                                                        </defs>
                                                        <path
                                                            d="M59.4 2l-26 15.7L7.4 2v10.7L24.5 23 7.4 33.3V44l26-15.7 26 15.7V33.3L42.3 23l17.1-10.3V2zm-26 32.4c-3.2 0-5.8 2.6-5.8 5.7 0 3.2 2.6 5.8 5.7 5.8s5.8-2.6 5.8-5.7c0-3.2-2.5-5.8-5.7-5.8 0-.1 0-.1 0 0zM66.8 23c0 3.2-2.6 5.7-5.8 5.7-3.2 0-5.7-2.6-5.7-5.8 0-3.2 2.6-5.7 5.7-5.7 3.3 0 5.8 2.6 5.8 5.8zM33.4 0c-3.2 0-5.8 2.6-5.8 5.7 0 3.2 2.6 5.8 5.7 5.8s5.8-2.6 5.8-5.7c0-3.2-2.5-5.8-5.7-5.8zM11.5 23c0 3.2-2.6 5.7-5.8 5.7C2.5 28.6 0 26 0 22.9c0-3.2 2.6-5.7 5.7-5.7 3.2 0 5.8 2.6 5.8 5.8z" />
                                                        <defs>
                                                            <path
                                                                d="M59.4 2l-26 15.7L7.4 2v10.7L24.5 23 7.4 33.3V44l26-15.7 26 15.7V33.3L42.3 23l17.1-10.3V2zm-26 32.4c-3.2 0-5.8 2.6-5.8 5.7 0 3.2 2.6 5.8 5.7 5.8s5.8-2.6 5.8-5.7c0-3.2-2.5-5.8-5.7-5.8 0-.1 0-.1 0 0zM66.8 23c0 3.2-2.6 5.7-5.8 5.7-3.2 0-5.7-2.6-5.7-5.8 0-3.2 2.6-5.7 5.7-5.7 3.3 0 5.8 2.6 5.8 5.8zM33.4 0c-3.2 0-5.8 2.6-5.8 5.7 0 3.2 2.6 5.8 5.7 5.8s5.8-2.6 5.8-5.7c0-3.2-2.5-5.8-5.7-5.8zM11.5 23c0 3.2-2.6 5.7-5.8 5.7C2.5 28.6 0 26 0 22.9c0-3.2 2.6-5.7 5.7-5.7 3.2 0 5.8 2.6 5.8 5.8z"
                                                                id="b" />
                                                        </defs>
                                                        <path
                                                            d="M139.1 29.8h-5.5v14.8h-3.1V29.8H125v-2.9h14.1v2.9zm-38.3-.6c1.3 0 2.7.3 3.9.7V27c-1.3-.4-2.6-.6-3.9-.6-5.4 0-9.5 3.6-9.6 8.8V35.8c.1 5.2 4.2 8.8 9.6 8.8 1.3 0 2.7-.2 3.9-.6v-3c-1.3.4-2.6.7-3.9.7-3.9 0-6.6-2.7-6.5-6.1v-.1-.1c0-3.5 2.6-6.2 6.5-6.2zm64.3 7.8l-2.5-6.6L160 37h5.1zm6.1 7.6H168l-1.9-4.8h-7.2l-1.9 4.9h-3.2l7.2-17.8h3l7.2 17.7zm14.4-17.8v12.4L176 26.9h-2.7v17.7h2.9V31.7l10 12.9h2.3V26.9l-2.9-.1zm-41.2 0v14.8h8.1l-1.4 2.9h-9.8V26.9l3.1-.1zm52.6 15h-2.6v-12h2.6c3.2-.1 5.9 2.4 6 5.6v.4c.1 3.2-2.4 5.9-5.7 6h-.3zm0-14.9h-5.6v17.7h5.6c4.9 0 8.9-4 8.9-8.9s-4-8.8-8.9-8.8zm-116.8.8c1.2-.8 2.5-1.2 3.9-1.2 1.5 0 3 .3 4.4.9v2.8h-.1c-1.3-.6-2.7-1-4.2-1s-3.2.5-3.2 2.1c0 1.1.9 1.8 3.8 2.7s4.8 2.3 4.8 5.3c0 3.2-2.9 5.2-6 5.2-1.8 0-3.5-.5-5.1-1.3v-3h.1c1.5 1 3.2 1.5 5 1.5 1.5 0 3.2-.7 3.2-2.4s-1.7-2.3-3.8-3c-2.4-.7-4.7-2.1-4.7-5 .1-1.4.8-2.7 1.9-3.6zm35.1 14.1c-3.3 0-6-2.7-6-6v-.3c-.4-3.3 2-6.3 5.3-6.6 3.3-.4 6.3 2 6.6 5.3v1.3c.2 3.3-2.4 6.1-5.7 6.3h-.2zm0-15.4c-5 0-9.1 4-9.2 9 0 5 4 9.1 9 9.2s9.1-4 9.2-9v-.1c.1-5-3.9-9-9-9.1.1 0 .1 0 0 0zm58.4-22v4.2h7.4v2.9h-7.4v7.7h-3V1.5h11.2v2.9h-8.2zm-75.9 7.2l2.6-6.6 2.5 6.6h-5.1zm4-10.2h-3l-7.1 17.8h3.2l1.9-4.8h7.2l1.9 4.8h3.2l-7.3-17.8zM88.1 14c0-1.4-1.2-2.5-2.6-2.5h-3.9v5h3.1c2.2 0 3.4-1 3.4-2.5zm-6.4-5.2H85c1.3.1 2.5-.9 2.6-2.2v-.2c0-1.5-1.3-2.2-2.7-2.2h-3.2v4.6zm9.4 5.3c0 3.6-2.8 5.1-6.3 5.1h-6.2V1.5H85c3 0 5.4 1.6 5.4 4.8 0 1.4-.7 2.8-2 3.5 1.7.8 2.7 2.5 2.7 4.3zm48.3-12.6L132 9.8V1.5h-3v17.7h3v-8.5l7.5 8.5h4l-8.1-9.1 7.8-8.7-3.8.1zm25.6 8.6c.3-3.3-2.1-6.2-5.4-6.6-3.3-.3-6.2 2.1-6.6 5.4v1.2c-.3 3.3 2.1 6.2 5.4 6.6 3.3.3 6.2-2.1 6.6-5.4v-1.2zm3.1 0c0 5-4 9-9 9s-9-4-9-9 4-9 9-9 9 4 9 9zm-44.8-8.6v12.3l-9.6-12.3H111v17.7h3V6.3l10 12.9h2.3V1.5h-3z" />
                                                        <g>
                                                            <defs>
                                                                <path
                                                                    d="M139.1 29.8h-5.5v14.8h-3.1V29.8H125v-2.9h14.1v2.9zm-38.3-.6c1.3 0 2.7.3 3.9.7V27c-1.3-.4-2.6-.6-3.9-.6-5.4 0-9.5 3.6-9.6 8.8V35.8c.1 5.2 4.2 8.8 9.6 8.8 1.3 0 2.7-.2 3.9-.6v-3c-1.3.4-2.6.7-3.9.7-3.9 0-6.6-2.7-6.5-6.1v-.1-.1c0-3.5 2.6-6.2 6.5-6.2zm64.3 7.8l-2.5-6.6L160 37h5.1zm6.1 7.6H168l-1.9-4.8h-7.2l-1.9 4.9h-3.2l7.2-17.8h3l7.2 17.7zm14.4-17.8v12.4L176 26.9h-2.7v17.7h2.9V31.7l10 12.9h2.3V26.9l-2.9-.1zm-41.2 0v14.8h8.1l-1.4 2.9h-9.8V26.9l3.1-.1zm52.6 15h-2.6v-12h2.6c3.2-.1 5.9 2.4 6 5.6v.4c.1 3.2-2.4 5.9-5.7 6h-.3zm0-14.9h-5.6v17.7h5.6c4.9 0 8.9-4 8.9-8.9s-4-8.8-8.9-8.8zm-116.8.8c1.2-.8 2.5-1.2 3.9-1.2 1.5 0 3 .3 4.4.9v2.8h-.1c-1.3-.6-2.7-1-4.2-1s-3.2.5-3.2 2.1c0 1.1.9 1.8 3.8 2.7s4.8 2.3 4.8 5.3c0 3.2-2.9 5.2-6 5.2-1.8 0-3.5-.5-5.1-1.3v-3h.1c1.5 1 3.2 1.5 5 1.5 1.5 0 3.2-.7 3.2-2.4s-1.7-2.3-3.8-3c-2.4-.7-4.7-2.1-4.7-5 .1-1.4.8-2.7 1.9-3.6zm35.1 14.1c-3.3 0-6-2.7-6-6v-.3c-.4-3.3 2-6.3 5.3-6.6 3.3-.4 6.3 2 6.6 5.3v1.3c.2 3.3-2.4 6.1-5.7 6.3h-.2zm0-15.4c-5 0-9.1 4-9.2 9 0 5 4 9.1 9 9.2s9.1-4 9.2-9v-.1c.1-5-3.9-9-9-9.1.1 0 .1 0 0 0zm58.4-22v4.2h7.4v2.9h-7.4v7.7h-3V1.5h11.2v2.9h-8.2zm-75.9 7.2l2.6-6.6 2.5 6.6h-5.1zm4-10.2h-3l-7.1 17.8h3.2l1.9-4.8h7.2l1.9 4.8h3.2l-7.3-17.8zM88.1 14c0-1.4-1.2-2.5-2.6-2.5h-3.9v5h3.1c2.2 0 3.4-1 3.4-2.5zm-6.4-5.2H85c1.3.1 2.5-.9 2.6-2.2v-.2c0-1.5-1.3-2.2-2.7-2.2h-3.2v4.6zm9.4 5.3c0 3.6-2.8 5.1-6.3 5.1h-6.2V1.5H85c3 0 5.4 1.6 5.4 4.8 0 1.4-.7 2.8-2 3.5 1.7.8 2.7 2.5 2.7 4.3zm48.3-12.6L132 9.8V1.5h-3v17.7h3v-8.5l7.5 8.5h4l-8.1-9.1 7.8-8.7-3.8.1zm25.6 8.6c.3-3.3-2.1-6.2-5.4-6.6-3.3-.3-6.2 2.1-6.6 5.4v1.2c-.3 3.3 2.1 6.2 5.4 6.6 3.3.3 6.2-2.1 6.6-5.4v-1.2zm3.1 0c0 5-4 9-9 9s-9-4-9-9 4-9 9-9 9 4 9 9zm-44.8-8.6v12.3l-9.6-12.3H111v17.7h3V6.3l10 12.9h2.3V1.5h-3z"
                                                                    id="c" />
                                                            </defs>
                                                        </g>
                                                    </svg></i>
                                            </div>
                                        </div>

                                        <span class="sr-only">Bank of Scotland logo</span>
                                    </a>
                                </div>
                            </div>

                            <ul class="top-header-right">
                                <li>
                                    <a class="top-header-btn top-header-btn--anchor  " data-selector="cta-item-0"
                                        href="https://branches.bankofscotland.co.uk/search" itemprop="url"
                                        itemtype="https://schema.org/SiteNavigationElement"
                                        data-tealium-event="External Click" data-tealium-narrative="Branch Finder"
                                        itemscope>
                                        <div class="icon-container">
                                            <div class="shape-container">
                                                <i class="icon"
                                                    data-svg-path="/content/dam/bos-personal/icons/location.svg"
                                                    data-selector="icon-location"><svg
                                                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                                        focusable="false" viewBox="0 0 19 30">
                                                        <path
                                                            d="M9.375 0C4.197 0 0 4.146 0 9.26 0 13.643 9.375 30 9.375 30S18.75 13.643 18.75 9.26C18.75 4.146 14.554 0 9.375 0m0 13.095c-2.404 0-4.355-1.925-4.355-4.297C5.02 6.422 6.97 4.5 9.375 4.5c2.402 0 4.352 1.922 4.352 4.298 0 2.372-1.95 4.297-4.352 4.297"
                                                            fill="#000" fill-rule="nonzero" />
                                                    </svg></i>
                                            </div>
                                        </div>

                                        <span class="link-text" itemprop="name">Branch Finder</span>
                                    </a>
                                </li>

                                <li>
                                    <a class="top-header-btn top-header-btn--anchor  " data-selector="cta-item-1"
                                        href="helpcentre.html" itemprop="url"
                                        itemtype="https://schema.org/SiteNavigationElement"
                                        data-tealium-event="Internal Click" data-tealium-narrative="Help &amp; Support"
                                        itemscope>
                                        <div class="icon-container">
                                            <div class="shape-container">
                                                <i class="icon"
                                                    data-svg-path="/content/dam/bos-personal/icons/headset.svg"
                                                    data-selector="icon-headset"><svg xmlns="http://www.w3.org/2000/svg"
                                                        aria-hidden="true" focusable="false" viewBox="0 0 28 30">
                                                        <path
                                                            d="M11.263 28.063c-4.057-.832-7.264-4.021-8.143-8.08A5.308 5.308 0 0 1 0 15.145c0-2.21 1.35-4.109 3.268-4.903C3.428 4.56 8.066 0 13.756 0c5.69 0 10.33 4.563 10.486 10.246a5.307 5.307 0 0 1 3.258 4.898c0 2.927-2.367 5.302-5.283 5.302h-.095V10.082c-.24-4.432-3.896-7.959-8.366-7.959-4.57 0-8.29 3.685-8.378 8.256v4.325c0 .534.002.906.002.93h-.002v4.63c.899 2.868 3.283 5.077 6.244 5.71a2.557 2.557 0 0 1 2.127-1.137 2.574 2.574 0 0 1 2.568 2.58A2.577 2.577 0 0 1 13.75 30c-1.195 0-2.2-.824-2.486-1.937"
                                                            fill="#000" fill-rule="nonzero" />
                                                    </svg></i>
                                            </div>
                                        </div>

                                        <span class="link-text" itemprop="name">Help &amp; Support</span>
                                    </a>
                                </li>

                                <li>
                                    <a class="top-header-btn top-header-btn--anchor  " data-selector="cta-item-2"
                                        href="#" itemprop="url" itemtype="https://schema.org/SiteNavigationElement"
                                        data-tealium-event="External Click" data-tealium-narrative="Register" itemscope>
                                        <div class="icon-container">
                                            <div class="shape-container">
                                                <i class="icon"
                                                    data-svg-path="/content/dam/bos-personal/icons/pencil.svg"
                                                    data-selector="icon-pencil"><svg xmlns="http://www.w3.org/2000/svg"
                                                        aria-hidden="true" focusable="false" viewBox="0 0 26 27">
                                                        <g fill="#000" fill-rule="nonzero">
                                                            <path
                                                                d="M25.763 5.79L19.973 0 17.34 2.702l5.957 5.62 2.465-2.532M2.8 17.915l-.638.7-2.08 7.813 7.587-1.713.924-1.007L21.732 10.21 15.775 4.59 2.8 17.915zm-1.223 7.016l1.224-5.417 4.196 4.194-5.42 1.223z" />
                                                        </g>
                                                    </svg></i>
                                            </div>
                                        </div>

                                        <span class="link-text" itemprop="name">Register</span>
                                        <span class="sr-only">for Online Banking</span>
                                    </a>
                                </li>

                                <li>
                                    <a class="top-header-btn top-header-btn--anchor top-header-btn-highlight "
                                        data-selector="cta-item-3" routerLink="/signin" itemprop="url"
                                        itemtype="https://schema.org/SiteNavigationElement"
                                        data-tealium-event="External Click" data-tealium-narrative="Login" itemscope>
                                        <div class="icon-container">
                                            <div class="shape-container">
                                                <i class="icon"
                                                    data-svg-path="/content/dam/bos-personal/icons/padlock.svg"
                                                    data-selector="icon-padlock"><svg xmlns="http://www.w3.org/2000/svg"
                                                        aria-hidden="true" focusable="false" viewBox="0 0 20 28">
                                                        <path
                                                            d="M14.358 10.46V7.75C14.35 5.025 12.203 2.81 9.563 2.81c-2.643 0-4.79 2.215-4.798 4.942l.004 2.708h9.589zM10.96 22.402v-3.198a2.531 2.531 0 0 0 1.02-2.039c0-1.38-1.083-2.5-2.42-2.5-1.336 0-2.42 1.12-2.42 2.5 0 .841.401 1.586 1.019 2.039l.002 3.198h2.8zM0 28V10.46h2.053l-.006-2.71C2.054 3.474 5.42 0 9.563 0s7.507 3.473 7.516 7.75v2.71h2.046V28H0z"
                                                            fill="#000" fill-rule="nonzero" />
                                                    </svg></i>
                                            </div>
                                        </div>

                                        <span class="link-text" itemprop="name">Login</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="c-108-mega-nav hidden-sm-up">
                <div class="menu-container homepage">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="nav1" id="mainnav">
                                    <li data-selector="list-item-0">
                                        <a tabindex="0" data-selector="cta-item-0" href="bankaccounts.html"
                                            itemprop="url" data-tealium-event="Internal Click"
                                            data-tealium-narrative="Bank accounts"><span class="btn-text"
                                                itemprop="name">Bank accounts</span></a>
                                    </li>

                                    <li data-selector="list-item-1">
                                        <a tabindex="0" data-selector="cta-item-1" href="savings.html" itemprop="url"
                                            data-tealium-event="Internal Click" data-tealium-narrative="Savings"><span
                                                class="btn-text" itemprop="name">Savings</span></a>
                                    </li>

                                    <li data-selector="list-item-2">
                                        <a tabindex="0" data-selector="cta-item-2" href="isas.html" itemprop="url"
                                            data-tealium-event="Internal Click" data-tealium-narrative="ISAs"><span
                                                class="btn-text" itemprop="name">ISAs</span></a>
                                    </li>

                                    <li data-selector="list-item-3">
                                        <a tabindex="0" data-selector="cta-item-3" href="investing.html" itemprop="url"
                                            data-tealium-event="Internal Click" data-tealium-narrative="Investing"><span
                                                class="btn-text" itemprop="name">Investing</span></a>
                                    </li>

                                    <li data-selector="list-item-4">
                                        <a tabindex="0" data-selector="cta-item-4" href="creditcards#" itemprop="url"
                                            data-tealium-event="Internal Click"
                                            data-tealium-narrative="Credit Cards"><span class="btn-text"
                                                itemprop="name">Credit Cards</span></a>
                                    </li>

                                    <li data-selector="list-item-5">
                                        <a tabindex="0" data-selector="cta-item-5" href="loans.html" itemprop="url"
                                            data-tealium-event="Internal Click" data-tealium-narrative="Loans"><span
                                                class="btn-text" itemprop="name">Loans</span></a>
                                    </li>

                                    <li data-selector="list-item-6">
                                        <a tabindex="0" data-selector="cta-item-6" href="carfinance.html" itemprop="url"
                                            data-tealium-event="Internal Click"
                                            data-tealium-narrative="Car Finance"><span class="btn-text"
                                                itemprop="name">Car Finance</span></a>
                                    </li>

                                    <li data-selector="list-item-7">
                                        <a tabindex="0" data-selector="cta-item-7" href="mortgages.html" itemprop="url"
                                            data-tealium-event="Internal Click" data-tealium-narrative="Mortgages"><span
                                                class="btn-text" itemprop="name">Mortgages</span></a>
                                    </li>

                                    <li data-selector="list-item-8">
                                        <a tabindex="0" data-selector="cta-item-8" href="insurance.html" itemprop="url"
                                            data-tealium-event="Internal Click" data-tealium-narrative="Insurance"><span
                                                class="btn-text" itemprop="name">Insurance</span></a>
                                    </li>

                                    <li data-selector="list-item-9">
                                        <a tabindex="0" data-selector="cta-item-9"
                                            href="helpcentre/brexit-questions.html" itemprop="url"
                                            data-tealium-event="Internal Click"
                                            data-tealium-narrative="Brexit FAQs"><span class="btn-text"
                                                itemprop="name">Brexit FAQs</span></a>
                                    </li>

                                    <li data-selector="list-item-10">
                                        <a tabindex="0" data-selector="cta-item-10" href="financial-future-hub.html"
                                            itemprop="url" data-tealium-event="Internal Click"
                                            data-tealium-narrative="Financial Future Hub"><span class="btn-text"
                                                itemprop="name">Financial Future Hub</span></a>
                                    </li>

                                    <li data-selector="list-item-11">
                                        <a tabindex="0" data-selector="cta-item-11" href="helpcentre/bereavement.html"
                                            itemprop="url" data-tealium-event="Internal Click"
                                            data-tealium-narrative="Bereavement Support"><span class="btn-text"
                                                itemprop="name">Bereavement Support</span></a>
                                    </li>

                                    <li data-selector="list-item-12">
                                        <a tabindex="0" data-selector="cta-item-12" href="travel.html" itemprop="url"
                                            data-tealium-event="Internal Click" data-tealium-narrative="Travel"><span
                                                class="btn-text" itemprop="name">Travel</span></a>
                                    </li>

                                    <li data-selector="list-item-13">
                                        <a tabindex="0" data-selector="cta-item-13"
                                            href="onlinebankinghelp/international-payments.html" itemprop="url"
                                            data-tealium-event="Internal Click"
                                            data-tealium-narrative="Send money outside the UK"><span class="btn-text"
                                                itemprop="name">Send money outside the
                                                UK</span></a>
                                    </li>

                                    <li data-selector="list-item-14">
                                        <a tabindex="0" data-selector="cta-item-14" href="helpcentre/coronavirus.html"
                                            itemprop="url" data-tealium-event="Internal Click"
                                            data-tealium-narrative="Coronavirus Help"><span class="btn-text"
                                                itemprop="name">Coronavirus Help</span></a>
                                    </li>

                                    <li data-selector="list-item-15">
                                        <a tabindex="0" data-selector="cta-item-15" href="retirement.html"
                                            itemprop="url" data-tealium-event="Internal Click"
                                            data-tealium-narrative="Retirement"><span class="btn-text"
                                                itemprop="name">Retirement</span></a>
                                    </li>

                                    <li data-selector="list-item-16">
                                        <a tabindex="0" data-selector="cta-item-16" href="aboutonline.html"
                                            itemprop="url" data-tealium-event="Internal Click"
                                            data-tealium-narrative="Online Services"><span class="btn-text"
                                                itemprop="name">Online Services</span></a>
                                    </li>

                                    <li data-selector="list-item-17">
                                        <a tabindex="0" data-selector="cta-item-17" href="securityandprivacy.html"
                                            itemprop="url" data-tealium-event="Internal Click"
                                            data-tealium-narrative="Fraud and Privacy"><span class="btn-text"
                                                itemprop="name">Fraud and Privacy</span></a>
                                    </li>

                                    <li data-selector="list-item-18">
                                        <a tabindex="0" data-selector="cta-item-18" href="banking-with-us.html"
                                            itemprop="url" data-tealium-event="Internal Click"
                                            data-tealium-narrative="Banking with us"><span class="btn-text"
                                                itemprop="name">Banking with us</span></a>
                                    </li>

                                    <li data-selector="list-item-19">
                                        <a tabindex="0" data-selector="cta-item-19"
                                            href="contactus/howtocomplain/ppi-info.html" itemprop="url"
                                            data-tealium-event="Internal Click"
                                            data-tealium-narrative="Existing customer PPI information"><span
                                                class="btn-text" itemprop="name">Existing customer PPI
                                                information</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="c-107-breadcrumb-nav breadcrumb">
                <div class="breadcrumb-primary-list-outer-container ">
                    <div class="breadcrumb-primary-list-inner-container container-fluid empty"></div>
                </div>
            </div>
            <script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": []
	}
</script>
        </div>
    </div>

    <div class="c-107-progressive-nav parbase">
        <div class="breadcrumb">
            <div class="progressive-nav js-progressive-nav js-progressive-nav-standalone  progressive-nav--is-homepage">
                <div
                    class="progressive-nav__container js-progressive-nav-container progressive-nav__container--is-homepage container-fluid">
                    <ul class="hidden-sm-up" role="navigation">
                        <li class="progressive-nav__item js-progressive-nav-item">
                            <button class="progressive-nav__dropdown js-progressive-nav-dropdown"
                                aria-controls="progressive-nav-list">
                                All products
                            </button>
                        </li>
                    </ul>
                    <ul role="navigation" id="progressive-nav-list"
                        class="progressive-nav__list js-progressive-nav-list hidden-xs-down"
                        data-selector="progressive-nav">
                        <li class="progressive-nav__item js-progressive-nav-item">
                            <a class="progressive-nav__link" href="bankaccounts.html">Bank accounts</a>
                        </li>

                        <li class="progressive-nav__item js-progressive-nav-item">
                            <a class="progressive-nav__link" href="savings.html">Savings</a>
                        </li>

                        <li class="progressive-nav__item js-progressive-nav-item">
                            <a class="progressive-nav__link" href="isas.html">ISAs</a>
                        </li>

                        <li class="progressive-nav__item js-progressive-nav-item">
                            <a class="progressive-nav__link" href="investing.html">Investing</a>
                        </li>

                        <li class="progressive-nav__item js-progressive-nav-item">
                            <a class="progressive-nav__link" href="creditcards.html">Credit cards</a>
                        </li>

                        <li class="progressive-nav__item js-progressive-nav-item">
                            <a class="progressive-nav__link" href="loans.html">Loans</a>
                        </li>

                        <li class="progressive-nav__item js-progressive-nav-item">
                            <a class="progressive-nav__link" href="carfinance.html">Car Finance</a>
                        </li>

                        <li class="progressive-nav__item js-progressive-nav-item">
                            <a class="progressive-nav__link" href="mortgages.html">Mortgages</a>
                        </li>

                        <li class="progressive-nav__item js-progressive-nav-item">
                            <a class="progressive-nav__link" href="insurance.html">Insurance</a>
                        </li>

                        <li class="progressive-nav__item js-progressive-nav-item">
                            <a class="progressive-nav__link" href="helpcentre/brexit-questions.html">Brexit
                                FAQs</a>
                        </li>

                        <li class="progressive-nav__item js-progressive-nav-item">
                            <a class="progressive-nav__link" href="wealth-management.html">Wealth Management</a>
                        </li>

                        <li class="progressive-nav__item js-progressive-nav-item">
                            <a class="progressive-nav__link" href="financial-future-hub.html">Financial Future
                                Hub</a>
                        </li>

                        <li class="progressive-nav__item js-progressive-nav-item">
                            <a class="progressive-nav__link" href="retirement.html">Retirement</a>
                        </li>

                        <li class="progressive-nav__item js-progressive-nav-item">
                            <a class="progressive-nav__link" href="helpcentre/bereavement.html">Bereavement
                                Support</a>
                        </li>

                        <li class="progressive-nav__item js-progressive-nav-item">
                            <a class="progressive-nav__link" href="helpcentre/coronavirus.html">Coronavirus
                                Help</a>
                        </li>

                        <li class="progressive-nav__item js-progressive-nav-item">
                            <a class="progressive-nav__link" href="travel.html">Travel</a>
                        </li>

                        <li class="progressive-nav__item js-progressive-nav-item">
                            <a class="progressive-nav__link" href="onlinebankinghelp/international-payments.html">Send
                                money outside the
                                UK</a>
                        </li>

                        <li class="progressive-nav__item js-progressive-nav-item">
                            <a class="progressive-nav__link" href="aboutonline.html">Online Services</a>
                        </li>

                        <li class="progressive-nav__item js-progressive-nav-item">
                            <a class="progressive-nav__link" href="securityandprivacy.html">Fraud and
                                Privacy</a>
                        </li>

                        <li class="progressive-nav__item js-progressive-nav-item">
                            <a class="progressive-nav__link" href="banking-with-us.html">Banking with us</a>
                        </li>

                        <li class="progressive-nav__item js-progressive-nav-item">
                            <a class="progressive-nav__link" href="helpcentre.html">Help Centre</a>
                        </li>

                        <li class="progressive-nav__item js-progressive-nav-item">
                            <a class="progressive-nav__link" href="contactus/howtocomplain/ppi-info.html">Existing
                                customer PPI
                                information</a>
                        </li>
                    </ul>
                    <div class="progressive-nav__more hidden">
                        <button aria-controls="progressive-nav-more-list" aria-expanded="false"
                            class="progressive-nav__more-link js-progressive-nav-more-button">
                            More
                        </button>
                        <div class="progressive-nav__more-container">
                            <ul id="progressive-nav-more-list"
                                class="progressive-nav__more-list js-progressive-nav-more-list hidden">
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": []
	}
</script>
    </div>

    <div class="newpar new section"></div>

    <div class="par iparys_inherited"></div>
</header>
