<footer id="footer">
    <div class="c-106-grid-layout base">
        <div class="bg-white ">
            <div class="full-bleed">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 grid-col ">
                        <div class="c-128-social-media-responsive parbase">
                            <div class="container-fluid">
                                <div class="parent-share-wrapper">
                                    <ul class="parent-share-list" id="share-wrapper">
                                        <li>
                                            <a data-selector="cta-item-print" href="javascript: window.print();"
                                                aria-label="Print now link">
                                                <div class="icon-container">
                                                    <div class="shape-container">
                                                        <i data-svg-path="/content/dam/bos-personal/icons/print.svg"
                                                            data-selector="icon-print"><svg
                                                                xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                                                focusable="false" viewBox="0 0 1000 1000">
                                                                <path
                                                                    d="M898.7 300.7H755.3V10H244.7v290.7H101.3c-27.3 0-49.4 22.1-49.4 49.4v349.3c0 27.3 22.1 49.4 49.4 49.4h112.8V668h30.6v322h510.6V668h30.6v80.8h112.8c27.3 0 49.4-22.1 49.4-49.4V350c0-27.2-22.1-49.3-49.4-49.3zM704.5 862L647 939.2H295.5V668h409v194zm0-561.3h-409V60.8h409v239.9z" />
                                                                <path
                                                                    d="M356.6 716.8h296.6v50.8H356.6zM356.6 820.6h296.6v50.8H356.6z" />
                                                            </svg></i>
                                                    </div>
                                                </div>

                                                <span class="hidden-xs">Print</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-selector="cta-item-email" href="mailto:?subject=I found a helpful link on  https://www.bankofscotland.co.uk/personal.html&body=Hi,%0A%0AI found this on the Bankofscotland site and wanted to share it with you:
										Personal https://www.bankofscotland.co.uk/personal.html" aria-label="Send a email now link">
                                                <div class="icon-container">
                                                    <div class="shape-container">
                                                        <i data-svg-path="/content/dam/bos-personal/icons/email.svg"
                                                            data-selector="icon-email"><svg
                                                                xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                                                focusable="false" viewBox="0 0 30 20">
                                                                <g fill="#000" fill-rule="nonzero">
                                                                    <path d="M30 0H0l15 8.51L30 0" />
                                                                    <path
                                                                        d="M15 10.752L0 2.432V19.46h30V2.432l-15 8.32" />
                                                                </g>
                                                            </svg></i>
                                                    </div>
                                                </div>

                                                <span class="hidden-xs">Email</span>
                                            </a>
                                        </li>

                                        <li>
                                            <button id="share-button" class="share-button"
                                                data-selector="cta-item-share-button"
                                                data-tealium-event="External Click" data-tealium-narrative="Share">
                                                <div class="firefox-container">
                                                    <div class="icon-container">
                                                        <div class="shape-container">
                                                            <i class="icon"
                                                                data-svg-path="/content/dam/bos-personal/icons/share.svg"
                                                                data-selector="icon-share"><svg
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    aria-hidden="true" focusable="false"
                                                                    viewBox="0 0 24 16">
                                                                    <path
                                                                        d="M0 15.7S1.8 6 13.6 4.6V0L24 7.9 13.6 16v-4.8S4.5 10 0 15.7"
                                                                        fill="#000" />
                                                                </svg></i>
                                                        </div>
                                                    </div>

                                                    <span class="hidden-xs">Share</span>
                                                    <span class="sr-only">Please Enter to access social
                                                        media links</span>
                                                </div>
                                            </button>

                                            <div class="social-share-wrapper">
                                                <ul class="social-share-list">
                                                    <li>
                                                        <a id="Twitter" class="social-share"
                                                            data-selector="cta-item-Twitter"
                                                            href="https://twitter.com/share"
                                                            data-tealium-event="External Click">
                                                            <div class="icon-container">
                                                                <div class="shape-container">
                                                                    <i class="icon"
                                                                        data-svg-path="/content/dam/bos-personal/icons/twitter.svg"
                                                                        data-selector="icon-twitter"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            aria-hidden="true" focusable="false"
                                                                            viewBox="0 0 24 20">
                                                                            <path
                                                                                d="M24 2.3c-.9.4-1.8.7-2.8.8 1-.6 1.8-1.6 2.1-2.7-.9.5-2 .9-3.1 1.2C19.3.6 18 0 16.6 0c-2.7 0-4.9 2.2-4.9 4.9 0 .4 0 .8.1 1.2C7.7 5.9 4.1 3.9 1.7.9c-.5.7-.7 1.6-.7 2.5 0 1.7.9 3.2 2.2 4.1-.8 0-1.6-.2-2.2-.6V7c0 2.4 1.7 4.4 3.9 4.8-.4.1-.8.2-1.3.2-.3 0-.6 0-.9-.1.6 2 2.4 3.4 4.6 3.4-1.7 1.4-3.8 2.2-6.1 2.2-.4 0-.8-.1-1.2-.1 2.2 1.4 4.8 2.2 7.5 2.2 9.1 0 14.1-7.5 14.1-14.1 0-.2 0-.4-.1-.6 1-.7 1.8-1.6 2.5-2.6"
                                                                                fill="#000" />
                                                                        </svg></i>
                                                                </div>
                                                            </div>

                                                            <span class="sr-only">share on Twitter</span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a id="LinkedIn" class="social-share"
                                                            data-selector="cta-item-LinkedIn"
                                                            href="https://www.linkedin.com/shareArticle"
                                                            data-tealium-event="External Click">
                                                            <div class="icon-container">
                                                                <div class="shape-container">
                                                                    <i class="icon"
                                                                        data-svg-path="/content/dam/bos-personal/icons/linkedin.svg"
                                                                        data-selector="icon-linkedin"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            aria-hidden="true" focusable="false"
                                                                            viewBox="0 0 24 24">
                                                                            <path
                                                                                d="M22.2 0c1 0 1.8.8 1.8 1.7v20.6c0 .9-.8 1.7-1.8 1.7H1.8c-1 0-1.8-.8-1.8-1.7V1.7C0 .8.8 0 1.8 0h20.4zM3.6 20.5h3.5V9H3.6v11.5zm16.9 0v-6.3c0-3.1-.7-5.5-4.3-5.5-1.8 0-2.9 1-3.4 1.9V9H9.4v11.5h3.5v-5.7c0-1.5.3-3 2.1-3 1.9 0 1.9 1.8 1.9 3.1v5.6h3.6zM5.3 7.4c1.2 0 2.1-.9 2.1-2 0-1.2-.9-2.1-2.1-2.1-1.1 0-2 .9-2 2.1 0 1.1.9 2 2 2z"
                                                                                fill="#000" />
                                                                        </svg></i>
                                                                </div>
                                                            </div>

                                                            <span class="sr-only">share on Linkedin</span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a id="Facebook" class="social-share"
                                                            data-selector="cta-item-Facebook"
                                                            href="https://www.facebook.com/sharer/sharer.php"
                                                            data-tealium-event="External Click">
                                                            <div class="icon-container">
                                                                <div class="shape-container">
                                                                    <i class="icon"
                                                                        data-svg-path="/content/dam/bos-personal/icons/facebook.svg"
                                                                        data-selector="icon-facebook"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            aria-hidden="true" focusable="false"
                                                                            viewBox="0 0 24 24">
                                                                            <path
                                                                                d="M22.7 0H1.3C.6 0 0 .6 0 1.3v21.4c0 .7.6 1.3 1.3 1.3h11.5v-9.3H9.7v-3.6h3.1V8.4c0-3.1 1.9-4.8 4.7-4.8 1.3 0 2.4.1 2.8.2V7h-1.9c-1.5 0-1.8.7-1.8 1.8v2.3h3.5l-.4 3.6h-3.1V24h6.1c.7 0 1.3-.6 1.3-1.3V1.3c0-.7-.6-1.3-1.3-1.3"
                                                                                fill="#000" />
                                                                        </svg></i>
                                                                </div>
                                                            </div>

                                                            <span class="sr-only">share on Facebook</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="c-106-grid-layout base">
        <div class="bg-primary-color no-padding">
            <div class="full-bleed">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 grid-col ">
                        <div class="c-106-grid-layout base">
                            <div class="bg-primary-color padded">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6 grid-col "></div>

                                        <div class="col-xs-12 col-sm-6 col-md-6 grid-col ">
                                            <div class="c-266-back-to-top parbase">
                                                <button class="btt ">
                                                    <span class="btt-text-full">Back to Top</span>
                                                    <span class="btt-text-short">Top</span>

                                                    <div class="icon-container">
                                                        <div class="shape-container">
                                                            <i
                                                                data-svg-path="/etc/designs/bos-personal/clientlibs/icons/chevron-up.svg"
                                                                data-selector="icon-chevron-up"><svg
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    aria-hidden="true" focusable="false" version="1.1"
                                                                    viewBox="-1.897 4 24 16">
                                                                    <g fill-rule="evenodd" stroke="none"
                                                                        stroke-width="1">
                                                                        <g>
                                                                            <polygon
                                                                                points="4 0 4 4.83365323 13.2961421 12 4 19.1663468 4 24 20 12.0460653"
                                                                                transform="translate(12.000000, 12.000000) rotate(270.000000) translate(-12.000000, -12.000000) " />
                                                                        </g>
                                                                    </g>
                                                                </svg></i>
                                                        </div>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="c-106-grid-layout base">
                            <div class="bg-primary-color ">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 grid-col ">
                                            <div class="c-253-divider parbase">
                                                <hr class="divider" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="c-106-grid-layout base">
                            <div class="bg-primary-color padded">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-3 grid-col ">
                                            <div class="c-251-link-list parbase">
                                                <div class="link-list  ">
                                                    <h3 class="link-list-header">
                                                        Help &amp; guidance
                                                    </h3>

                                                    <div class="link-list-container"
                                                        id="94e4774f-d908-4480-a753-a8ef15831ee7/footer/c_106_grid_layout/col_1/par/c_106_grid_layout/col_1/par/c_251_link_list">
                                                        <ul class="link-list-links">
                                                            <li data-selector="list-item-0" class="featured quick-link">
                                                                <div class="icon-container">
                                                                    <div class="shape-container">
                                                                        <i class="icon"
                                                                            data-svg-path="/content/dam/bos-personal/icons/location.svg"
                                                                            data-selector="icon-location"><svg
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                aria-hidden="true" focusable="false"
                                                                                viewBox="0 0 19 30">
                                                                                <path
                                                                                    d="M9.375 0C4.197 0 0 4.146 0 9.26 0 13.643 9.375 30 9.375 30S18.75 13.643 18.75 9.26C18.75 4.146 14.554 0 9.375 0m0 13.095c-2.404 0-4.355-1.925-4.355-4.297C5.02 6.422 6.97 4.5 9.375 4.5c2.402 0 4.352 1.922 4.352 4.298 0 2.372-1.95 4.297-4.352 4.297"
                                                                                    fill="#000" fill-rule="nonzero" />
                                                                            </svg></i>
                                                                    </div>
                                                                </div>

                                                                <a data-selector="cta-item-0"
                                                                    href="https://branches.bankofscotland.co.uk/search"
                                                                    itemprop="url" data-tealium-event="External Click"
                                                                    data-tealium-action="Link Click"
                                                                    data-tealium-narrative="Find a branch"
                                                                    data-tealium-tracking="null"
                                                                    data-tealium-listener="null"
                                                                    data-tealium-value="null"><span class="btn-text"
                                                                        itemprop="name">Find a
                                                                        branch</span><span class="sr-only">Branch
                                                                        Finder</span></a>
                                                            </li>

                                                            <li data-selector="list-item-1" class="featured quick-link">
                                                                <div class="icon-container">
                                                                    <div class="shape-container">
                                                                        <i class="icon"
                                                                            data-svg-path="/content/dam/bos-personal/icons/twitter.svg"
                                                                            data-selector="icon-twitter"><svg
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                aria-hidden="true" focusable="false"
                                                                                viewBox="0 0 24 20">
                                                                                <path
                                                                                    d="M24 2.3c-.9.4-1.8.7-2.8.8 1-.6 1.8-1.6 2.1-2.7-.9.5-2 .9-3.1 1.2C19.3.6 18 0 16.6 0c-2.7 0-4.9 2.2-4.9 4.9 0 .4 0 .8.1 1.2C7.7 5.9 4.1 3.9 1.7.9c-.5.7-.7 1.6-.7 2.5 0 1.7.9 3.2 2.2 4.1-.8 0-1.6-.2-2.2-.6V7c0 2.4 1.7 4.4 3.9 4.8-.4.1-.8.2-1.3.2-.3 0-.6 0-.9-.1.6 2 2.4 3.4 4.6 3.4-1.7 1.4-3.8 2.2-6.1 2.2-.4 0-.8-.1-1.2-.1 2.2 1.4 4.8 2.2 7.5 2.2 9.1 0 14.1-7.5 14.1-14.1 0-.2 0-.4-.1-.6 1-.7 1.8-1.6 2.5-2.6"
                                                                                    fill="#000" />
                                                                            </svg></i>
                                                                    </div>
                                                                </div>

                                                                <a data-selector="cta-item-1"
                                                                    href="https://twitter.com/BankofScotland"
                                                                    itemprop="url" data-tealium-event="External Click"
                                                                    data-tealium-action="Link Click"
                                                                    data-tealium-narrative="Tweet us"
                                                                    data-tealium-tracking="null"
                                                                    data-tealium-listener="null"
                                                                    data-tealium-value="null"><span class="btn-text"
                                                                        itemprop="name">Tweet
                                                                        us</span><span
                                                                        class="sr-only">Twitter</span></a>
                                                            </li>

                                                            <li data-selector="list-item-2" class="featured quick-link">
                                                                <div class="icon-container">
                                                                    <div class="shape-container">
                                                                        <i class="icon"
                                                                            data-svg-path="/content/dam/bos-personal/icons/phone.svg"
                                                                            data-selector="icon-phone"><svg
                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                aria-hidden="true" focusable="false"
                                                                                viewBox="0 0 13 30">
                                                                                <path
                                                                                    d="M12.5 3.203l-6.233 6.944-1.68-1.309a14.506 14.506 0 0 0-1.31 7.446 14.67 14.67 0 0 0 1.329 4.918l1.66-1.294 6.213 6.925L8.22 30C3.242 26.637 0 21.17 0 15 0 8.833 3.242 3.365 8.226 0l3.682 2.74.592.463"
                                                                                    fill="#000" fill-rule="nonzero" />
                                                                            </svg></i>
                                                                    </div>
                                                                </div>

                                                                <a data-selector="cta-item-2"
                                                                    href="contactus/phone.html" itemprop="url"
                                                                    data-tealium-event="Internal Click"
                                                                    data-tealium-action="Link Click"
                                                                    data-tealium-narrative="Call us"
                                                                    data-tealium-tracking="null"
                                                                    data-tealium-listener="null"
                                                                    data-tealium-value="null"><span class="btn-text"
                                                                        itemprop="name">Call
                                                                        us</span><span
                                                                        class="sr-only">details</span></a>
                                                            </li>

                                                            <li data-selector="list-item-3" class=" quick-link">
                                                                <a data-selector="cta-item-3"
                                                                    href="contactus/signvideo.html" itemprop="url"
                                                                    data-tealium-event="Internal Click"
                                                                    data-tealium-action="Link Click"
                                                                    data-tealium-narrative="SignVideo"
                                                                    data-tealium-tracking="null"
                                                                    data-tealium-listener="null"
                                                                    data-tealium-value="null"><span class="btn-text"
                                                                        itemprop="name">SignVideo</span></a>
                                                            </li>

                                                            <li data-selector="list-item-4" class=" quick-link">
                                                                <a data-selector="cta-item-4"
                                                                    href="contactus/complain.html" itemprop="url"
                                                                    data-tealium-event="Internal Click"
                                                                    data-tealium-action="Link Click"
                                                                    data-tealium-narrative="How to complain"
                                                                    data-tealium-tracking="null"
                                                                    data-tealium-listener="null"
                                                                    data-tealium-value="null"><span class="btn-text"
                                                                        itemprop="name">How to
                                                                        complain</span></a>
                                                            </li>

                                                            <li data-selector="list-item-5" class=" quick-link">
                                                                <a data-selector="cta-item-5" href="helpcentre.html"
                                                                    itemprop="url" data-tealium-event="Internal Click"
                                                                    data-tealium-action="Link Click"
                                                                    data-tealium-narrative="Help Centre"
                                                                    data-tealium-tracking="null"
                                                                    data-tealium-listener="null"
                                                                    data-tealium-value="null"><span class="btn-text"
                                                                        itemprop="name">Help
                                                                        Centre</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-3 grid-col ">
                                            <div class="c-251-link-list parbase">
                                                <div class="link-list  expandable">
                                                    <h3 class="link-list-header">
                                                        <button class="link-list-button visible-xs"
                                                            aria-controls="94e4774f-d908-4480-a753-a8ef15831ee7/footer/c_106_grid_layout/col_1/par/c_106_grid_layout/col_2/par/c_251_link_list"
                                                            aria-expanded="false"
                                                            id="94e4774f-d908-4480-a753-a8ef15831ee7/footer/c_106_grid_layout/col_1/par/c_106_grid_layout/col_2/par/c_251_link_list-button">
                                                            Our Products
                                                            <span class="sr-only">expandable
                                                                section</span>
                                                        </button>
                                                        <span class="link-list-button hidden-xs">Our
                                                            Products</span>
                                                    </h3>

                                                    <div class="link-list-container"
                                                        id="94e4774f-d908-4480-a753-a8ef15831ee7/footer/c_106_grid_layout/col_1/par/c_106_grid_layout/col_2/par/c_251_link_list">
                                                        <ul class="link-list-links">
                                                            <li data-selector="list-item-0" class=" quick-link">
                                                                <a data-selector="cta-item-0" href="bankaccounts.html"
                                                                    itemprop="url" data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="Bank Accounts"><span
                                                                        class="btn-text" itemprop="name">Bank
                                                                        Accounts</span></a>
                                                            </li>

                                                            <li data-selector="list-item-1" class=" quick-link">
                                                                <a data-selector="cta-item-1"
                                                                    href="bankaccounts/overdrafts.html" itemprop="url"
                                                                    data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="Overdrafts"><span
                                                                        class="btn-text"
                                                                        itemprop="name">Overdrafts</span></a>
                                                            </li>

                                                            <li data-selector="list-item-2" class=" quick-link">
                                                                <a data-selector="cta-item-2" href="savings.html"
                                                                    itemprop="url" data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="Savings"><span
                                                                        class="btn-text"
                                                                        itemprop="name">Savings</span></a>
                                                            </li>

                                                            <li data-selector="list-item-3" class=" quick-link">
                                                                <a data-selector="cta-item-3" href="isas.html"
                                                                    itemprop="url" data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="ISAs"><span class="btn-text"
                                                                        itemprop="name">ISAs</span></a>
                                                            </li>

                                                            <li data-selector="list-item-4" class=" quick-link">
                                                                <a data-selector="cta-item-4" href="investing.html"
                                                                    itemprop="url" data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="Investing"><span
                                                                        class="btn-text"
                                                                        itemprop="name">Investing</span></a>
                                                            </li>

                                                            <li data-selector="list-item-5" class=" quick-link">
                                                                <a data-selector="cta-item-5" href="creditcards.html"
                                                                    itemprop="url" data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="Credit Cards"><span
                                                                        class="btn-text" itemprop="name">Credit
                                                                        Cards</span></a>
                                                            </li>

                                                            <li data-selector="list-item-6" class=" quick-link">
                                                                <a data-selector="cta-item-6" href="loans.html"
                                                                    itemprop="url" data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="Loans"><span
                                                                        class="btn-text"
                                                                        itemprop="name">Loans</span></a>
                                                            </li>

                                                            <li data-selector="list-item-7" class=" quick-link">
                                                                <a data-selector="cta-item-7" href="carfinance.html"
                                                                    itemprop="url" data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="Car Finance"><span
                                                                        class="btn-text" itemprop="name">Car
                                                                        Finance</span></a>
                                                            </li>

                                                            <li data-selector="list-item-8" class=" quick-link">
                                                                <a data-selector="cta-item-8" href="mortgages.html"
                                                                    itemprop="url" data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="Mortgages"><span
                                                                        class="btn-text"
                                                                        itemprop="name">Mortgages</span></a>
                                                            </li>

                                                            <li data-selector="list-item-9" class=" quick-link">
                                                                <a data-selector="cta-item-9" href="insurance.html"
                                                                    itemprop="url" data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="Insurance"><span
                                                                        class="btn-text"
                                                                        itemprop="name">Insurance</span></a>
                                                            </li>

                                                            <li data-selector="list-item-10" class=" quick-link">
                                                                <a data-selector="cta-item-10"
                                                                    href="onlinebankinghelp/international-payments.html"
                                                                    itemprop="url" data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="Send money abroad"><span
                                                                        class="btn-text" itemprop="name">Send
                                                                        money
                                                                        abroad</span></a>
                                                            </li>

                                                            <li data-selector="list-item-11" class=" quick-link">
                                                                <a data-selector="cta-item-11" href="retirement.html"
                                                                    itemprop="url" data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="Retirement"><span
                                                                        class="btn-text"
                                                                        itemprop="name">Retirement</span></a>
                                                            </li>

                                                            <li data-selector="list-item-12" class=" quick-link">
                                                                <a data-selector="cta-item-12" href="travel.html"
                                                                    itemprop="url" data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="Travel"><span
                                                                        class="btn-text"
                                                                        itemprop="name">Travel</span></a>
                                                            </li>

                                                            <li data-selector="list-item-13" class=" quick-link">
                                                                <a data-selector="cta-item-13"
                                                                    href="https://business.bankofscotland.co.uk/"
                                                                    itemprop="url" data-tealium-event="External Click"
                                                                    data-tealium-narrative="Business Banking"><span
                                                                        class="btn-text" itemprop="name">Business
                                                                        Banking</span></a>
                                                            </li>

                                                            <li data-selector="list-item-14" class=" quick-link">
                                                                <a data-selector="cta-item-14"
                                                                    href="privatebanking.html" itemprop="url"
                                                                    data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="Private Banking"><span
                                                                        class="btn-text" itemprop="name">Private
                                                                        Banking</span></a>
                                                            </li>

                                                            <li data-selector="list-item-15" class=" quick-link">
                                                                <a data-selector="cta-item-15"
                                                                    href="wealth-management.html" itemprop="url"
                                                                    data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="Wealth Management"><span
                                                                        class="btn-text" itemprop="name">Wealth
                                                                        Management</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-3 grid-col ">
                                            <div class="c-251-link-list parbase">
                                                <div class="link-list  expandable">
                                                    <h3 class="link-list-header">
                                                        <button class="link-list-button visible-xs"
                                                            aria-controls="94e4774f-d908-4480-a753-a8ef15831ee7/footer/c_106_grid_layout/col_1/par/c_106_grid_layout/col_3/par/c_251_link_list"
                                                            aria-expanded="false"
                                                            id="94e4774f-d908-4480-a753-a8ef15831ee7/footer/c_106_grid_layout/col_1/par/c_106_grid_layout/col_3/par/c_251_link_list-button">
                                                            Our Services
                                                            <span class="sr-only">expandable
                                                                section</span>
                                                        </button>
                                                        <span class="link-list-button hidden-xs">Our
                                                            Services</span>
                                                    </h3>

                                                    <div class="link-list-container"
                                                        id="94e4774f-d908-4480-a753-a8ef15831ee7/footer/c_106_grid_layout/col_1/par/c_106_grid_layout/col_3/par/c_251_link_list">
                                                        <ul class="link-list-links">
                                                            <li data-selector="list-item-0" class=" quick-link">
                                                                <a data-selector="cta-item-0"
                                                                    href="aboutonline/what-can-i-do-online.html"
                                                                    itemprop="url" data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="What&#39;s new"><span
                                                                        class="btn-text" itemprop="name">What&#39;s
                                                                        new</span></a>
                                                            </li>

                                                            <li data-selector="list-item-1" class=" quick-link">
                                                                <a data-selector="cta-item-1"
                                                                    href="helpcentre/service-status.html" itemprop="url"
                                                                    data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="Service status"><span
                                                                        class="btn-text" itemprop="name">Service
                                                                        status</span></a>
                                                            </li>

                                                            <li data-selector="list-item-2" class=" quick-link">
                                                                <a data-selector="cta-item-2"
                                                                    href="aboutonline/mobile-banking.html"
                                                                    itemprop="url" data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="Mobile app"><span
                                                                        class="btn-text" itemprop="name">Mobile
                                                                        app</span></a>
                                                            </li>

                                                            <li data-selector="list-item-3" class=" quick-link">
                                                                <a data-selector="cta-item-3"
                                                                    href="aboutonline/tablet-app.html" itemprop="url"
                                                                    data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="Tablet app"><span
                                                                        class="btn-text" itemprop="name">Tablet
                                                                        app</span></a>
                                                            </li>

                                                            <li data-selector="list-item-4" class=" quick-link">
                                                                <a data-selector="cta-item-4" href="aboutonline.html"
                                                                    itemprop="url" data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="Internet Banking"><span
                                                                        class="btn-text" itemprop="name">Internet
                                                                        Banking</span></a>
                                                            </li>

                                                            <li data-selector="list-item-5" class=" quick-link">
                                                                <a data-selector="cta-item-5"
                                                                    href="helpcentre/mobile-payments.html"
                                                                    itemprop="url" data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="Apple Pay &amp; Google Pay"><span
                                                                        class="btn-text" itemprop="name">Apple
                                                                        Pay &amp;
                                                                        Google Pay</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-3 grid-col ">
                                            <div class="c-251-link-list parbase">
                                                <div class="link-list  expandable">
                                                    <h3 class="link-list-header">
                                                        <button class="link-list-button visible-xs"
                                                            aria-controls="94e4774f-d908-4480-a753-a8ef15831ee7/footer/c_106_grid_layout/col_1/par/c_106_grid_layout/col_4/par/c_251_link_list"
                                                            aria-expanded="false"
                                                            id="94e4774f-d908-4480-a753-a8ef15831ee7/footer/c_106_grid_layout/col_1/par/c_106_grid_layout/col_4/par/c_251_link_list-button">
                                                            About Bank of Scotland
                                                            <span class="sr-only">expandable
                                                                section</span>
                                                        </button>
                                                        <span class="link-list-button hidden-xs">About Bank of
                                                            Scotland</span>
                                                    </h3>

                                                    <div class="link-list-container"
                                                        id="94e4774f-d908-4480-a753-a8ef15831ee7/footer/c_106_grid_layout/col_1/par/c_106_grid_layout/col_4/par/c_251_link_list">
                                                        <ul class="link-list-links">
                                                            <li data-selector="list-item-0" class=" quick-link">
                                                                <a data-selector="cta-item-0"
                                                                    href="https://www.lloydsbankinggroup.com/careers/bankofscotland/"
                                                                    itemprop="url" data-tealium-event="External Click"
                                                                    data-tealium-narrative="Careers"><span
                                                                        class="btn-text"
                                                                        itemprop="name">Careers</span></a>
                                                            </li>

                                                            <li data-selector="list-item-1" class=" quick-link">
                                                                <a data-selector="cta-item-1"
                                                                    href="helpcentre/about-bank-of-scotland/in-your-community.html"
                                                                    itemprop="url" data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="In your community"><span
                                                                        class="btn-text" itemprop="name">In your
                                                                        community</span></a>
                                                            </li>

                                                            <li data-selector="list-item-2" class=" quick-link">
                                                                <a data-selector="cta-item-2"
                                                                    href="bankaccounts/international-banking.html"
                                                                    itemprop="url" data-tealium-event="Internal Click"
                                                                    data-tealium-narrative="Bank of Scotland International"><span
                                                                        class="btn-text" itemprop="name">Bank of
                                                                        Scotland
                                                                        International</span></a>
                                                            </li>

                                                            <li data-selector="list-item-3" class=" quick-link">
                                                                <a data-selector="cta-item-3"
                                                                    href="https://www.bankofscotland.de/" itemprop="url"
                                                                    data-tealium-event="External Click"
                                                                    data-tealium-narrative="Bank of Scotland Germany"><span
                                                                        class="btn-text" itemprop="name">Bank of
                                                                        Scotland
                                                                        Germany</span></a>
                                                            </li>

                                                            <li data-selector="list-item-4" class=" quick-link">
                                                                <a data-selector="cta-item-4"
                                                                    href="https://www.lloydsbankinggroup.com/investors/financial-downloads.html"
                                                                    itemprop="url" data-tealium-event="External Click"
                                                                    data-tealium-narrative="Financial performance"><span
                                                                        class="btn-text" itemprop="name">Financial
                                                                        performance</span></a>
                                                            </li>

                                                            <li data-selector="list-item-5" class=" quick-link">
                                                                <a data-selector="cta-item-5"
                                                                    href="https://www.lloydsbankinggroup.com/"
                                                                    itemprop="url" data-tealium-event="External Click"
                                                                    data-tealium-narrative="Lloyds Banking Group"><span
                                                                        class="btn-text" itemprop="name">Lloyds
                                                                        Banking
                                                                        Group</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="c-105-footer parbase">
                            <div class="container-fluid">
                                <div>
                                    <div class="footer bg-secondary-color">
                                        <div class="row">
                                            <div class="col-sm-9 footer-links">
                                                <a data-selector="Legal information"
                                                    href="helpcentre/legal-information.html"
                                                    data-tealium-event="Internal Click" data-tealium-action="Link Click"
                                                    data-tealium-narrative="Legal information"
                                                    data-tealium-tracking="null" data-tealium-listener="null"
                                                    data-tealium-value="null"><span class="btn-text">Legal
                                                        information</span></a>

                                                <a data-selector="Accessibility" href="accessibility.html"
                                                    data-tealium-event="Internal Click" data-tealium-action="Link Click"
                                                    data-tealium-narrative="Accessibility" data-tealium-tracking="null"
                                                    data-tealium-listener="null" data-tealium-value="null"><span
                                                        class="btn-text">Accessibility</span></a>

                                                <a data-selector="Cookies" href="securityandprivacy/cookies.html"
                                                    data-tealium-event="Internal Click" data-tealium-action="Link Click"
                                                    data-tealium-narrative="Cookies" data-tealium-tracking="null"
                                                    data-tealium-listener="null" data-tealium-value="null"><span
                                                        class="btn-text">Cookies</span></a>

                                                <a data-selector="Privacy"
                                                    href="securityandprivacy/privacy-explained.html"
                                                    data-tealium-event="Internal Click" data-tealium-action="Link Click"
                                                    data-tealium-narrative="Privacy" data-tealium-tracking="null"
                                                    data-tealium-listener="null" data-tealium-value="null"><span
                                                        class="btn-text">Privacy</span></a>

                                                <a data-selector="Security" href="securityandprivacy.html"
                                                    data-tealium-event="Internal Click" data-tealium-action="Link Click"
                                                    data-tealium-narrative="Security" data-tealium-tracking="null"
                                                    data-tealium-listener="null" data-tealium-value="null"><span
                                                        class="btn-text">Security</span></a>

                                                <a data-selector="Site map" href="sitemap.html"
                                                    data-tealium-event="Internal Click" data-tealium-action="Link Click"
                                                    data-tealium-narrative="Site map" data-tealium-tracking="null"
                                                    data-tealium-listener="null" data-tealium-value="null"><span
                                                        class="btn-text">Site
                                                        map</span></a>
                                            </div>

                                            <div class="col-sm-3 social-links bg-tertiary-color">
                                                <a data-selector="cta-item-0"
                                                    href="https://en-gb.facebook.com/bankofscotland/"
                                                    data-tealium-event="External Click" data-tealium-action="Link Click"
                                                    data-tealium-tracking="null" data-tealium-listener="null"
                                                    data-tealium-value="null" target="_blank">
                                                    <div class="icon-container">
                                                        <div class="shape-container">
                                                            <i class="icon"
                                                                data-svg-path="/content/dam/bos-personal/icons/facebook.svg"
                                                                data-selector="icon-facebook">
                                                                <svg
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    aria-hidden="true" focusable="false"
                                                                    viewBox="0 0 24 24">
                                                                    <path
                                                                        d="M22.7 0H1.3C.6 0 0 .6 0 1.3v21.4c0 .7.6 1.3 1.3 1.3h11.5v-9.3H9.7v-3.6h3.1V8.4c0-3.1 1.9-4.8 4.7-4.8 1.3 0 2.4.1 2.8.2V7h-1.9c-1.5 0-1.8.7-1.8 1.8v2.3h3.5l-.4 3.6h-3.1V24h6.1c.7 0 1.3-.6 1.3-1.3V1.3c0-.7-.6-1.3-1.3-1.3"
                                                                        fill="#000" />
                                                                </svg>
                                                            </i>
                                                        </div>
                                                    </div>

                                                    <span class="sr-only">Visit the Bank of Scotland
                                                        Facebook page. Opens in a new
                                                        browser window.</span>
                                                </a>

                                                <a data-selector="cta-item-1" href="https://twitter.com/BankofScotland"
                                                    data-tealium-event="External Click" data-tealium-action="Link Click"
                                                    data-tealium-tracking="null" data-tealium-listener="null"
                                                    data-tealium-value="null" target="_blank">
                                                    <div class="icon-container">
                                                        <div class="shape-container">
                                                            <i class="icon"
                                                                data-svg-path="/content/dam/bos-personal/icons/twitter.svg"
                                                                data-selector="icon-twitter"><svg
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    aria-hidden="true" focusable="false"
                                                                    viewBox="0 0 24 20">
                                                                    <path
                                                                        d="M24 2.3c-.9.4-1.8.7-2.8.8 1-.6 1.8-1.6 2.1-2.7-.9.5-2 .9-3.1 1.2C19.3.6 18 0 16.6 0c-2.7 0-4.9 2.2-4.9 4.9 0 .4 0 .8.1 1.2C7.7 5.9 4.1 3.9 1.7.9c-.5.7-.7 1.6-.7 2.5 0 1.7.9 3.2 2.2 4.1-.8 0-1.6-.2-2.2-.6V7c0 2.4 1.7 4.4 3.9 4.8-.4.1-.8.2-1.3.2-.3 0-.6 0-.9-.1.6 2 2.4 3.4 4.6 3.4-1.7 1.4-3.8 2.2-6.1 2.2-.4 0-.8-.1-1.2-.1 2.2 1.4 4.8 2.2 7.5 2.2 9.1 0 14.1-7.5 14.1-14.1 0-.2 0-.4-.1-.6 1-.7 1.8-1.6 2.5-2.6"
                                                                        fill="#000" />
                                                                </svg></i>
                                                        </div>
                                                    </div>

                                                    <span class="sr-only">Visit the Bank of Scotland
                                                        Twitter page. Opens in a new
                                                        browser window.</span>
                                                </a>

                                                <a data-selector="cta-item-2"
                                                    href="https://www.youtube.com/user/bankofscotland"
                                                    data-tealium-event="External Click" data-tealium-action="Link Click"
                                                    data-tealium-tracking="null" data-tealium-listener="null"
                                                    data-tealium-value="null" target="_blank">
                                                    <div class="icon-container">
                                                        <div class="shape-container">
                                                            <i class="icon"
                                                                data-svg-path="/content/dam/bos-personal/icons/youtube-white.svg"
                                                                data-selector="icon-youtube-white"><svg
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    aria-hidden="true" focusable="false"
                                                                    viewBox="0 0 24 16">
                                                                    <g fill="none">
                                                                        <path
                                                                            d="M12 0S7 0 3.6.2c-.5.1-1.5.1-2.4 1-.7.7-1 2.3-1 2.3S0 5.3 0 7.1v1.8c0 1.8.2 3.6.2 3.6s.3 1.6 1 2.3c.9.9 2.1.9 2.6 1 2 .1 8.2.2 8.2.2s5 0 8.4-.2c.5-.1 1.5-.1 2.4-1 .7-.7 1-2.3 1-2.3s.2-1.8.2-3.6V7.1c0-1.8-.2-3.6-.2-3.6s-.3-1.6-1-2.3c-.9-.9-1.9-.9-2.4-1C17 0 12 0 12 0z"
                                                                            fill="#fff" />
                                                                        <path d="M9 12l8-4-8-4z" fill="#000" />
                                                                    </g>
                                                                </svg></i>
                                                        </div>
                                                    </div>

                                                    <span class="sr-only">Visit the Bank of Scotland
                                                        YouTube page. Opens in a new
                                                        browser window.</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="newpar new section"></div>

    <div class="par iparys_inherited"></div>
</footer>