<app-admin-dashboard-header [name]="userDetails?.fullName"></app-admin-dashboard-header>

<div class="main-content-wrapper" style="opacity: 1; margin-top: 206px; transition: opacity 0.05s ease 0.2s, margin-top 0.2s ease-in 0s;" resizer="" offset-elements="['.main-header']">
    <!-- uiView: content -->
    <div ui-view="content" class="main-content ng-scope">
        <div class="dash-body ng-scope">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="dash-section transact-history">
                            <h4>Deposit</h4>
                            <div>
                                <div class="container">
                                    <form name="form" class="ng-pristine ng-valid" novalidate="">

                                        <div class="col-lg-12">
                                            <div class="card-body">

                                                <div class="tab-content">
                                                    <div class="tab-pane fade show active" id="nav-tab-card">
                                                        <!--                                                        <p class="alert alert-success">Some text success or error</p>-->
                                                        <form role="form" [formGroup]="depositForm">
                                                            <div class="form-group">
                                                                <label for="amount">Amount</label>
                                                                <input type="number" id="amount" class="form-control"
                                                                       [ngClass]="displayFieldCss('amount', depositForm)"
                                                                       name="amount" placeholder="Amount" formControlName="amount">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="user">Select User</label>
                                                                <select id="user" class="ng-pristine ng-untouched ng-valid ng-empty"
                                                                        [ngClass]="displayFieldCss('userId', depositForm)"
                                                                        formControlName="userId">
                                                                  <option value="" selected>Select User</option>
                                                                 <option *ngFor="let user of userList"
                                                                         value="{{user.userId}}">
                                                                   {{user.fullName}}     -     {{user.balance | number}}
                                                                </option>
                                                              </select>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="transactionType">Select Transaction Type</label>
                                                                <select id="transactionType"
                                                                        [ngClass]="displayFieldCss('transactionType', depositForm)"
                                                                        class="ng-pristine ng-untouched ng-valid ng-empty" formControlName="transactionType">
                                                              <option value="" selected>Select Transaction Type</option>
                                                              <option value="CREDIT">Credit</option>
                                                              <option value="DEBIT">Debit</option>
                                                            </select>
                                                            </div>

                                                            <button [disabled]="!depositForm.valid" type="button" (click)="onClick()" class="subscribe btn btn-primary
                                                            btn-block" data-toggle="pill"> Proceed
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
