.bricklayer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.bricklayer-column-sizer {
  width: 100%;
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .bricklayer-column-sizer {
    width: 100%;
  }
}

@media screen and (min-width: 721px) and (max-width: 1140px) {
  .bricklayer-column-sizer {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .bricklayer-column-sizer {
    width: 50%;
  }
}

.bricklayer-column {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 850px) {
  .amt-graph .bank-bal p.avail-bal-amt {
    font-size: 36px;
   }
}