.palette-0 {
  border-bottom: 3px solid #bf3e0c !important;
}

.palette-0.advert {
  background-color: #bf3e0c !important;
  transition: background-color 0.5s ease;
}

.palette-1 {
  border-bottom: 3px solid #f07cdc !important;
}

.palette-1.advert {
  background-color: #f07cdc !important;
  transition: background-color 0.5s ease;
}

.palette-2 {
  border-bottom: 3px solid #0c679b !important;
}

.palette-2.advert {
  background-color: #0c679b !important;
  transition: background-color 0.5s ease;
}

.palette-3 {
  border-bottom: 3px solid #e07524 !important;
}

.palette-3.advert {
  background-color: #e07524 !important;
  transition: background-color 0.5s ease;
}

.palette-4 {
  border-bottom: 3px solid #949bee !important;
}

.palette-4.advert {
  background-color: #949bee !important;
  transition: background-color 0.5s ease;
}

.palette-5 {
  border-bottom: 3px solid #267d97 !important;
}

.palette-5.advert {
  background-color: #267d97 !important;
  transition: background-color 0.5s ease;
}

.palette-6 {
  border-bottom: 3px solid #8688e1 !important;
}

.palette-6.advert {
  background-color: #8688e1 !important;
  transition: background-color 0.5s ease;
}

.palette-7 {
  border-bottom: 3px solid #db34af !important;
}

.palette-7.advert {
  background-color: #db34af !important;
  transition: background-color 0.5s ease;
}

.palette-8 {
  border-bottom: 3px solid #461c31 !important;
}

.palette-8.advert {
  background-color: #461c31 !important;
  transition: background-color 0.5s ease;
}

.palette-9 {
  border-bottom: 3px solid #1aba33 !important;
}

.palette-9.advert {
  background-color: #1aba33 !important;
  transition: background-color 0.5s ease;
}

.palette-10 {
  border-bottom: 3px solid #0e6184 !important;
}

.palette-10.advert {
  background-color: #0e6184 !important;
  transition: background-color 0.5s ease;
}

/*# sourceMappingURL=compiled.css.map */
