.dashboardImg {
  max-width:26px;
  height:26px
}

.global-view,.dashboard {
  height:100%;
}
.chain select:last-child {
  border-bottom-color: #0a1958;
}
.chain select:first-child {
  border-top-color: #0a1958;
}
.chain select:first-child:last-child{
  border: 1px solid #cacaca;
}
.modal-content h4 {
  text-transform: uppercase;
}
.close-button.small {
  font-size: smaller;
}
.hide {
  visibility: hidden;
}
[equalizer-item] > * {
  height:100%;
}
[equalizer-item]
{
   margin-bottom: 5px;
}
.main-header{
  display: block;
  position: fixed;
  top:0px;
  margin:0;
  padding:0;
  width:100%;
  -webkit-transition: top 0.25s;
  -moz-transition: top 0.25s;
  -ms-transition: top 0.25s;
  -o-transition: top 0.25s;
  transition: top 0.25s;
  box-shadow: 0px 1px 5px #888888;
  z-index: 1000;
}

.profile-content li label {
  font-weight: bold;
  font-size: small;
  margin-bottom: 15px;
}
.profile-content li label span,.profile-content li label input {
  font-weight: normal;
  font-size: normal;
  display: block;
}
.profile-content{
  width: 100%;
}

.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '2 .column.column-1-2';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

@media screen and (max-width: 0em), screen and (max-width: 40em) {
 .deckgrid[deckgrid]::before {
        content: '1 .column.column-1-1';
    } }

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-2 {
    width: 50%;
}

/* Spinner */
.spinner {
  margin: 10px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}
.spinner-wrapper {
  margin-bottom:10px;
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
}
.spinner + .message {
  font-size: small;
  font-weight: 100;
  color:grey;
  text-align: center;
  padding-bottom: 20px
}
.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.error-msg-no-margin
{
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #FD1F1F;
}
/**/

.profile-avatar{
  height:200px;
  width: 165px;
  position: absolute;
  top:0;
  left:0;
}
.width-10{
  width: 10%;
}
.width-5{
  width: 5%;
}
.width-15{
  width: 15%;
}
.width-20{
  width:20%;
}
.width-28{
  width:28%;
}
.width-8{
  width:8%;
}
.width-18{
  width:18%;
}
.width-85{
  width: 85%;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text);
    font-size: small;
    color: #a5a5a5;
}

.well{
  box-shadow: inset 2px 2px 1px rgba(0,0,0,.05);
  border-radius: 3px;
  padding: 5px 5px;
  min-height: 40px;
    /*padding: 19px;*/
  /*  margin-bottom: 20px;*/
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}
.selected-accounts li {
  float:left;
  margin-right: 5px;
}
.selected-accounts li:last-child {
  float: none !important;
}
.required-field {
/*  background:url(../img/arrows.png) no-repeat;
  background-position: 98% 10%;*/
  background-image: radial-gradient(red 20%, transparent 25%);
  background-size: 1em 1em;
  background-position: top right;
  background-repeat: no-repeat

}
.avatar
{
  border-radius: 50%;
  width:64px;
  height:64px;
  float:left;
  margin-right: 10px;

}
.profile-avatar-default > i{
 position: relative;
 font-size: 10em;
 background-color: #f1f1f1;
 padding: 20px;
}
.profile-avatar-wrapper{
 /* padding-right: 30px;*/
  display: inline-block;
}
.profile-avatar-default > button {
  width: auto;
}
.profile-item {
  padding: 10px 10px;
  display: inline-block;
  vertical-align: top;
}
.profile-item ul{
display: inline-block
}
.profile-avatar-default{
  position: relative;
}
 .top-right{
  position: absolute;
  top:2%;
  right:5%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.loading-message {
color:white;
}
.slide{
  display: none;
}
/* password strength */
input.ng-pristine + ul#strength {
    display:none;
}
.info-link{
    margin-left: 5px;
    margin-right: 5px;
}
ul.pwd-strength {
    display:inline;
    list-style:none;
    margin:0;
   /* margin-left:15px;*/
    padding:0;
    vertical-align:2px;
}
.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}

@media screen and (min-width: 639px) {
.columns.nopadding-left {
  padding-left: 0;
}
.columns.nopadding-right {
  padding-right: 0;
}
.columns.nopadding {
  padding-right: 0;
  padding-left:0;
  }
.align-text-right {
  text-align: right !important;
}

.align-text-left {
  text-align: left !important;
}
}
/**********************/

.icon-button{
  background-color: transparent;
  border: 0px solid #ccc;
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}

.page-fields input[type="text"],.page-fields textarea, .page-fields input[type="number"],.page-fields input[type="password"],.page-fields input[type="email"],.page-fields input[type="search"],.page-fields select{
  max-width: 268px !important;
}
button[disabled]{
    color: grey !important;
    background-color: #e0e0e0 !important;
    border:none;
}
/* added to fix top */
.top-header {
  position: fixed !important;
  top: 0px !important;
  width: 100% !important;
  box-shadow: 0px 1px 5px #888888;
  z-index: 1001;

}
.main-nav {
  margin-top: 50px !important;
}
/***********************/
.confirm-limits .limit-input input, .confirm-limits .limit-input input:focus
{
    background: transparent !important;
    padding: 0px !important;
    border-width: 0px !important;
    cursor: default;
}
.borderless-input
{
    background: transparent !important;
    padding: 0px !important;
    border-width: 0px !important;
    cursor: pointer;
    margin-bottom: 5px !important;
}
.hover-input{
  border-width:1px !important;
  cursor: auto;
  padding: 10px 15px !important;
}
.main-content,.main-content-wrapper{
  background: #f0f4f7;
  height:100%;
}
.terms-link {
  color:#0e237e;
  font-weight: bold;
  cursor: pointer;
}
.terms-link:hover {
  text-decoration: underline;
}
.message-content
{
  font-size: 12px !important;
}

.section-body{
  padding: 20px;
}
/*custom style for select boxes*/
.modal-content .ui-select-container {
  margin-bottom: 30px;
}
.ui-select-match {
  padding: 10px 0px !important;
}
.break {
  word-wrap: break-word;
}
h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.125em;
}

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.125em;
}
.closingBalance {
  text-align: right;
}
.openingBalance{
  float: right;
  text-align: right !important;
}

.success-alert {
  background-color: #43AC6A;
  border-color: #3a945b;
  font-size: 13px;
  padding: 6px 15px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
span.success-msg {
  display: block;
  margin-top: -20px;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 20px;
  color: green;
}
span.error-msg {
  display: block;
  margin-top: -20px;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #FD1F1F;
}

.error-field {
  border: 1px solid #FD1F1F !important;
  background: #FFF9F9 !important;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.btns {
  padding: 10px 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  font-size: 1em;
}

.green-btn {
  background: #78b945;
  color: #fff;
  font-size: 14px;
}
.warning-btn{background-color: orange;color: white}
.green-btn:hover {
  color: #fff;
}
.red-btn {
  background: red;
  color: #fff;
  font-size: 14px;
}
.green{color: green}
.red{color: red}
.red-btn:hover {
  color: #fff;
}
.callout.warning {
  background-color: #FFC781;
}

.callout.alert {
  background-color: #FF6B6B;
}

.border {
  border: 2px solid #0e237e;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  padding: 8px 30px;
  color: #0e237e;
  background: #fff;
}

.border:focus {
  outline: none;
  color: #fff;
  background-color: #0e237e;
}

.success-alert {
  background-color: #43AC6A;
  border-color: #3a945b;
  font-size: 13px;
  padding: 6px 15px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

span.error-msg {
  display: block;
  margin-top: -20px;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #FD1F1F;
}

.error-field {
  border: 1px solid #FD1F1F !important;
  background: #FFF9F9 !important;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="password"] {
  width: 100%;
  border: none;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  padding: 10px 15px;
  margin-bottom: 25px;
  box-sizing: border-box; -moz-box-sizing:border-box ;;
  font-size: 0.875em;
  height: inherit;
  box-shadow: none;
}

input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  box-shadow: none !important;
  border: 1px solid #0e237e !important;
}

.divider {
  border-bottom: 1px solid #F5F5F5;
  height: 1px;
}

select {
  padding: 10px 10px;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  border: 1px solid #ccc;
  width: 100%;
  height: inherit;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-family: "Open Sans", sans-serif;
  display: block;
  font-size: 0.875em;
  margin-bottom: 30px;
  background: url(../img/arrows.png) no-repeat;
  background-position: 95% 50%;
}
.modal-form .ui-select-container{
  margin-bottom: 20px;
}
.accountName {
    font-size: 0.75em;
  color: #828282;
}
/*.ui-select-match {
  padding: 10px 10px;
  border: 1px solid #ccc;
  width: 100%;
  height: inherit;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-family: "Open Sans", sans-serif;
  display: block;
  font-size: 0.875em;
  margin-bottom: 30px;
}*/

textarea {
  width: 100%;
  border: none;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  padding: 10px 15px;
  margin-bottom: 25px;
  box-sizing: border-box; -moz-box-sizing:border-box ;;
  font-size: 0.875em;
  height: inherit;
  box-shadow: none;
  min-height: 100px;
}

input[type="submit"] {
  text-transform: uppercase;
  border: none;
  outline: none;
}

/* Styles added to make template work */
.btns {
  text-transform: uppercase;
  border: none;
  outline: none;
}



/*  end */
button {
  border: none;
}

.hamburger {
  padding: 0;
  float: right;
  padding: 18px 15px 0;
  display: none;
  outline: none;
  background: transparent;
}

.hamburger:focus {
  outline: none !important;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #fff;
  width: 30px;
}

.hamburger-box {
  width: 30px;
}

.success-alert {
  background-color: #43AC6A;
  border-color: #3a945b;
  font-size: 13px;
  padding: 6px 15px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

span.error-msg {
  display: block;
  margin-top: -20px;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #FD1F1F;
}

span.error-list-item{
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #FD1F1F;
  margin: 0px !important;
}

.error-field {
  border: 1px solid #FD1F1F !important;
  background: #FFF9F9 !important;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

a, a:hover {
  text-decoration: none;
}

.box-shadow, .dash-section {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.03), 1px 1px 1px rgba(0, 0, 0, 0.03), 0 1px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.03), 1px 1px 1px rgba(0, 0, 0, 0.03), 0 1px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.03), 1px 1px 1px rgba(0, 0, 0, 0.03), 0 1px 1px rgba(0, 0, 0, 0.12);
}

/********** LOGIN PAGE **********/
.login-bg {
  width: 100%;
  height: 100%;
  display: table;
  background: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
 /* background-position: center center;*/
}

.login-form-ctn {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.login-form, .register-form, .pw-success {
  max-width: 350px;
  margin: 100px auto 100px;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  padding: 25px;
}

.guide-ctn {
  max-width: 350px;
  /*margin: 100px auto 100px;*/
  margin:0px auto;
  background: transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  padding: 25px;
}


.login-form p.sign-text, .guide-ctn p.sign-text, .register-form p.sign-text, .pw-success p.sign-text {
  color: #0e237e;
  font-size: 1.25em;
  margin-top: 0;
}
.guide-ctn p.sign-text {
    color: white;
}
.login-form p.sign-text span, .register-form p.sign-text span, .guide-ctn p.sign-text span, .pw-success p.sign-text span {
  display: block;
  margin-top: 0px;
}

.login-form .input-field, .register-form .input-field, .pw-success .input-field {
  border: 1px solid #0e237e;
}

.login-form .input-field input, .register-form .input-field input, .guide-ctn .input-field input, .pw-success .input-field input {
  border-bottom: none;
  padding: 0;
  margin-bottom: 0;
}

.login-form .input-field input:focus, .register-form .input-field input:focus, .guide-ctn .input-field input:focus, .pw-success .input-field input:focus {
  border: none;
  box-shadow: none;
}

.login-form .form-field input[type="email"], .login-form .form-field input[type="text"], .login-form .form-field input[type="password"], .register-form .form-field input[type="email"], .register-form .form-field input[type="text"], .register-form .form-field input[type="password"], .guide-ctn .form-field input[type="email"], .guide-ctn .form-field input[type="text"], .guide-ctn .form-field input[type="password"], .pw-success .form-field input[type="email"], .pw-success .form-field input[type="text"], .pw-success .form-field input[type="password"] {
  border: 1px solid #757679;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  padding: 10px 15px;
  margin-bottom: 25px;
  box-sizing: border-box; -moz-box-sizing:border-box ;;
  font-size: 0.8125em;
  height: inherit;
}

.login-form .form-field input[type="email"]:focus, .login-form .form-field input[type="text"]:focus, .login-form .form-field input[type="password"]:focus, .register-form .form-field input[type="email"]:focus, .register-form .form-field input[type="text"]:focus, .register-form .form-field input[type="password"]:focus, .guide-ctn .form-field input[type="email"]:focus, .guide-ctn .form-field input[type="text"]:focus, .guide-ctn .form-field input[type="password"]:focus, .pw-success .form-field input[type="email"]:focus, .pw-success .form-field input[type="text"]:focus, .pw-success .form-field input[type="password"]:focus {
  box-shadow: none;
  border: 1px solid #0e237e;
}

.login-form .form-field input[type="submit"], .register-form .form-field input[type="submit"], .guide-ctn .form-field input[type="submit"], .pw-success .form-field input[type="submit"],.login-form .form-field .btns, .register-form .form-field .btns ,.row.reg-button-wrapper .columns button{
  border: none;
  width: 100%;
  margin-top: 0px;
  font-weight: 600;
  padding: 15px 10px;
  text-transform: uppercase;
}

.login-form .form-field .div-breaker, .register-form .form-field .div-breaker, .guide-ctn .form-field .div-breaker, .pw-success .form-field .div-breaker {
  width: 50px;
  height: 1px;
  background: #888a8c;
  margin: 20px auto;
}

.login-form .form-field .forgot-pw, .register-form .form-field .forgot-pw, .guide-ctn .form-field .forgot-pw, .pw-success .form-field .forgot-pw {
  margin-bottom: 20px;
  margin-top: -15px;
  color: #444;
  font-size: 0.75em;
  text-align: right;
  display: block;
}

.login-form .form-field p.new-act, .register-form .form-field p.new-act, .guide-ctn .form-field p.new-act, .pw-success .form-field p.new-act {
  text-align: center;
  color: #888a8c;
  font-size: 0.875em;
  font-weight: 600;
}

.login-form .form-field p.new-act a, .register-form .form-field p.new-act a, .guide-ctn .form-field p.new-act a, .pw-success .form-field p.new-act a {
  display: inline-block;
  color: #78b945;
  font-size: 1em;
}

.login-form .form-field .code-resend, .register-form .form-field .code-resend, .guide-ctn .form-field .code-resend, .pw-success .form-field .code-resend {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  margin: 0 15px;
  color: #5F5D5D;
  margin-top: 25px;
  text-decoration: underline;
}

.form-logo {
  text-align: right;
}

.login-footer {
  font-size: 0.875em;
  position: fixed;
  width: 100%;
  bottom: 0px;
  vertical-align: bottom;
 /* background: #4D7DEC;*/
 background-color: transparent;
  padding: 10px 0;
}

.login-footer .row {
  margin-bottom: 0;
}

.login-footer p {
  color: #fff;
  margin: 0;
  font-size: 0.875em;
}

.login-footer ul {
  text-align: right;
  margin: 0;
  padding: 0;
}

.login-footer ul li {
  display: inline-block;
  padding: 0 10px;
  font-size: 0.875em;
  border-right: 1px solid #fff;
}

.login-footer ul li:last-child {
  border-right: none;
}

.login-footer ul li a {
  color: #fff;
}

.logo-right {
  display: block;
  text-align: right;
  border-bottom: 1px solid #ccc;
  font-weight: 600;
}

.logo-right .row {
  margin-bottom: 0;
}

.logo-right img {
  margin-top: 15px;
  margin-bottom: 20px;
}

.guide, .rw-password, .step-form {
  display: block !important;
}

.returntohome {
  position: absolute;
  top: 25px;
  color: #fff;
}

.returntohome a {
/*  color: #0e237e;*/
color:white;
}

.returntohome a i {
  margin-right: 10px;
}

.register-form {
  max-width: 700px;
  margin: 100px auto 180px;
  padding: 0;
}

.register-form .row {
  margin-bottom: 0;
}

.register-form .half-width {
  width: 50%;
}

.register-form .steps {
  background: #f5f4f8;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.register-form .steps .num {
  display: inline-block;
  float: left;
  width: 36px;
  height: 36px;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid #5b5a59;
  text-align: center;
  color: #176864;
  margin: 0 10px 0 0;
  font-weight: 600;
  position: relative;
}
.dashboard-error{
  margin-left: 10px;
  margin-right: 10px;
}
.register-form .steps .num .dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin: 8px;
  display: none;
  background: #5b5a59;
}

.register-form .steps .num i {
  margin-top: -28px;
  /* margin-top: -28px; changed to make it centered.*/
  display: none !important;
  color: #fff;
}

.register-form .steps span.info {
  float: left;
  margin-top: 7px;
  text-transform: uppercase;
}

.register-form .steps ul {
  margin: 0;
  padding: 0;
}

.register-form .steps ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  width: 32%;
}

.register-form .steps ul li:first-child {
  margin-left: 0;
}

.register-form .steps ul li.active {
  font-weight: 600;
  color: #5b5a59;
}

.register-form .steps ul li.active .num {
  border: 1px solid #5b5a59;
}

.register-form .steps ul li.active .dot {
  display: inline-block;
}

.register-form .steps ul li.done {
  color: #0e237e;
  font-weight: 600;
}

.register-form .steps ul li.done .num {
  border: none;
}

.register-form .steps ul li.done .dot {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: -4px;
  background: #79bb44;
}

.register-form .steps ul li.done i {
  display: block !important;
}

.card-confirm {
  margin-top: 20px;
  display: none;
}

.card-confirm input[type="submit"] {
  margin-top: 20px !important;
}

#ccard, #cbranch {
  margin-right: 20px;
}

.branch-confirm {
  display: none;
  text-align: center;
}

.guide-ctn {
  /*max-width: 500px;*/
  width: 500px;
  margin: 0px auto 100px;
  background: transparent;
  padding: 25px 30px 25px;
}

.guide-ctn .btn-half {
  margin-top: 40px !important;
  margin-bottom: 0 !important;
}

.guide-ctn h3 {
  text-align: left;
  color: #fff;
  padding-top: 0px;
  /*margin-bottom: 30px;*/
}

.coop-banking a {
  color: #0e237e;
  text-align: center;
  display: block;
  font-size: 13px;
  font-weight: 600;
}

.login-proceed {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  font-weight: 600;
}

.login-proceed a {
  color: #c4c6d0;
}

.confirm-instruct {
  margin-bottom: 30px;
  font-size: 0.875em;
}

.cfm-ctn {
  padding-top: 25px;
}
.cfm-ctn p {
    color: white;
}

.cfm-ctn .row {
  margin-bottom: 0;
}

.cfm-ctn select {
  display: inline-block;
  width: 47%;
  margin-right: 10px;
}

.cfm-ctn select.last {
  margin-right: 0;
}

.cfm-ctn a.return {
  display: block;
  text-align: center;
  color: #444;
  margin-top: 15px;
  font-size: 14px;
  text-decoration: underline;
}

.guide-steps {
  margin-top: 30px;
}

.guide-steps .step-num {
  float: left;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #e0e1e2;
  color: #0e237e;
  font-size: 1em;
  padding: 6px 14px;
  font-weight: 600;
}

.guide-steps p {
  float: left;
  width: 87%;
  margin: 0;
  color: #fff;
  margin-top: -5px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 1.125em;
}

.guide-steps p span {
  display: block;
  margin-top: 0px;
  font-weight: normal;
    color: #fff;
  font-size: 0.875em !important;
}

.form-pad {
  padding: 30px 25px 40px;
}

.step-3-form {
  padding: 30px 0px !important;
}

.personal-section {
  padding: 30px 25px 10px;
}

.btn-half {
  width: 50% !important;
  margin: 20px auto;
  display: block;
  margin-top: 20px !important;
  text-transform: uppercase;
}

.pull-width {
  margin-left: -10px;
}

.top-header {
  background: #fff;
  padding: 13px 0 10px;
  text-align: right;
}

.main-nav {
  background: #05286a;
  padding: 15px 0;
  color: #fff;
}

.main-nav .row {
  margin-bottom: 0;
}

.greet {
/*  font-size: 1.875em;*/
  font-weight: 300;
  margin: 0;
  font-size: 1.5em;
  //float: left;
}

.greet span {
  display: block;
  font-size: 13px;
}

.greet span a {
  color: #fff;
}

.greet span a i {
  font-size: 10px;
  margin-left: 3px;
}

.navicons {
  padding: 5px 0;
}

.navicons ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

.navicons ul li {
  display: inline-block;
  padding: 0 25px;
  text-align: center;
  border-left: 1px solid #3E4D8F;
}

.navicons ul li:last-child {
  padding-right: 0;
}

.navicons ul li img {
  display: block;
  margin-bottom: 5px;
  margin: 0 auto;
}

.navicons ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
}

.navicons ul li a span {
  display: block;
  margin-top: 11px;
}

.acct-do-more {
  background: #fff;
  text-align: left;
  padding: 8px 15px;
  width: 143px;
  position: absolute;
  right: 0px;
  margin-right: 10px;
  margin-top: 7px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(185, 183, 183, 0.42);
  display: none;
}

.acct-do-more::before {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
}

.acct-do-more a {
  display: block;
  font-size: 12px;
  padding: 7px 0;
  color: #444;
  font-weight: 600;
}

.acct-do-more a:hover {
  color: #0e237e;
}

.mega-menu {
  background: rgba(36, 58, 128, 0.95);
  padding: 30px 0 20px;
  z-index: 1001;
  display: none;
  position: fixed;
  width: 100%;
  margin-top: -1px;
}

.mega-menu .nav-box {
  color: #fff;
  margin-bottom: 40px;
}

.mega-menu .nav-box p {
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 18px;
  margin-bottom: 0;
}

.mega-menu .nav-box p span {
  display: block;
  width: 60px;
  border-bottom: 1px solid #415592;
  padding-top: 10px;
}

.mega-menu .nav-box ul li {
  margin-bottom: 5px;
  font-size: 14px;
}

.mega-menu .nav-box ul li a {
  color: #fff;
}

.dash-body {
  background: #f0f4f7;
  padding: 50px 0;
}

.dash-section {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  margin-bottom: 30px;
}

.dash-section p {
  margin: 0;
}

.dash-section .section-title {
  background: #FBFBFB;
  padding: 12px 20px;
  border-bottom: 1px solid #E4E4E4;
}

.dash-section .section-title p {
  color: #7a7a7a;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.dash-section .section-title p span {
  float: right;
}

.dash-section .section-footer {
  border-top: 1px solid #ccc;
   /*padding: 5px 20px; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
  position: relative;
}

.dash-section .section-footer ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

.dash-section .section-footer ul li {
  display: inline-block;
  margin-left: 0px;
  font-weight: 600;
}
.dash-section .section-footer ul li:last-child a {
  padding-right:20px;
}
.dash-section .section-footer ul li ul.menu {
  border-radius: 2px;
  box-shadow: #B3B3B3 1px 2px 7px;
  border: none;
  background: white;
  right: 0 !important;
  margin-left: -40px;
  min-width: 145px !important;
}
.account-menu{
  border-radius: 2px;
  border: none;
  background: white;
  right: 0 !important;
  margin-left: -40px;
  min-width: 145px !important;
}
.dash-section .section-footer ul li ul.menu li,.account-menu li {
  text-align: left;
}

.dash-section .section-footer ul li ul.menu li a:hover ,.account-menu li a:hover{
  color: #0e237e;
}

.dash-section .section-footer ul li a ,.account-menu li a{
  color: #7a7a7a;
  font-size: 12px;
  padding: 0.7rem .7rem;
}

.dash-section .section-footer ul li a:hover {
  color: #0e237e;
}

.dash-section.updates-ctn h4 {
  padding: 20px 20px 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: #0e237e;
  font-size: 14px;
  margin: 0;
}

.dash-section.updates-ctn ul {
  margin: 0;
  padding: 0;
}

.dash-section.updates-ctn ul li {
  padding: 20px;
  font-size: 13px;
}

.dash-section.updates-ctn ul li:nth-child(even) {
  background: #F5F5F5;
}

.dash-section.updates-ctn ul li:nth-child(odd) {
  background: #FFF;
}

.dash-section.updates-ctn a {
  display: block;
  padding: 20px 10px;
  text-align: center;
  text-transform: uppercase;
  color: #646464;
  font-size: 13px;
  font-weight: 600;
}

.dash-section.updates-ctn a i {
  margin-left: 5px;
  color: #0e237e;
}

.transact-ctn h4, .list h4 {
  text-transform: uppercase;
  font-weight: 700;
  color: #0e237e;
  font-size: 14px;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #E4E4E4;
}

.transact-ctn a.notify, .list a.notify {
  display: block;
  padding: 20px 10px;
  text-align: center;
  text-transform: uppercase;
  color: #646464;
  font-size: 13px;
  font-weight: 600;
}

.transact-ctn a.notify i, .list a.notify i {
  margin-left: 5px;
  color: #0e237e;
}

.transact-ctn ul, .list ul {
  margin: 0;
  padding: 0;
}

.transact-ctn ul li, .list ul li {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}

.transact-ctn ul li.date, .list ul li.date {
  width: 15%;
}

.transact-ctn ul li.trans, .list ul li.trans {
  width: 30%;
}

.transact-ctn ul li.acct, .list ul li.acct {
  width: 35%;
}

.transact-ctn ul li.amt, .list ul li.amt {
  width: 15%;
}

.transact-ctn ul li.fee, .list ul li.fee {
  width: 10%;
}

.transact-ctn ul li span, .list ul li span {
  display: none !important;
}

.list {
  padding: 20px 20px 20px;
  border-bottom: 1px solid #E4E4E4;
}

.list li {
  font-weight: 400 !important;
  text-transform: none !important;
  font-size: 13px !important;
}

.dash-section.overview-ctn h4 {
  padding: 20px 20px 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #0e237e;
  font-size: 14px;
  margin: 0;
}

a.canvasjs-chart-credit {
  display: none !important;
}

#acctGraph {
  width: 93%;
  height: 320px;
  padding: 0 20px 20px;
}

.amt-graph {
  padding: 20px;
}

.amt-graph .bank-bal, .amt-graph .other-bank-det {
  float: left;
  width: 50%;
}

.amt-graph .other-bank-det .account-name {
  font-size:16px !important;
  colour: #444 !important;
  display: block;
  text-align: right !important;
}

.amt-graph .other-bank-det .account-name-small{
  font-size:14px !important;
  margin-bottom: 2px !important;
}

.amt-graph .bank-bal {
  text-align: left;
}

.amt-graph .bank-bal p.avail-bal {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  color: #AFAFAF;
}

.amt-graph .bank-bal p.avail-bal-amt {
  font-size: 40px;
  font-weight: 700;
  margin-top: 2px;
  color: #525252;
}

.amt-graph .bank-bal p.avail-bal-amt.small-balance {
  font-size: 24px;
  padding-bottom: 25px;
}

.amt-graph .bank-bal p.avail-bal-amt span {
  display: inline-block;
  font-size: 12px;
  margin-top: 9px;
  position: absolute;
  margin-left: 10px;
}

.amt-graph .bank-bal a {
  color: #0e237e;
  font-size: 13px;
  font-weight: 600;
}

.amt-graph .bank-bal a i {
  margin-left: 5px;
  font-size: 11px;
}

.amt-graph .other-bank-det p {
  text-align: right;
  font-size: 11px;
  font-weight: 600;
  color: #AFAFAF;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.amt-graph .other-bank-det p span {
  display: block;
  font-size: 18px;
  color: #444;
}

.pw-success {
  max-width: 400px;
}

.pw-success .form-pad {
  padding: 0;
}

.pw-success .form-pad p {
  margin: 0;
  text-align: center;
  line-height: 1.7;
  font-size: 18px;
  color: #0e237e;
}

.pw-success .form-pad a {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 30px;
}

.modal {
  max-height: inherit !important;
  background: #fff;
  max-width: 600px;
}

.modal-content {
  padding: 40px 30px !important;
  width: 95%;
  margin: 0 auto;
}

.modal-content .modal-close {
  float: right;
  margin-top: -19px;
  padding: 0 10px;
}

.modal-form {
  margin-top: 30px;
}

.modal-form select {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.modal-form input[type="text"], .modal-form input[type="tel"], .modal-form input[type="email"], .modal-form input[type="password"] {
  margin-bottom: 20px;
}

.self-trans-success {
  text-align: center;
}

.self-trans-success h2 {
  font-weight: 300 !important;
  color: #0e237e;
  margin: 0 0 20px;
  text-align: center;
}

.self-trans-success p {
  width: 90%;
  margin: 0 auto;
  font-size: 15px;
  margin-bottom: 40px;
  line-height: 1.7;
}

.self-trans-success p span {
  color: #0e237e;
  font-weight: 700;
}

.self-trans-success .button-control button {
  margin: 0 10px 20px;
  width: 200px;
}

.success-icon, .error-icon {
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: 2px solid #0e237e;
  border-radius: 50%;
  margin-bottom: 20px;
}

.success-icon i, .error-icon i {
  padding: 12px;
  font-size: 24px;
  color: #0e237e;
}

.error-icon {
  border: 2px solid #EF6161;
}

.error-icon i {
  color: #EF6161;
}

.preview {
  margin-bottom: 30px;
}

.preview p {
  font-weight: 700;
  margin: 10px 0px;
}

.preview p span {
  font-weight: normal;
  display: block;
}

.file {
  position: relative;
  display: block;
  height: 44px;
  margin-bottom: 30px;
  margin-top: 0px;
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

.file .btn {
  padding: 5px 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.875em;
}

.file input {
  position: absolute;
  right: 0;
  right: 0;
  width: 100%;
  height: 34px;
  opacity: 0;
  color: #fff;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: 30;
}

.file .value {
  position: absolute;
  top: 6px;
  left: 10px;
  color: #444;
  z-index: 10;
}

.file .bt-value {
  position: absolute;
  top: 7px;
  right: 10px;
  padding: 4px 10px;
  color: #fff !important;
  text-transform: none !important;
  z-index: 10;
  font-size: 12px;
}

.footer-app {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.mobile-menu {
  background: #0e237e;
  padding: 5px 0 40px;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  overflow-y:hidden;
}

.mobile-menu a {
  color: #fff;
  cursor: pointer;
}

.mobile-menu .main-actions {
  border-top: 1px solid rgba(255, 255, 255, 0.26);
  padding-top: 15px;
}

.mobile-menu .main-actions a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25em;
  margin: 10px 0;
  display: block;
  cursor: pointer;
}

.mobile-menu .mob-sub-menu {
  margin-left: 30px;
  display: none;
}

.mobile-menu .mob-sub-menu a {
  font-size: 1em;
  font-weight: 300 !important;
  text-transform: capitalize !important;
  display: block;
  padding: 5px 0;
}

.mobile-menu .divide {
  border-bottom: 1px solid rgba(255, 255, 255, 0.26);
  margin-top: 28px;
  width: 50px;
}

.mobile-menu ul {
  margin-top: 20px;
}

.mobile-menu ul li {
  margin: 5px 0;
}

.mobile-menu ul li a {
  font-size: 0.875em;
  margin-bottom: 10px;
}

.dash-main-form {
  max-width: 600px;
  margin: 80px auto;
}

.dash-main-form form {
  padding: 40px;
}

.amt-to-pay {
  background: #f8f8f8;
  padding: 10px 0;
  text-align: center;
  margin: 25px 0;
}

.amt-to-pay span {
  font-size: 0.875em;
}

.amt-to-pay p {
  font-size: 2em;
  font-weight: 700;
}

.prev-trans {
  margin-bottom: 15px;
}

.prev-trans span.title, .prev-trans span.account {
  font-size: 0.75em;
  color: #828282;
}

.prev-trans span.account {
  font-size: 0.875em;
  color: #383737;
}

.prev-trans p {
  font-size: 1.125em;
  font-weight: 700;
  color: #444;
  line-height: 1.2;
  margin-bottom: 3px !important;
}

.success-ctn {
  padding: 40px;
}

.transact-history h4, .hs-list h4 {
  text-transform: uppercase;
  font-weight: 700;
  color: #0e237e;
  font-size: 14px;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #E4E4E4;
}

.transact-history a.notify, .hs-list a.notify {
  display: block;
  padding: 20px 10px;
  text-align: center;
  text-transform: uppercase;
  color: #646464;
  font-size: 13px;
  font-weight: 600;
}

.transact-history a.notify i, .hs-list a.notify i {
  margin-left: 5px;
  color: #0e237e;
}

.transact-history ul, .hs-list ul {
  margin: 0;
  padding: 0;
}

.transact-history ul li, .hs-list ul li {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}

.transact-history ul li.date, .hs-list ul li.date {
  width: 10%;
}

.transact-history ul li.trans, .hs-list ul li.trans {
  width: 13%;
}
.transact-history ul li.ex, .hs-list ul li.ex {
  width: 10%;
}
.transact-history ul li.desc, .hs-list ul li.desc {
  width: 30%;
  padding-right: 10px;
}

.transact-history ul li.acct, .hs-list ul li.acct {
  width: 10%;
}

.transact-history ul li.amt, .hs-list ul li.amt {
  width: 10%;
}
.transact-history ul li.fee, .hs-list ul li.fee {
  width: 10%;
}

.transact-history ul li.status, .hs-list ul li.status {
  width: 12%;
}


.transact-history ul li span, .hs-list ul li span {
  display: none !important;
}


.transact-bulk-details h4, .hs-list h4 {
  text-transform: uppercase;
  font-weight: 700;
  color: #0e237e;
  font-size: 14px;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #E4E4E4;
}

.transact-bulk-details a.notify, .hs-list a.notify {
  display: block;
  padding: 20px 10px;
  text-align: center;
  text-transform: uppercase;
  color: #646464;
  font-size: 13px;
  font-weight: 600;
}

.transact-bulk-details a.notify i, .hs-list a.notify i {
  margin-left: 5px;
  color: #0e237e;
}

.transact-bulk-details ul {
  margin: 0;
  padding: 0;
}

.transact-bulk-details ul li {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}

.transact-bulk-details ul li.date {
  width: 10%;
}

.transact-bulk-details ul li.trans {
  width: 15%;
}
.transact-bulk-details ul li.desc {
  width: 40%;
  padding-right: 20px;
}

.transact-bulk-details ul li.amt{
  width: 10%;
}

.transact-bulk-details ul li.status{
  width: 15%;
}


.transact-bulk-details ul li span{
  display: none !important;
}


.transact-bulk-details .section-title {
  background: #FBFBFB;
  padding: 12px 20px;
  border-bottom: 1px solid #E4E4E4;
}

.hs-list {
  padding: 20px 20px 20px;
  border-bottom: 1px solid #E4E4E4;
}

.hs-list li {
  font-weight: 400 !important;
  text-transform: none !important;
  font-size: 13px !important;
}

.acct-history-head {
  background: white;
  border-bottom: 1px solid #FBFBFB;
}

.acct-history-head p {
  margin-bottom: 0;
}

.acct-history-head .first {
  border-right: 1px solid #ccc;
  padding: 30px 0;
}

.acct-history-head .first p {
  font-size: 1.5em;
  color: #0e237e;
  margin-bottom: 0px;
  font-weight: 600;
}

.acct-history-head .first p.act {
  font-size: 0.875em;
  color: #444;
  font-weight: normal;
}

.acct-history-head .first p.act span {
  display: inline-block;
  margin-left: 10px;
}

.acct-history-head .balance {
  float: left;
  margin: 30px;
  padding-right: 30px;
}

.acct-history-head .balance p {
  font-size: 0.875em;
}

.acct-history-head .balance p span {
  display: block;
  color: #0e237e;
  font-size: 1.5em;
  font-weight: 600;
}

.trans-date-pick {
  background: #f8f8f8;
  padding: 20px 15px;
  display: none;
}

.trans-date-pick p {
  font-size: 0.875em;
  margin-bottom: 10px;
  font-weight: 600;
}

.trans-date-pick input {
  margin-bottom: 5px;
  background-color: #fff;
}

.calendar {
  background: url(../img/time.png) no-repeat;
  background-position: 95%;
}

.trans-range-finder {
  background: #f0f4f7;
  padding-top: 40px;
}

.trans-range-finder input, .trans-range-finder select {
  margin-bottom: 0;
}

.trans-range-finder input[type="text"], .trans-range-finder select {
  background-color: #fff;
}

.trans-range-finder input[type="submit"] , .show-button {
  padding: 11px 25px;
  font-size: 14px;
  text-transform: none;
  font-weight: 600;
  background: #CECECE;
  border-radius: 2px;
  color: #0e237e;
}
.debit{
  color:red !important;
}
.credit{
  color:green !important;
}

.exp-print {
  text-align: right;
}

.exp-print a {
  display: inline-block;
  color: #464646;
  font-weight: 600;
  font-size: 13px;
  padding-top: 13px;
  margin-left: 30px;
}

.exp-print a i {
  margin-right: 5px;
}

@media screen and (max-width: 850px) {
  .amt-graph .bank-bal p.avail-bal-amt {
    font-size: 24px !important;
  }
  .amt-graph .bank-bal p.avail-bal-amt.small-balance{
    font-size:20px !important;
    padding-bottom: 4px !important;
  }
}

@media screen and (min-width: 700px) and (max-width: 850px) {
  ul.dropdown > li {
    display: none !important;
  }
  ul.dropdown > li:last-child {
    display: inline-block !important;
  }
  ul.dropdown > li ul.menu {
    margin-left: -48px !important;
  }

}

@media screen and (max-width: 792px) {
  .hamburger {
    display: block;
  }
  .navicons {
    display: none;
  }
  .greet {
    font-size: 1.475em;
  }
}

@media screen and (max-width: 48em) {
  .navicons {
    display: none;
  }
  .amt-graph .bank-bal p.avail-bal-amt {
    font-size: 40px;
  }
   .amt-graph .bank-bal p.avail-bal-amt.small-balance{
    font-size: 24px;
    padding-bottom: 25px;
  }
  .exp-print a {
    font-size: 12px;
    padding-top: 14px;
  }

}

@media screen and (max-width: 45em) {
  .exp-print, .acct-history-head {
    display: none;
  }

}

@media screen and (max-width: 680px) {
  .transact-history ul li.desc {
    display: none;
  }
  .transact-history ul li.date {
    width: 15%;
  }
  .transact-history ul li.trans {
    width: 30%;
  }
  .transact-history ul li.amt {
    width: 15%;
  }
  .transact-history ul li.acct {
    width: 35%;
  }
  .account-card {
       min-height: 17em !important;
  }
  .account-card.advert h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 37.5em) {
  .login-footer p, .login-footer ul {
    text-align: center;
    margin-bottom: 15px;
  }
  .login-form, .register-form, .guide-ctn {
    width: 90%;
  }
  .register-form {
    margin: 50px auto 100px;
  }
  .register-form .half-width {
    width: 100%;
  }
  .register-form .steps ul {
    text-align: center;
  }
  .register-form .steps ul li {
    display: none;
  }
  .register-form .steps ul li.active {
    display: block;
    width: 100%;
  }


}
.openingBalance-mobile{
display: none;
}
@media screen and (max-width: 32.5em) {
    /*.balanceAsOf{
      float:right;
  }*/
  h4 {
    font-size: 1.5em;
  }
  .guide-steps {
    text-align: center;
  }
  .guide-steps p {
    margin-left: 0;
    float: none;
    width: 100%;
  }
  .guide-steps .step-num {
    float: none;
    display: inline-block;
    margin-bottom: 15px;
  }
  .openingBalance{
    display: none;
}
.openingBalance-mobile{
display: block;
float: right;
  text-transform: uppercase;
  font-weight: 700;
  color: #0e237e;
  font-size: 14px;
  margin: 0;
      padding: 20px;
}
/*  .fancymodal{
   padding: 0px !important;
  }
  .fancymodal .fancymodal-content{
    height: 100% !important;
  }
  .fancymodal .fancymodal-content .scrollable {
   max-height: ;
  }*/
}

@media screen and (max-width: 50em) {
  h2 {
    font-size: 1.25em;
  }
  #ccard, #cbranch {
    margin-bottom: 10px;
  }
  .hamburger {
    padding: 0;
    margin: 13px 15px 0;
  }
  .transact-ctn .section-title, .transact-history .section-title {
    display: none !important;
  }
  .transact-ctn .date, .transact-ctn .trans, .transact-ctn .acct, .transact-ctn .amt, .transact-history .date, .transact-history .trans, .transact-history .acct, .transact-history .amt, .transact-history .status {
    display: block;
  }
  .transact-ctn .list ul li, .transact-ctn .hs-list ul li, .transact-history .list ul li, .transact-history .hs-list ul li {
    width: 100% !important;
    margin-bottom: 10px;
  }
  .transact-ctn .list ul li span, .transact-ctn .hs-list ul li span, .transact-history .list ul li span, .transact-history .hs-list ul li span {
    display: inline-block !important;
    font-weight: 700;
    color: #444;
    width: 30%;
    margin-right: 20px;
    text-transform: uppercase;
  }
  .greet {
    font-size: 1.275em;
  }
  .greet span {
    font-size: 12px;
  }
  .dash-section .section-title {
    padding: 12px 10px;
  }
  .dash-section .section-title p {
    font-size: 13px;
  }

  .dash-section .section-footer {
    padding: 10px 12px;
  }
  .dash-section .section-footer ul li {
    margin-left: 5px;
  }
  .dash-body {
    padding: 25px 0;
  }
  ul.dropdown > li {
    display: none !important;
  }
  ul.dropdown > li:last-child {
    display: inline-block !important;
  }
  ul.dropdown > li ul.menu {
    margin-left: -48px !important;
  }
  .amt-graph .bank-bal a {
    font-size: 11px;
  }
  .main-nav {
    padding: 10px 0;
  }
  .transactions-listing .list:nth-child(even) {
    background: whitesmoke;
  }
  .dash-main-form {
    margin: 25px auto;
    width: 95%;
  }
  .dash-main-form form {
    padding: 25px;
  }
  .success-ctn {
    padding: 40px 15px;
  }
  .trans-date-pick {
    display: block;
  }
  .trans-range-finder {
    display: none;
  }
     .account-card {
       min-height: 17em !important;
  }
  .account-card.advert h1 {
    font-size: 1.5em;
  }
  .card {
  cursor: pointer;
}
.transact-history .list ul li div span
{
  display: inline !important;
  color:white;
  font-weight: 100;
}


}

@media screen and (max-width: 360px) {

  .amt-graph {
    padding: 10px;
  }
  .amt-graph .bank-bal p.avail-bal-amt {
    font-size: 30px !important;
  }
  .amt-graph .bank-bal p.avail-bal-amt.small-balance
  {
    font-size:  20px !important;
    padding-bottom: 10px !important;
  }
  .amt-graph .other-bank-det p {
    font-size: 10px;
    font-weight: 600;
    color: #AFAFAF;
  }
  .amt-graph .other-bank-det p span {
    font-size: 14px;
  }
/*  .amt-graph .bank-bal p.avail-bal-amt {
    font-size: 24px !important;
  }*/
}

li span.label.show{
  display: inline !important;
  padding: 1px;
}

.inline {
  display: inline;
}
.padding-10{
  padding: 10px;
}
.padding-20{
  padding:20px;
}
.spaced{
  margin-bottom: 20px;
}

.spacer {
  margin-top:15px;
  height: 1px;
  margin-bottom: 15px;
}
.confirmation-icon {
  font-size: 15em;

}
.confirmation-sub-icon{
    position: relative;
    font-size: 8em;
    top: 20;
    right: 60;
}
.tokenDialogButton{
  font-size: 1.5em;
  text-align: center;
  width:100%
}
/*.scroller{
    height: 350px;
    white-space: pre-line;
    overflow-y: hidden;
    position: relative;
}*/
.scrollable
{
  max-height: 650px;
  overflow-y:auto;
}

@media screen and (max-height: 700px) {
.scrollable{
  max-height: 500px;
  overflow-y:auto;
}
}
@media screen and (max-height: 500px) {
.scrollable{
  max-height: 300px;
  overflow-y:auto;
}
}


/* Scroll bar css */
div::-webkit-scrollbar {
    width: 12px;
}
 
div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,1); 
}

/******/

ul.link-list li {
   color:#2199e8;
   margin:10px 0px;
}

.editable {
    background: url(../img/edit.png) no-repeat !important;
    background-position: 95% !important;
}

.approval-note{
  font-size: small !important;
  /*text-transform: lowercase;*/
}
.approved {
  color:green !important;

}
.rejected {
  color:red !important;
}
.hide-scroller {
  overflow-y:hidden !important;
}

div.fancymodal-content.large-modal{
  max-width: 800px !important;
}
.actions .link,.actions a {
  margin:0px 5px;
}

.notification-badge {
  position: absolute;
  top:1em;
}

.notification-button {
  margin-right: 2em;
}
.notifications-menu {
  font-size: 12px;
  margin: 0px !important;
}
.notifications-menu li{
    text-align: left;
    max-width: 20em;
    min-width: 15em;
    padding: 5px 5px;
}
/*.notifications-menu li:nth-child(even):hover{
    background-color: #d5eeff;
    color:blue;
}*/
.notifications-menu li :hover{
    background-color: #d5eeff;
    color:blue;
}
.notifications-menu li a {
   padding:10px 0px;
   background-color: transparent !important;
}
.notifications-menu li:nth-child(odd){
  background-color: #f5f5f5;
}

.create-user-well {
  max-height: 120px !important;
}
/**
used to create fluid containers.
*/
.fluid-container .row div.columns:last-child {
  float: left !important;
}

.fix-padding {
  margin-left: -15px;
  margin-right: -15px;
}
.fix-padding.column.row {
  margin-left: -30px;
  margin-right: -30px;
}
button.border,.blue-button,.red-button {
  min-width: 8em;
}
.sub-text{
    font-size: 0.75em;
  color: #828282;
}

.overlay {
  position: fixed;
  top: 0;
  left:0;
  height:100%;
  width:100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);

}
.overlay-content {
    position: fixed;
    top: 50%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
   
}
.overlay-content .spinner > div {
     background-color: white;
}
.overlay.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.overlay.ng-enter.ng-enter-active {
  opacity:1;
}

.overlay.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.overlay.ng-leave.ng-leave-active {
  opacity:0;
}

span.title {
  font-size: 0.75em;
  color: #828282;
}

.reduce-bottom-margin {
  margin-bottom: -25px !important;
}
.pagination .current a {
  color:white !important;
}
.hidden {
  display: none !important;
}
.account-card {
  min-height: 17em;
}
.account-card.advert {
  /*background-color: #55bd35 !important;*/
  color:white;
  padding: 20px;
}

.account-card.advert {
  /*background-color: #55bd35 !important;*/
  color:white;
  padding: 20px;
}

.card {
  cursor: pointer;
}
.cards-overview .card span {
  display: inline !important;
}
.card-proper {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 14em;
    max-width: 22em;
    margin: 10px 0px;
    position: relative;
}
.card-proper:hover {
  background-color: whitesmoke;
  border-radius: 3px;
}
.card-name {
  text-align: left;
  position: absolute;
  width: 100%;
  bottom:15%;
  letter-spacing: 1px;
  padding-left: 4.1em;
  font-weight: 100;
  font-size: 0.8em;
  color: white;
}
.card-pan {
    text-align: center;
    position: absolute;
    top:45%;
    width:100%;
    padding-right:10px;
    color: white;
    font-weight:  100;
    font-size: 1.2em;
}
.card-pan span {
  letter-spacing: 2px;
}

.card-exp{
   color:white;
   font-size: small;
   font-weight: 500;
   display: block;
   padding-left: 3.5em;
}
.account-link {
  color:#0e237e;
  cursor: pointer;
}
.card-commands{
  text-align: center;
      bottom: -15px;
    position: absolute;
    width: 100%;
}

.red-button {
  border: 2px solid red;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  padding: 13px 30px;
  color: white;
  background: red;
}
.blue-button {
  border: 2px solid #0e237e;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  padding: 11px 30px;
  color: white;
  background: #0e237e;
}


.confirmation-body h3 {
  font-weight: 300 !important;
  color: #0e237e;
  margin: 0 0 20px;
}

.confirmation-body .confirmation-content{
  width: 90%;
  text-align: left;
  margin: 0 auto;
  font-size: 12px;
  margin-bottom: 40px;
  line-height: 1.7;
}



/************************  New styles ************************/

table{border-collapse: collapse;border-spacing: 0;}
th, td{text-align: left;vertical-align: top;}
h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }
img { border: 0; }
#web-nav {
/*    width: 23%;*/
    min-width: 500px;
    background: url(../img/menu-bg.png) repeat;
    height: 100%;
    overflow: auto;
    float: left;
    z-index: 20;
    position: fixed;
    right: 0px;
    padding: 0 30px;
}
#wrap {
    float: left;
    width: 82%;
    min-height: 100%;
    position: relative;
}
#web-nav img.logo {
    margin: 40px 0 125px auto;
    display: block;
    width: 60px;
    height: auto;
}
#web-nav img.logo-reg-base {
    margin: 40px 0 10px auto;
    display: block;
    width: 60px;
    height: auto;
}
.login {
    position: relative;
}
.home * {
  font-family: Verdana, Geneva, sans-serif !important;
}
.home .login input[type="text"],.home .login input[type="password"] {
    width: 100%;
    padding: 20px 0px;
    background: transparent !important;
    border: 0;
    border-bottom: 1px solid #ffffff;
    outline: none;
    color: #ffffff;
    font-size: 14px;
    margin: 0px !important;
}
.home .login input[type="text"]:focus,.home .login input[type="password"]:focus
{
  outline: none !important;
  border: 0 !important;
  border-bottom: 1px solid #ffffff !important;
}
.ForgotPassword
 {
    text-align: right;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
}
.animated:hover {
    background: #16aa56;
    animation-name: shake;
}
.animated {
    background: #6abf5c;
    border: 0;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  margin: 10px 0;
}
.corner {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 350px;
}
.new-account, .footer, .footer-mobile{margin: 0; padding: 0;}
.new-account li{list-style: none;float: left; margin-right: 10px;}
.footer{position: absolute; bottom: 20px; right: 0; z-index: 20;width:100%;}
.footer li{list-style: none;float: left; padding: 0 20px; border-right: 1px solid #fff; color: #fff; font-size:11px;}
.footer li a ,.footer-mobile li a { color:#fff; }
.footer li.last{border: none; padding-left: 50px;}
h1.head{color: #fff; font-size: 16px; font-size: 20px;}
.footer-mobile-wrap{display: none;}
@media only screen and (max-width: 900px){
#web-nav {
    width: 100%;
    min-width: initial;
  padding: 0 10%;
}
.register-form {
  width:100% !important;
}
#wrap {
  display: none;
}
.footer{display: none;}
.footer-mobile-wrap{display: block;}
.footer-mobile-wrap{position: relative; bottom: 0;left:0; z-index: 21; padding: 40px 0px;}
.footer-mobile-wrap p{font-size: 11px;color: #fff;}
.footer-mobile{}
.footer-mobile li{color: #fff; list-style: none;float: left; font-size: 11px; cursor: pointer; border-left: 1px solid #fff; padding: 0px 20px;margin:5px 0;}
.footer-mobile li:first-child{border: none; padding-left: 0px}
}

/***********************************************************/

.clickable{
  cursor: pointer;
}
a.small {
  font-size: small;
}

/* dedicated to IE9 */
.placeholder-fallback {
  display: block;
  font-size: small
}
.home .login .placeholder-fallback{
  color:whitesmoke;
  margin-bottom: -5px;
}
.new-guide-steps li.selected {
    background-color: #78b943;
}
.new-guide-steps li {
    float: left;
    text-align: center;
    margin-right: 12px;
    margin-top: 2px;
    font-size: small;
    min-width: 100px;
    background-color: #898c86;
    padding: 2px 15px;
    color: white;
}
.new-guide-steps {
  padding: 0;
  margin-top: -10px;
}

.register-form {
  background: transparent !important;
  margin:0px !important;
  width: 500px;
}
.register-form h3,.register-form label ,.register-form p,.register-form span{
  color:#fff;
}
.register-form .callout p {
  color:black;
}
.register-form button.btns.green-btn {
    margin-bottom: 25px;
}
.register-form input,.register-form select{
    background-color: #162566 !important;
    padding-bottom: 25px !important;
    border: 1px  solid #131f54 !important;
    color:white;

}
.register-form span.error-msg ,.register-form span.error-list-item{
  color:yellow;
}
.register-form a.code-resend{
  color:#fff  !important;
}
.register-form input.error-field ,.register-form select.error-field{
   border: 1px solid #FD1F1F !important;
  }    
.personal-section{
    padding:0px;
  }
.reg-step-form,.personal-section{
  padding-top: 25px;
}
.register-form span.success-msg{
  color: #78b943 !important;
  }    
#web-nav::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: white;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,1); 
}
.warning-transaction {
  background-color: #FFC781;
}

/**************************************/

/************************************** Registration Animation *************/

[ui-view].fade {
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}
[ui-view].fade.ng-enter {
  transition:0.5s ease-in-out all;
  opacity:0;

}
[ui-view].fade.ng-enter.ng-enter-active{
  opacity:1;
}

.full-width{
  width: 100%;
}
.account-officer-info {
  font-size: 12px !important;
  padding: 10px;
}
.account-officer-info .self-trans-success , .account-officer-info .self-trans-success h2{
  text-align: left !important;
}

.account-officer-info .self-trans-success div.columns{
  padding-left: 0px !important;
  padding-bottom: 2px;
  padding-top: 2px;
}
/***************************************************************************/

.no-padding{
  padding:0 !important;;
}


/*edit*/
/*display sensitive info only on user interaction*/
.dash-section.account-card ._nomask{display:none}
.dash-section.account-card:hover ._nomask{display:block}

.dash-section.account-card ._mask{display:block}
.dash-section.account-card:hover ._mask{display:none}

.dash-section.account-card .address{ border:solid thin #e1e1e1; background:#eee; color:#333; padding:5px 10px 5px 10px; border-radius:5px; font-size:0.9em}

.small-font{ font-size:0.8em}

.round-btn{
    border-radius: 10px;
}

div.dataTables_wrapper div.dataTables_filter input {
  border-radius: 10px;
}

.insight-account {
  width: 50%;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 12px 18px 12px 48px;
}

