<app-admin-dashboard-header [name]="userDetails?.fullName"></app-admin-dashboard-header>
<div hide-on-scroll="" class="hide-for-print mega-menu" style="">
    <div class="fluid-container">
        <div class="row">
            <div class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">My Accounts and Cards<span></span></p>
                    <ul>
                        <li class="ng-scope">
                            <a class="ng-binding">Account Summary</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Open New Account</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Debit and Credit Cards</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Reset Debit Card PIN</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Send Account Statement</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Transfers<span></span></p>
                    <ul>

                        <li class="ng-scope">
                            <a class="ng-binding">To Own Accounts</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">To Fidelity Bank Accounts</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">To Other Bank Accounts in
                                Nigeria</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">To Other Bank Accounts Abroad</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">To Phone or Email</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Manage Beneficiaries</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">RTGS Transfer</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Bulk Transactions<span></span></p>
                    <ul>

                        <li class="ng-scope">
                            <a class="ng-binding">Transfer</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Airtime</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">PayCode</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Airtime<span></span></p>
                    <ul>

                        <li class="ng-scope">
                            <a class="ng-binding">Top-up Airtime</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Purchase Data Bundle</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Payments and Bills<span></span></p>
                    <ul>

                        <li class="ng-scope">
                            <a class="ng-binding">Pay Bill</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Remita</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Manage Billers</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Gaming<span></span></p>
                    <ul>

                        <li class="ng-scope">
                            <a class="ng-binding">Bet9ja</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Profile and Settings<span></span></p>
                    <ul>

                        <li class="ng-scope">
                            <a class="ng-binding">Transaction Activities</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Transaction Limits</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Change Password</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Set Transaction PIN</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Secret Questions</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Tokens</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Trade<span></span></p>
                    <ul>

                        <li class="ng-scope">
                            <a class="ng-binding">Import Duty Payment</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">POS Transaction Report</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Self Service<span></span></p>
                    <ul>

                        <li class="ng-scope">
                            <a class="ng-binding">Manage Transaction Alerts</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Stop or Confirm Cheques</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Savings<span></span></p>
                    <ul>

                        <li class="ng-scope">
                            <a class="ng-binding">Set Goal</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Collectons<span></span></p>
                    <ul>

                        <li class="ng-scope">
                            <a class="ng-binding">LASG</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Dangote Payments</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Fixed Deposit<span></span></p>
                    <ul>

                        <li class="ng-scope">
                            <a class="ng-binding">Booking</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Topup</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Liquidation</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Loan<span></span></p>
                    <ul>

                        <li class="ng-scope">
                            <a class="ng-binding">Borrow Bill Payments</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Request a new Loan</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Top-up Existing Loan</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Pay Existing Loan</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Extend Loan Payment</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Check Balance of an Existing
                                Loan</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Terms and Conditions</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Cards<span></span></p>
                    <ul>

                        <li class="ng-scope">
                            <a class="ng-binding">Card Request</a>
                        </li>

                        <li class="ng-scope">
                            <a class="ng-binding">Card Activation</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Beneficiaries<span></span></p>
                    <ul>

                        <li class="ng-scope">
                            <a class="ng-binding">Top Beneficiaries</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="large-3 medium-3 small-12 columns">
                <div class="nav-box" style="background: #fff; padding: 10px;
                    border-radius: 5px;">
                    <p>
                        <a target="_blank" href="http://www.firs.gov.ng/Pages/Default.aspx">Pay
                            Your Taxes
                            Online<br /><img src="dashboard/img/FIRS-Logo.png" text-align="absmiddle"
                                style="margin-top: 10px;" height="100px" /><span></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hide-for-print mobile-menu">
    <div class="row">
        <div class="small-12 columns">
            <div class="main-actions">
                <a ng-click="hideMobileMenu();model.show('page','/home/dashboard');" class="mobile-trans">Dashboard</a>
                <!-- ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
                <div class="ng-scope">
                    <a class="mobile-trans ng-binding">My Accounts and Cards</a>
                    <div class="mob-sub-menu">
                        <a class="ng-binding ng-scope">Account Summary</a><a class="ng-binding ng-scope">Open
                            New Account</a><a class="ng-binding ng-scope">Debit
                            and Credit Cards</a><a class="ng-binding ng-scope">Reset Debit Card PIN</a><a
                            class="ng-binding ng-scope">Send
                            Account Statement</a>
                    </div>
                </div>
                <div class="ng-scope">
                    <a class="mobile-trans ng-binding">Transfers</a>
                    <div class="mob-sub-menu">
                        <a class="ng-binding ng-scope">To Own Accounts</a><a class="ng-binding ng-scope">To
                            Fidelity Bank Accounts</a><a class="ng-binding
                            ng-scope">To Other Bank Accounts
                            in Nigeria</a><a class="ng-binding ng-scope">To
                            Other Bank Accounts Abroad</a><a class="ng-binding ng-scope">To Phone or Email</a><a
                            class="ng-binding ng-scope">Manage
                            Beneficiaries</a><a class="ng-binding ng-scope">RTGS
                            Transfer</a>
                    </div>
                </div>
                <div class="ng-scope">
                    <a class="mobile-trans ng-binding">Bulk Transactions</a>
                    <div class="mob-sub-menu">
                        <a class="ng-binding ng-scope">Transfer</a><a class="ng-binding ng-scope">Airtime</a><a
                            class="ng-binding ng-scope">PayCode</a>
                    </div>
                </div>
                <div class="ng-scope">
                    <a class="mobile-trans ng-binding">Airtime</a>
                    <div class="mob-sub-menu">
                        <a class="ng-binding ng-scope">Top-up Airtime</a><a class="ng-binding ng-scope">Purchase
                            Data Bundle</a>
                    </div>
                </div>
                <div class="ng-scope">
                    <a class="mobile-trans ng-binding">Payments and Bills</a>
                    <div class="mob-sub-menu">
                        <a class="ng-binding ng-scope">Pay Bill</a><a class="ng-binding ng-scope">Remita</a><a
                            class="ng-binding ng-scope">Manage
                            Billers</a>
                    </div>
                </div>
                <div class="ng-scope">
                    <a class="mobile-trans ng-binding">Gaming</a>
                    <div class="mob-sub-menu">
                        <a class="ng-binding ng-scope">Bet9ja</a>
                    </div>
                </div>
                <div class="ng-scope">
                    <a class="mobile-trans ng-binding">Profile and Settings</a>
                    <div class="mob-sub-menu">
                        <a class="ng-binding ng-scope">Transaction Activities</a><a
                            class="ng-binding ng-scope">Transaction Limits</a><a class="ng-binding ng-scope">Change
                            Password</a><a class="ng-binding ng-scope">Set
                            Transaction PIN</a><a class="ng-binding ng-scope">Secret
                            Questions</a><a class="ng-binding ng-scope">Tokens</a>
                    </div>
                    <a class="mobile-trans ng-binding">Trade</a>
                    <div class="mob-sub-menu">
                        <a class="ng-binding ng-scope">Import Duty Payment</a><a class="ng-binding ng-scope">POS
                            Transaction Report</a>
                    </div>
                    <a class="mobile-trans ng-binding">Self Service</a>
                    <div class="mob-sub-menu">
                        <a class="ng-binding ng-scope">Manage Transaction Alerts</a><a class="ng-binding ng-scope">Stop
                            or Confirm Cheques</a>
                    </div>
                    <a class="mobile-trans ng-binding">Savings</a>
                    <div class="mob-sub-menu">
                        <a class="ng-binding ng-scope">Set Goal</a>
                    </div>
                    <a class="mobile-trans ng-binding">Collectons</a>
                    <div class="mob-sub-menu">
                        <a class="ng-binding ng-scope">LASG</a><a class="ng-binding ng-scope">Dangote
                            Payments</a>
                    </div>
                    <a class="mobile-trans ng-binding">Fixed Deposit</a>
                    <div class="mob-sub-menu">
                        <a class="ng-binding ng-scope">Booking</a><a class="ng-binding ng-scope">Topup</a><a
                            class="ng-binding ng-scope">Liquidation</a>
                    </div>
                    <a class="mobile-trans ng-binding">Loan</a>
                    <div class="mob-sub-menu">
                        <a class="ng-binding ng-scope">Borrow Bill Payments</a><a class="ng-binding ng-scope">Request a
                            new Loan</a><a class="ng-binding ng-scope">Top-up
                            Existing Loan</a><a class="ng-binding ng-scope">Pay Existing Loan</a><a
                            class="ng-binding ng-scope">Extend Loan
                            Payment</a><a class="ng-binding ng-scope">Check
                            Balance of an Existing Loan</a><a class="ng-binding ng-scope">Terms and Conditions</a>
                    </div>
                    <a class="mobile-trans ng-binding">Cards</a>
                    <div class="mob-sub-menu">
                        <a class="ng-binding ng-scope">Card Request</a><a class="ng-binding ng-scope">Card
                            Activation</a>
                    </div>
                    <a class="mobile-trans ng-binding">Beneficiaries</a>
                    <div class="mob-sub-menu">
                        <a class="ng-binding ng-scope">Top Beneficiaries</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-content-wrapper" style="opacity: 1;
    margin-top: 206px;
    transition: opacity 0.05s ease 0.2s, margin-top 0.2s ease-in 0s;" resizer="" offset-elements="['.main-header']">
    <!-- uiView: content -->
    <div ui-view="content" class="main-content ng-scope" style="">
        <div class="dash-body ng-scope">
            <div class="container">
                <div class="row">
                    <div class="columns small-12">
                        <div model="model" class="ng-isolate-scope">
                            <!-- ngIf: model.summary -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div no-of-columns="2" grid="model.bricks">
                        <div ng-class="{row:true,column:true,'fix-padding':fixPadding}" class="row column">
                            <!-- ngRepeat: item in items -->
                            <div ng-class="{override:item.override }" ng-init="card=item" class="ng-scope" style="">
                                <!-- ngIf: !item.override -->
                                <div ng-if="!item.override" ng-class="['columns','no-override',
                                    'large-'+x,'medium-'+x, 'small-12']" class="ng-scope columns no-override large-6
                                    medium-6 small-12">
                                    <content template="card.template" class="ng-scope">
                                        <!-- container for each card -->
                                        <div class="dash-section account-card
                                            ng-scope">
                                            <div class="section-title
                                                palette-2">
                                                <p class="ng-binding">
                                                    ROLE
                                                    <span class="ng-binding">&nbsp;ADMIN</span>
                                                </p>
                                            </div>

                                            <div class="amt-graph clearfix">
                                                <p class="account-name">
                                                    <span ng-bind-html="account.accountName" class="ng-binding"><b>{{userDetails?.fullName}}</b></span>
                                                </p>
                                                <div class="bank-bal">
                                                    <p ng-if="type!=='LOAN'" class="avail-bal
                                                        ng-scope">
                                                        Registered User
                                                    </p>
                                                    <p ng-if="type!=='LOAN'" class="avail-bal-amt">
                                                        <span class="ng-binding" style="font-size:
                                                                    40px;">5</span>
                                                    </p>
                                                    <!-- end ngIf: type!=='LOAN' -->
                                                    <a>View user details
                                                        <i class="fa
                                                            fa-chevron-right"></i></a>
                                                </div>

                                                <div class="other-bank-det">
                                                    <!-- ngIf: type!=='LOAN' -->
                                                    <p ng-if="type!=='LOAN'" class="ng-scope">
                                                        Card Collected
                                                        <span>
                                                            <span class="ng-binding">50
                                                            </span>
                                                        </span>
                                                    </p>
                                                    <p>
                                                        Status
                                                        <span class="ng-binding">Active</span>
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </content>
                                </div>
                                <!-- end ngIf: !item.override -->
                                <!-- ngIf: item.override -->
                            </div><!-- end ngRepeat: item in items -->
                            <div ng-class="{override:item.override }" ng-init="card=item" class="ng-scope">
                                <!-- ngIf: !item.override -->
                                <div ng-if="!item.override" ng-class="['columns','no-override',
                                    'large-'+x,'medium-'+x, 'small-12']" class="ng-scope columns no-override large-6
                                    medium-6 small-12">
                                    <content template="card.template" class="ng-scope">
                                        <div class="dash-section
                                            account-card ng-scope" ng-style="{'background-image':
                                            card.palette,'background-size':
                                            '100%
                                            100%','background-repeat':
                                            'no-repeat'}" style="background-image:
                                            url('../../../assets/dashboard/img/scot.png');
                                            background-size: 100% 100%;
                                            background-repeat:
                                            no-repeat;"></div>
                                    </content>
                                </div>
                                <!-- end ngIf: !item.override -->
                                <!-- ngIf: item.override -->
                            </div><!-- end ngRepeat: item in items -->
                            <div ng-class="{override:item.override }" ng-init="card=item" class="ng-scope">
                                <!-- ngIf: !item.override -->
                                <div ng-if="!item.override" ng-class="['columns','no-override',
                                    'large-'+x,'medium-'+x, 'small-12']" class="ng-scope columns no-override large-6
                                    medium-6 small-12">
                                    <content template="card.template" class="ng-scope">
                                        <div class="columns ng-scope small-12
                                            nopadding" ng-class="{'small-12':card.override,'small-12
                                            nopadding':!card.override }">
                                            <div class="dash-section
                                                transact-ctn account-card">
                                                <h4>Recent Transactions</h4>
                                                <div class="section-title">
                                                    <ul>
                                                        <li class="date">
                                                            Date
                                                        </li>
                                                        <li class="trans">
                                                            Transaction Type
                                                        </li>
                                                        <li class="acct">
                                                            Account
                                                        </li>
                                                        <li class="amt">
                                                            Amount
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="transactions-listing text-center">
                                                    <div ng-if="card.result.length
                                                        == 0 &amp;&amp;
                                                        !model.fetchingTransactions" class="list ng-scope" style="">
                                                        <ul *ngFor="let transaction of transactions">
                                                            <li class="date">
                                                              {{transaction.createdAt | date}}
                                                            </li>
                                                            <li class="trans">
                                                              {{transaction.transactionType}}
                                                            </li>
                                                            <li class="acct">
                                                              {{transaction.accountNumber}}
                                                            </li>
                                                            <li class="amt">
                                                              {{transaction.amount | number}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <a ng-click="model.go('/home/transaction-history')"
                                                    ng-if="!model.fetchingTransactions" class="notify ng-scope"
                                                    style="">View all
                                                    transactions
                                                    <i class="fa
                                                        fa-chevron-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </content>
                                </div>
                            </div><!-- end ngRepeat: item in items -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="ngProgress-container" class="ng-scope">
    <div id="ngProgress" style="height: 3px;
        background-color: rgb(14, 35, 126);
        color: rgb(14, 35, 126);
        width: 0%;
        opacity: 1;"></div>
</div>
<div class="datepickers-container" id="datepickers-container">
    <div class="datepicker -bottom-left- -from-bottom-">
        <i class="datepicker--pointer"></i>
        <nav class="datepicker--nav">
            <div class="datepicker--nav-action" data-action="prev">
                <svg>
                    <path d="M 17,12 l -5,5 l 5,5"></path>
                </svg>
            </div>
            <div class="datepicker--nav-title">April, <i>2021</i></div>
            <div class="datepicker--nav-action" data-action="next">
                <svg>
                    <path d="M 14,12 l 5,5 l -5,5"></path>
                </svg>
            </div>
        </nav>
        <div class="datepicker--content">
            <div class="datepicker--days datepicker--body active">
                <div class="datepicker--days-names">
                    <div class="datepicker--day-name -weekend-">Su</div>
                    <div class="datepicker--day-name">Mo</div>
                    <div class="datepicker--day-name">Tu</div>
                    <div class="datepicker--day-name">We</div>
                    <div class="datepicker--day-name">Th</div>
                    <div class="datepicker--day-name">Fr</div>
                    <div class="datepicker--day-name -weekend-">Sa</div>
                </div>
                <div class="datepicker--cells datepicker--cells-days">
                    <div class="datepicker--cell datepicker--cell-day -weekend-
                        -other-month-" data-date="28" data-month="2" data-year="2021">
                        28
                    </div>
                    <div class="datepicker--cell datepicker--cell-day
                        -other-month-" data-date="29" data-month="2" data-year="2021">
                        29
                    </div>
                    <div class="datepicker--cell datepicker--cell-day
                        -other-month-" data-date="30" data-month="2" data-year="2021">
                        30
                    </div>
                    <div class="datepicker--cell datepicker--cell-day
                        -other-month-" data-date="31" data-month="2" data-year="2021">
                        31
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="1" data-month="3" data-year="2021">
                        1
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="2" data-month="3" data-year="2021">
                        2
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="3" data-month="3"
                        data-year="2021">
                        3
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="4" data-month="3"
                        data-year="2021">
                        4
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="5" data-month="3" data-year="2021">
                        5
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -current-" data-date="6" data-month="3"
                        data-year="2021">
                        6
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="7" data-month="3" data-year="2021">
                        7
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="8" data-month="3" data-year="2021">
                        8
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="9" data-month="3" data-year="2021">
                        9
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="10" data-month="3"
                        data-year="2021">
                        10
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="11" data-month="3"
                        data-year="2021">
                        11
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="12" data-month="3" data-year="2021">
                        12
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="13" data-month="3" data-year="2021">
                        13
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="14" data-month="3" data-year="2021">
                        14
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="15" data-month="3" data-year="2021">
                        15
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="16" data-month="3" data-year="2021">
                        16
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="17" data-month="3"
                        data-year="2021">
                        17
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="18" data-month="3"
                        data-year="2021">
                        18
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="19" data-month="3" data-year="2021">
                        19
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="20" data-month="3" data-year="2021">
                        20
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="21" data-month="3" data-year="2021">
                        21
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="22" data-month="3" data-year="2021">
                        22
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="23" data-month="3" data-year="2021">
                        23
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="24" data-month="3"
                        data-year="2021">
                        24
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="25" data-month="3"
                        data-year="2021">
                        25
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="26" data-month="3" data-year="2021">
                        26
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="27" data-month="3" data-year="2021">
                        27
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="28" data-month="3" data-year="2021">
                        28
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="29" data-month="3" data-year="2021">
                        29
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="30" data-month="3" data-year="2021">
                        30
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-
                        -other-month-" data-date="1" data-month="4" data-year="2021">
                        1
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="datepicker -bottom-left- -from-bottom-">
        <i class="datepicker--pointer"></i>
        <nav class="datepicker--nav">
            <div class="datepicker--nav-action" data-action="prev">
                <svg>
                    <path d="M 17,12 l -5,5 l 5,5"></path>
                </svg>
            </div>
            <div class="datepicker--nav-title">April, <i>2021</i></div>
            <div class="datepicker--nav-action" data-action="next">
                <svg>
                    <path d="M 14,12 l 5,5 l -5,5"></path>
                </svg>
            </div>
        </nav>
        <div class="datepicker--content">
            <div class="datepicker--days datepicker--body active">
                <div class="datepicker--days-names">
                    <div class="datepicker--day-name -weekend-">Su</div>
                    <div class="datepicker--day-name">Mo</div>
                    <div class="datepicker--day-name">Tu</div>
                    <div class="datepicker--day-name">We</div>
                    <div class="datepicker--day-name">Th</div>
                    <div class="datepicker--day-name">Fr</div>
                    <div class="datepicker--day-name -weekend-">Sa</div>
                </div>
                <div class="datepicker--cells datepicker--cells-days">
                    <div class="datepicker--cell datepicker--cell-day -weekend-
                        -other-month-" data-date="28" data-month="2" data-year="2021">
                        28
                    </div>
                    <div class="datepicker--cell datepicker--cell-day
                        -other-month-" data-date="29" data-month="2" data-year="2021">
                        29
                    </div>
                    <div class="datepicker--cell datepicker--cell-day
                        -other-month-" data-date="30" data-month="2" data-year="2021">
                        30
                    </div>
                    <div class="datepicker--cell datepicker--cell-day
                        -other-month-" data-date="31" data-month="2" data-year="2021">
                        31
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="1" data-month="3" data-year="2021">
                        1
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="2" data-month="3" data-year="2021">
                        2
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="3" data-month="3"
                        data-year="2021">
                        3
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="4" data-month="3"
                        data-year="2021">
                        4
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="5" data-month="3" data-year="2021">
                        5
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -current-" data-date="6" data-month="3"
                        data-year="2021">
                        6
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="7" data-month="3" data-year="2021">
                        7
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="8" data-month="3" data-year="2021">
                        8
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="9" data-month="3" data-year="2021">
                        9
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="10" data-month="3"
                        data-year="2021">
                        10
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="11" data-month="3"
                        data-year="2021">
                        11
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="12" data-month="3" data-year="2021">
                        12
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="13" data-month="3" data-year="2021">
                        13
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="14" data-month="3" data-year="2021">
                        14
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="15" data-month="3" data-year="2021">
                        15
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="16" data-month="3" data-year="2021">
                        16
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="17" data-month="3"
                        data-year="2021">
                        17
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="18" data-month="3"
                        data-year="2021">
                        18
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="19" data-month="3" data-year="2021">
                        19
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="20" data-month="3" data-year="2021">
                        20
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="21" data-month="3" data-year="2021">
                        21
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="22" data-month="3" data-year="2021">
                        22
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="23" data-month="3" data-year="2021">
                        23
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="24" data-month="3"
                        data-year="2021">
                        24
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="25" data-month="3"
                        data-year="2021">
                        25
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="26" data-month="3" data-year="2021">
                        26
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="27" data-month="3" data-year="2021">
                        27
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="28" data-month="3" data-year="2021">
                        28
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="29" data-month="3" data-year="2021">
                        29
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="30" data-month="3" data-year="2021">
                        30
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-
                        -other-month-" data-date="1" data-month="4" data-year="2021">
                        1
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="datepicker -bottom-left- -from-bottom-">
        <i class="datepicker--pointer"></i>
        <nav class="datepicker--nav">
            <div class="datepicker--nav-action" data-action="prev">
                <svg>
                    <path d="M 17,12 l -5,5 l 5,5"></path>
                </svg>
            </div>
            <div class="datepicker--nav-title">April, <i>2021</i></div>
            <div class="datepicker--nav-action" data-action="next">
                <svg>
                    <path d="M 14,12 l 5,5 l -5,5"></path>
                </svg>
            </div>
        </nav>
        <div class="datepicker--content">
            <div class="datepicker--days datepicker--body active">
                <div class="datepicker--days-names">
                    <div class="datepicker--day-name -weekend-">Su</div>
                    <div class="datepicker--day-name">Mo</div>
                    <div class="datepicker--day-name">Tu</div>
                    <div class="datepicker--day-name">We</div>
                    <div class="datepicker--day-name">Th</div>
                    <div class="datepicker--day-name">Fr</div>
                    <div class="datepicker--day-name -weekend-">Sa</div>
                </div>
                <div class="datepicker--cells datepicker--cells-days">
                    <div class="datepicker--cell datepicker--cell-day -weekend-
                        -other-month-" data-date="28" data-month="2" data-year="2021">
                        28
                    </div>
                    <div class="datepicker--cell datepicker--cell-day
                        -other-month-" data-date="29" data-month="2" data-year="2021">
                        29
                    </div>
                    <div class="datepicker--cell datepicker--cell-day
                        -other-month-" data-date="30" data-month="2" data-year="2021">
                        30
                    </div>
                    <div class="datepicker--cell datepicker--cell-day
                        -other-month-" data-date="31" data-month="2" data-year="2021">
                        31
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="1" data-month="3" data-year="2021">
                        1
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="2" data-month="3" data-year="2021">
                        2
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="3" data-month="3"
                        data-year="2021">
                        3
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="4" data-month="3"
                        data-year="2021">
                        4
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="5" data-month="3" data-year="2021">
                        5
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -current-" data-date="6" data-month="3"
                        data-year="2021">
                        6
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="7" data-month="3" data-year="2021">
                        7
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="8" data-month="3" data-year="2021">
                        8
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="9" data-month="3" data-year="2021">
                        9
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="10" data-month="3"
                        data-year="2021">
                        10
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="11" data-month="3"
                        data-year="2021">
                        11
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="12" data-month="3" data-year="2021">
                        12
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="13" data-month="3" data-year="2021">
                        13
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="14" data-month="3" data-year="2021">
                        14
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="15" data-month="3" data-year="2021">
                        15
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="16" data-month="3" data-year="2021">
                        16
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="17" data-month="3"
                        data-year="2021">
                        17
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="18" data-month="3"
                        data-year="2021">
                        18
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="19" data-month="3" data-year="2021">
                        19
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="20" data-month="3" data-year="2021">
                        20
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="21" data-month="3" data-year="2021">
                        21
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="22" data-month="3" data-year="2021">
                        22
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="23" data-month="3" data-year="2021">
                        23
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="24" data-month="3"
                        data-year="2021">
                        24
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="25" data-month="3"
                        data-year="2021">
                        25
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="26" data-month="3" data-year="2021">
                        26
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="27" data-month="3" data-year="2021">
                        27
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="28" data-month="3" data-year="2021">
                        28
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="29" data-month="3" data-year="2021">
                        29
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="30" data-month="3" data-year="2021">
                        30
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-
                        -other-month-" data-date="1" data-month="4" data-year="2021">
                        1
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="datepicker -bottom-left- -from-bottom-">
        <i class="datepicker--pointer"></i>
        <nav class="datepicker--nav">
            <div class="datepicker--nav-action" data-action="prev">
                <svg>
                    <path d="M 17,12 l -5,5 l 5,5"></path>
                </svg>
            </div>
            <div class="datepicker--nav-title">April, <i>2021</i></div>
            <div class="datepicker--nav-action" data-action="next">
                <svg>
                    <path d="M 14,12 l 5,5 l -5,5"></path>
                </svg>
            </div>
        </nav>
        <div class="datepicker--content">
            <div class="datepicker--days datepicker--body active">
                <div class="datepicker--days-names">
                    <div class="datepicker--day-name -weekend-">Su</div>
                    <div class="datepicker--day-name">Mo</div>
                    <div class="datepicker--day-name">Tu</div>
                    <div class="datepicker--day-name">We</div>
                    <div class="datepicker--day-name">Th</div>
                    <div class="datepicker--day-name">Fr</div>
                    <div class="datepicker--day-name -weekend-">Sa</div>
                </div>
                <div class="datepicker--cells datepicker--cells-days">
                    <div class="datepicker--cell datepicker--cell-day -weekend-
                        -other-month-" data-date="28" data-month="2" data-year="2021">
                        28
                    </div>
                    <div class="datepicker--cell datepicker--cell-day
                        -other-month-" data-date="29" data-month="2" data-year="2021">
                        29
                    </div>
                    <div class="datepicker--cell datepicker--cell-day
                        -other-month-" data-date="30" data-month="2" data-year="2021">
                        30
                    </div>
                    <div class="datepicker--cell datepicker--cell-day
                        -other-month-" data-date="31" data-month="2" data-year="2021">
                        31
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="1" data-month="3" data-year="2021">
                        1
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="2" data-month="3" data-year="2021">
                        2
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="3" data-month="3"
                        data-year="2021">
                        3
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="4" data-month="3"
                        data-year="2021">
                        4
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="5" data-month="3" data-year="2021">
                        5
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -current-" data-date="6" data-month="3"
                        data-year="2021">
                        6
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="7" data-month="3" data-year="2021">
                        7
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="8" data-month="3" data-year="2021">
                        8
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="9" data-month="3" data-year="2021">
                        9
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="10" data-month="3"
                        data-year="2021">
                        10
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="11" data-month="3"
                        data-year="2021">
                        11
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="12" data-month="3" data-year="2021">
                        12
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="13" data-month="3" data-year="2021">
                        13
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="14" data-month="3" data-year="2021">
                        14
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="15" data-month="3" data-year="2021">
                        15
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="16" data-month="3" data-year="2021">
                        16
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="17" data-month="3"
                        data-year="2021">
                        17
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="18" data-month="3"
                        data-year="2021">
                        18
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="19" data-month="3" data-year="2021">
                        19
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="20" data-month="3" data-year="2021">
                        20
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="21" data-month="3" data-year="2021">
                        21
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="22" data-month="3" data-year="2021">
                        22
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="23" data-month="3" data-year="2021">
                        23
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="24" data-month="3"
                        data-year="2021">
                        24
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-" data-date="25" data-month="3"
                        data-year="2021">
                        25
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="26" data-month="3" data-year="2021">
                        26
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="27" data-month="3" data-year="2021">
                        27
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="28" data-month="3" data-year="2021">
                        28
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="29" data-month="3" data-year="2021">
                        29
                    </div>
                    <div class="datepicker--cell datepicker--cell-day" data-date="30" data-month="3" data-year="2021">
                        30
                    </div>
                    <div class="datepicker--cell datepicker--cell-day -weekend-
                        -other-month-" data-date="1" data-month="4" data-year="2021">
                        1
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="nspopover-2" class="ns-popover-list-theme ns-popover-bottom-placement
    ns-popover-right-align ng-scope" style="z-index: 100; position: absolute; display: none;">
    <div class="triangle"></div>
    <ul class="account-menu">
        <li class="show-for-small-only">
            <a>Account officer</a>
        </li>
        <!-- ngRepeat: item in model.accountMenu -->
        <li class="show-for-small-only ng-scope" style="">
            <a class="ng-binding">Transfer Funds</a>
        </li>
        <!-- end ngRepeat: item in model.accountMenu -->
        <li class="show-for-small-only ng-scope">
            <a class="ng-binding">Buy Airtime</a>
        </li>
        <!-- end ngRepeat: item in model.accountMenu -->
        <li class="show-for-small-only ng-scope">
            <a class="ng-binding">Pay bills</a>
        </li>
        <!-- end ngRepeat: item in model.accountMenu -->
        <li>
            <a>Manage Account</a>
        </li>
        <li>
            <a>View Transactions</a>
        </li>
    </ul>
</div>
