<!-- uiView:  -->
<div class="global-view ng-scope" ui-view="" style="">
    <div ng-mousedown="hideMenu($event)" class="dashboard ng-scope">
        <app-admin-dashboard-header [name]="userDetails?.fullName"></app-admin-dashboard-header>

        <div hide-on-scroll="" class="hide-for-print mega-menu" style="">
            <div class="fluid-container">
                <div class="row">
                    <!-- ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
                    <div class="large-3 medium-3 small-12 columns ng-scope">
                        <div class="nav-box">
                            <p class="ng-binding">My Accounts and Cards<span></span></p>
                            <ul>

                                <li class="ng-scope">
                                    <a class="ng-binding">Account Summary</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Open New Account</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Debit and Credit Cards</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Reset Debit Card PIN</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Send Account Statement</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="large-3 medium-3 small-12 columns ng-scope">
                        <div class="nav-box">
                            <p class="ng-binding">Transfers<span></span></p>
                            <ul>

                                <li class="ng-scope">
                                    <a class="ng-binding">To Own Accounts</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">To Fidelity Bank Accounts</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">To Other Bank Accounts in Nigeria</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">To Other Bank Accounts Abroad</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">To Phone or Email</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Manage Beneficiaries</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">RTGS Transfer</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="large-3 medium-3 small-12 columns ng-scope">
                        <div class="nav-box">
                            <p class="ng-binding">Bulk Transactions<span></span></p>
                            <ul>

                                <li class="ng-scope">
                                    <a class="ng-binding">Transfer</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Airtime</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">PayCode</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="large-3 medium-3 small-12 columns ng-scope">
                        <div class="nav-box">
                            <p class="ng-binding">Airtime<span></span></p>
                            <ul>

                                <li class="ng-scope">
                                    <a class="ng-binding">Top-up Airtime</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Purchase Data Bundle</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="large-3 medium-3 small-12 columns ng-scope">
                        <div class="nav-box">
                            <p class="ng-binding">Payments and Bills<span></span></p>
                            <ul>

                                <li class="ng-scope">
                                    <a class="ng-binding">Pay Bill</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Remita</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Manage Billers</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="large-3 medium-3 small-12 columns ng-scope">
                        <div class="nav-box">
                            <p class="ng-binding">Gaming<span></span></p>
                            <ul>

                                <li class="ng-scope">
                                    <a class="ng-binding">Bet9ja</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="large-3 medium-3 small-12 columns ng-scope">
                        <div class="nav-box">
                            <p class="ng-binding">Profile and Settings<span></span></p>
                            <ul>

                                <li class="ng-scope">
                                    <a class="ng-binding">Transaction Activities</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Transaction Limits</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Change Password</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Set Transaction PIN</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Secret Questions</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Tokens</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="large-3 medium-3 small-12 columns ng-scope">
                        <div class="nav-box">
                            <p class="ng-binding">Trade<span></span></p>
                            <ul>

                                <li class="ng-scope">
                                    <a class="ng-binding">Import Duty Payment</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">POS Transaction Report</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="large-3 medium-3 small-12 columns ng-scope">
                        <div class="nav-box">
                            <p class="ng-binding">Self Service<span></span></p>
                            <ul>

                                <li class="ng-scope">
                                    <a class="ng-binding">Manage Transaction Alerts</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Stop or Confirm Cheques</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="large-3 medium-3 small-12 columns ng-scope">
                        <div class="nav-box">
                            <p class="ng-binding">Savings<span></span></p>
                            <ul>

                                <li class="ng-scope">
                                    <a class="ng-binding">Set Goal</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="large-3 medium-3 small-12 columns ng-scope">
                        <div class="nav-box">
                            <p class="ng-binding">Collectons<span></span></p>
                            <ul>

                                <li class="ng-scope">
                                    <a class="ng-binding">LASG</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Dangote Payments</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="large-3 medium-3 small-12 columns ng-scope">
                        <div class="nav-box">
                            <p class="ng-binding">Fixed Deposit<span></span></p>
                            <ul>

                                <li class="ng-scope">
                                    <a class="ng-binding">Booking</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Topup</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Liquidation</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="large-3 medium-3 small-12 columns ng-scope">
                        <div class="nav-box">
                            <p class="ng-binding">Loan<span></span></p>
                            <ul>

                                <li class="ng-scope">
                                    <a class="ng-binding">Borrow Bill Payments</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Request a new Loan</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Top-up Existing Loan</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Pay Existing Loan</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Extend Loan Payment</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Check Balance of an Existing Loan</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Terms and Conditions</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="large-3 medium-3 small-12 columns ng-scope">
                        <div class="nav-box">
                            <p class="ng-binding">Cards<span></span></p>
                            <ul>

                                <li class="ng-scope">
                                    <a class="ng-binding">Card Request</a>
                                </li>

                                <li class="ng-scope">
                                    <a class="ng-binding">Card Activation</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="large-3 medium-3 small-12 columns ng-scope">
                        <div class="nav-box">
                            <p class="ng-binding">Beneficiaries<span></span></p>
                            <ul>

                                <li class="ng-scope">
                                    <a class="ng-binding">Top Beneficiaries</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="large-3 medium-3 small-12 columns">
                        <div class="nav-box" style="background: #fff; padding: 10px; border-radius: 5px;">
                            <p>
                                <a target="_blank" href="http://www.firs.gov.ng/Pages/Default.aspx">Pay Your Taxes
                                    Online<br /><img src="dashboard/img/FIRS-Logo.png" text-align="absmiddle"
                                        style="margin-top: 10px;" height="100px" /><span></span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="main-content-wrapper" style="
opacity: 1;
margin-top: 206px;
transition: opacity 0.05s ease 0.2s, margin-top 0.2s ease-in 0s;
" resizer="" offset-elements="['.main-header']">
            <div ui-view="content" class="main-content ng-scope" style="">
                <div class="dash-body ng-scope">
                    <div class="container">
                        <div class="row">
                            <div class="columns small-12">
                                <input class=" mr4" type="search" placeholder="Search" aria-label="Search" style="width: 15%; margin-left: 63rem;margin-bottom:-2%;">
                                <span class="text-right add-admin" style="padding-bottom: 4rem !important;">
                                    <a class="btns green-btn" routerLink="/add-user">
                                        Add Users <i class="fa fa-plus-circle"></i>
                                    </a>
                                </span>
                                <table class="table table-hover table-responsive">
                                    <thead style="background-color: #05286a;color:white">
                                        <tr>
                                            <th>ID</th>
                                            <th>Full Name</th>
                                            <th>Balance</th>
                                            <th>Status</th>
                                            <th>Account Type</th>
                                            <th>Toggle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of paginatedUserList?.entities; index as i">
                                            <td>{{i + 1}}</td>
                                            <td id="f2">{{user.fullName}}</td>
                                            <td id="l2">{{user.balance | number}}</td>
                                            <td id="m2" class="green"
                                            [ngClass]="{'green' : user.userStatus === 'ACTIVE', 'red' : user.userStatus !== 'ACTIVE'}"
                                            >{{user.userStatus}}</td>
                                            <td id="m2" class="green">{{user.accountType}}</td>
                                            <td>
                                              <button
                                              *ngIf="user.userStatus === 'ACTIVE'"
                                              (click)="toggleUser(user.userId)"
                                            [ngClass]="{'btn red-btn': user.userStatus === 'ACTIVE', 'btn green-btn': user.userStatus !== 'ACTIVE'}">
                                              Suspend</button>
                                              <button
                                              *ngIf="user.userStatus !== 'ACTIVE'"
                                              (click)="toggleUser(user.userId)"
                                            [ngClass]="{'btn red-btn': user.userStatus === 'ACTIVE', 'btn green-btn': user.userStatus !== 'ACTIVE'}">
                                              Activate</button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item" *ngIf="paginatedUserList?.page > 0"><a class="page-link" (click)="getUserList(paginatedUserList.page - 1, limit)">Previous</a></li>
                                        <li class="page-item" *ngIf="paginatedUserList?.total > paginatedUserList?.limit"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ngProgress-container" class="ng-scope">
    <div id="ngProgress" style="
 height: 3px;
 background-color: rgb(14, 35, 126);
 color: rgb(14, 35, 126);
 width: 0%;
 opacity: 1;
 "></div>
</div>
