<!-- <script type="text/javascript" src="dashboard/js/templatefiles/jquery-2.1.1.min.js"></script> -->
<div class="global-view ng-scope" ui-view="" style="">
    <div ng-mousedown="hideMenu($event)" class="dashboard ng-scope">
        <app-dashboar-header></app-dashboar-header>


        <div class="main-content-wrapper"
            style="opacity: 1; margin-top: 206px; transition: opacity 0.05s ease 0.2s, margin-top 0.2s ease-in 0s;"
            resizer="" offset-elements="['.main-header']">
            <!-- uiView: content -->
            <div ui-view="content" class="main-content ng-scope" style="">
                <div class="dash-body ng-scope">
                    <div class="container">
                        <div class="row">
                            <div class="columns small-12">
                                <div class="dash-section transact-history">
                                    <h4>Complaints</h4>
                                    <div>
                                        <!-- ngIf: model.busy -->
                                        <div model="model" class="ng-isolate-scope">
                                            <!-- ngIf: model.summary -->
                                        </div>
                                        <div ng-show="!model.confirmation &amp;&amp; !model.outcome"
                                            class="modal-content">
                                            <form name="form" class="modal-form ng-pristine ng-valid" novalidate="">
                                                <div class="row">
                                                    <div class="columns large-12 medium-12 small-12 nopadding-left">
                                                        <span class="placeholder-fallback ng-hide"
                                                            ng-show="isIE9">Select Category</span>
                                                        <select ng-model="model.theItemCategory"
                                                            ng-change="model.theItemCategoryChanged()"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty">
                                                            <option value="">Select Category</option>
                                                            <!-- ngRepeat: acct in model.itemCategory -->
                                                            <option ng-repeat="acct in model.itemCategory" value="1"
                                                                class="ng-binding ng-scope" style="">
                                                                Airtime Recharge
                                                            </option>
                                                            <!-- end ngRepeat: acct in model.itemCategory -->
                                                            <option ng-repeat="acct in model.itemCategory" value="2"
                                                                class="ng-binding ng-scope">
                                                                POS
                                                            </option>
                                                            <!-- end ngRepeat: acct in model.itemCategory -->
                                                            <option ng-repeat="acct in model.itemCategory" value="3"
                                                                class="ng-binding ng-scope">
                                                                ATM Debit Without Dispense
                                                            </option>
                                                            <!-- end ngRepeat: acct in model.itemCategory -->
                                                            <option ng-repeat="acct in model.itemCategory" value="4"
                                                                class="ng-binding ng-scope">
                                                                Funds Transfer
                                                            </option>
                                                            <!-- end ngRepeat: acct in model.itemCategory -->
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="columns large-12 medium-12 small-12 nopadding-left">
                                                        <span class="placeholder-fallback ng-hide"
                                                            ng-show="isIE9">Select Channel/Type</span>
                                                        <select ng-model="model.theCategory"
                                                            ng-change="model.theCategoryChanged()"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty">
                                                            <option value="">Select Channel/Type</option>
                                                            <!-- ngRepeat: cat in model.categoryList -->
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <!-- ngIf: !model.changeAddress -->
                                                    <div class="columns large-12 medium-12 small-12 nopadding-left ng-scope"
                                                        ng-if="!model.changeAddress">
                                                        <span class="placeholder-fallback">Complaint</span>
                                                        <textarea name="complaints" placeholder="Complaints"
                                                            ng-model="model.theComplaint"
                                                            class="ng-pristine ng-untouched ng-valid ng-empty"> </textarea>
                                                    </div><!-- end ngIf: !model.changeAddress -->
                                                </div>
                                                <span>
                                                    <button style="text-align: center; margin-left: 32rem;"
                                                        ng-disabled="model.busy || !model.theComplaint || !form.$valid"
                                                        ng-click="model.confirm()" class="btns green-btn"
                                                        disabled="disabled">
                                                        Submit
                                                    </button>
                                                </span>
                                            </form>
                                        </div>
                                        <span model="model.outcomeModel" ng-show="model.outcome"
                                            class="ng-isolate-scope ng-hide">
                                            <div class="modal-content">
                                                <div>
                                                    <div>
                                                        <!--  class="dash-section" -->
                                                        <div>
                                                            <div class="self-trans-success">
                                                                <!-- ngIf: model.status -->
                                                                <!-- ngIf: !model.status -->
                                                                <div ng-if="!model.status" class="error-icon ng-scope">
                                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                                </div><!-- end ngIf: !model.status -->
                                                                <h2 class="ng-binding"></h2>
                                                                <p class="break ng-binding"
                                                                    ng-bind-html="model.content"></p>
                                                                <div class="row">
                                                                    <!-- ngRepeat: button in model.buttons -->

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>