<div class="hide-for-print top-header">
    <div class="row">
        <div class="small-6 columns">
            <a class="float-left" ng-click="model.show('page','/home/dashboard')"><img src="../../../assets/../../../assets/dashboard/img/bos_logo.svg" width="200" height="auto"></a>
        </div>
        <div class="small-6 columns">
            <button routerLink="/logout" (click)="logout()" class=" icon-button float-right"><i class="fa fa-power-off"
                  aria-hidden="true"></i>&nbsp;LOGOUT
          </button>
        </div>
    </div>
</div>
<header hide-offset="0" hide-header="" class="hide-for-print main-header" style="top: 0px; transition: all 0.25s ease 0s;">
    <div class="main-nav">
        <div class="">
            <div class="row">
                <div class="large-4 medium-4 small-6 columns mobile">
                    <p class="greet ng-binding" style="margin-top: 8%;">
                        Hi {{name}}
                        <span><a>View profile <i class="fa fa-chevron-right"></i></a></span>
                    </p>
                </div>
                <div class="large-12 medium-8 small-6 columns" style="margin-top:-3%;">
                    <div class="navicons">
                        <ul>
                            <li div="item in model.dashboardMenu | menu:model.role_flag:model.session" class="ng-scope">
                                <span> </span>
                                <span ng-if="item.href!='bill-payments'" class="ng-scope">
                                  <a routerLink="/admin-dashboard">
                                      <img ng-src="../../../assets/dashboard/img/home.png" class="dashboardImg"
                                          src="../../../assets/dashboard/img/home.png" /><span
                                          class="ng-binding">Dashboard</span></a>
                                </span>
                            </li>
                            <li div="item in model.dashboardMenu | menu:model.role_flag:model.session" class="ng-scope">
                                <span> </span>
                                <span ng-if="item.href!='bill-payments'" class="ng-scope">
                                  <a ng-click="model.show(item.modal ?'modal':'page',item.href)"
                                      [routerLink]="'/list'">
                                      <img ng-src="../../../assets/dashboard/img/transfer@2x.png" class="dashboardImg"
                                          src="../../../assets/dashboard/img/transfer@2x.png" /><span
                                          class="ng-binding">User List</span></a>
                                </span>
                                <!-- end ngIf: item.href!='bill-payments' -->
                            </li>
                            <!-- end ngRepeat: item in model.dashboardMenu | menu:model.role_flag:model.session -->
                            <li div="item in model.dashboardMenu | menu:model.role_flag:model.session" class="ng-scope">
                                <span> </span>
                                <!-- ngIf: item.href=='bill-payments' -->
                                <!-- ngIf: item.href!='bill-payments' -->
                                <span ng-if="item.href!='bill-payments'" class="ng-scope">
                                  <a ng-click="model.show(item.modal ?'modal':'page',item.href)">
                                      <img ng-src="../../../assets/dashboard/img/airtime@2x.png" class="dashboardImg"
                                          src="../../../assets/dashboard/img/airtime@2x.png" /><span
                                          class="ng-binding">Card
                                          Record</span></a>
                                </span>
                            </li>
                            <li div="item in model.dashboardMenu | menu:model.role_flag:model.session" class="ng-scope">
                                <span> </span>
                                <!-- ngIf: item.href=='bill-payments' -->
                                <span ng-if="item.href=='bill-payments'" class="ng-scope">
                                  <a routerLink="/deposit">
                                      <img ng-src="../../../assets/dashboard/img/bills@2x.png" class="dashboardImg"
                                          src="../../../assets/dashboard/img/bills@2x.png" /><span
                                          class="ng-binding">Transfer
                                          Money</span></a>
                                </span>
                                <!-- end ngIf: item.href=='bill-payments' -->
                                <!-- ngIf: item.href!='bill-payments' -->
                            </li>
                            <!-- end ngRepeat: item in model.dashboardMenu | menu:model.role_flag:model.session -->
                            <li div="item in model.dashboardMenu | menu:model.role_flag:model.session" class="ng-scope">
                                <span> </span>
                                <span ng-if="item.href!='bill-payments'" class="ng-scope">
                                  <a ng-click="model.show(item.modal ?'modal':'page',item.href)">
                                      <img ng-src="../../../assets/dashboard/img/film.png" class="dashboardImg"
                                          src="../../../assets/dashboard/img/film.png" /><span class="ng-binding">Edit
                                          User
                                          Wallet</span></a>
                                </span>
                            </li>
                            <li>
                                <a ng-click="model.show('page','home/complaints')"><img ng-src="dashboard/img/comm.png" class="dashboardImg" src="../../../assets/dashboard/img/comm.png" /><span>Complaints/Support</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" onclick="openNav()">
                <img _ngcontent-pod-c52="" src="../../../assets/dashboard/img/do-more@2x.png" width="26" height="25"  style="margin-top: 35px;margin-left: 20px;">
                </button>
            </div>
        </div>
    </div>
</header>
<!-- new nav -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Dashboard</a>
    <a href="#">Do a transfer</a>
    <a>Complaints</a>
    <a href="contacts.html">Bills and payment</a>
</div>
