@import '../../../assets/dashboard/css/styles.css';
@import '../../../assets/dashboard/js/chart/Chart.css';
@import '../../../assets/dashboard/css/compiled.css';
@import '../../../assets/dashboard/css/nsPopover.css';
@import '../../../assets/dashboard/css/datepicker.min.css';
@import '../../../assets/dashboard/css/foundation.css';
@import '../../../assets/dashboard/css/styles.css';
@import '../../../assets/dashboard/css/foundation.css';
@import '.././../../assets/dashboard/css/font-awesome.min.css';
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1111 !important;
    top: 0;
    left: 0;
    background-color: #05286A;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #093b97;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    .mobile {
        margin-top: 5% !important;
    }
}

@media screen and (min-width: 450px) {
    .collapsed {
        display: none;
    }
}
