<!-- <app-mobilelogin></app-mobilelogin> -->


<div id="wrapper">
    <div id="header-wrapper">

        <div class="outer">
            <div id="header">
                <ul id="skiplinks">
                    <li><a id="lnkSkip" name="lnkSkip" href="#page">Skip to main content</a></li>
                </ul>
                <div class="clearfix">
                    <span id="strbrandname" style="display: none">BOS</span>
                    <p id="logo">

                        <span> <img
                                src="https://online.bankofscotland.co.uk/wps/wcm/connect/content_bos_personal_banking/assets/media/images/lloydstsb2009/miscellaneous/img00002a_new-1560877846.png"
                                alt="Bank of Scotland" />
                        </span>

                    </p>

                    <div class="secureMsg">
                        <p class="msg">
                            <img src="https://online.bankofscotland.co.uk/wps/wcm/connect/content_bos_personal_banking/assets/media/images/lloydstsb2009/miscellaneous/img0004a_new-1560878007.png" alt="You're logging into a secure site" />
                        </p>

                        <p><a class="newwin" href="http://www.bankofscotland.co.uk/securityandprivacy/security-centre-home/" title="How can I tell that this site is secure?">How can I tell that this site is
                                secure?</a></p>
                    </div>

                    <div class="loggedIn">
                        <ul>

                            <li class="mobile"><a href="/personal/logon/login.jsp?mobile=true" title=Mobile class="linkBullet">Mobile</a></li>



                            <li class="cookie"><a class="linkBullet newwin" href="http://www.bankofscotland.co.uk/securityandprivacy/cookies/" title="Cookie policy">Cookie policy</a></li>

                        </ul>
                    </div>


                </div>
            </div>

        </div>

    </div>


    <noscript>
        <style type="text/css">
            .pageWrap.contentWrap {
                display: none;
            }
        </style>
        <div class="pageWrap loginError">
            <div id="page" class="content">
                <div class="primaryWrap">
                    <div class="primary">
                        <div class="panel">
                            <h1>Please turn on Javascript</h1>
                            <div class="msgErrorBrowser">
                                <div class="msgTLBrowser">
                                    <div class="msgTRBrowser">
                                        <div class="msgBRBrowser">
                                            <div class="msgBLBrowser">
                                                <p class="browserMsgP">
                                                <p>You need to have Javascript turned on to use Internet Banking.
                                                    You can turn it on by following the instructions in your browser
                                                    menu. Or search for 'enable Javascript' in your search engine.
                                                </p>
                                                <p>If you have accessibility needs and turned Javascript off because
                                                    it interferes with your screen reader, you should check that
                                                    you're using the most recent version of the screen reader, or
                                                    you could try using an alternative.</p>
                                                <p>If you have problems using a computer because of a disability or
                                                    impairment, we recommend you visit <a
                                                        title="https://www.abilitynet.org.uk"
                                                        href="https://www.abilitynet.org.uk" target="_blank"
                                                        rel="noopener noreferrer">https://www.abilitynet.org.uk</a>
                                                    for free expert advice and guidance.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="backToHomepage">
                                <p><a class="newwin" href="https://www.bankofscotland.co.uk/"
                                        title="https://www.bankofscotland.co.uk/"><img alt="Back to homepage"
                                            src="/wps/wcm/connect/content_bos_personal_banking/assets/media/images/lloydstsb2009/miscellaneous/BOS_BACK_TO_HOMEPAGE_DESK-1562944681.png" /></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </noscript>



    <div class="pageWrap contentWrap">
        <div id="page" class="content">
            <div class="primaryWrap">
                <div class="primary">
                    <div class="panel container">
                        <h1>Welcome to Internet Banking</h1>
                        <div class="inner">
                            <p>If you don't already use Internet Banking, it's simple to <a href="/personal/a/registration/onlinepersonalregistration.jsp" title="register online">register online</a>.</p>
                        </div>
                        <form id="frmLogin" [formGroup]="loginForm" (ngSubmit)="onClick()" class="validationName:(login) validate:()" autocomplete="off" enctype="application/x-www-form-urlencoded">
                            <div class="inner heading">
                                <div class="subPanel">
                                    <fieldset>
                                        <div class="formField validate:(required) validationName:(userID) clearfix">
                                            <div class="formFieldInner">
                                                <label for="frmLogin:strCustomerLogin_userID">Email Address</label>

                                                <input type="text" autocomplete="off" id="frmLogin:strCustomerLogin_userID" formControlName="username" name="frmLogin:strCustomerLogin_userID" class="field setFocus" maxlength="30" value='' />
                                                <span *ngIf="f.username.touched && f.username.errors?.required" class="help-block">Required !</span>

                                            </div>
                                        </div>

                                        <div class="formField validate:(required) validationName:(password) clearfix">
                                            <div class="formFieldInner">
                                                <label for="frmLogin:strCustomerLogin_pwd">Password</label>
                                                <input type="password" id="frmLogin:strCustomerLogin_pwd" formControlName="password" name="frmLogin:strCustomerLogin_pwd" class="field" maxlength="20" value="" />
                                                <span *ngIf="f.password.touched && f.password.errors?.required" class="help-block">Required !</span>
                                            </div>
                                        </div>

                                        <div class="formField fieldHelp checkbox clearfix">
                                            <div class="formFieldInner loginCheckbox">
                                                <input id="frmLogin:loginRemember" type="checkbox" name="frmLogin:loginRemember" />
                                                <label for="frmLogin:loginRemember">Remember my username on this
                                                    computer</label>

                                                <span class="cxtHelp">
                                                    <a class="cxtTrigger infoIcon"
                                                        title="Click to find out more about remembering your User name."
                                                        href="#cxtHelp1">
                                                        i
                                                        <span class="Accessibilityhidden">Information</span>
                                                </a>
                                                </span>

                                                <div id="cxtHelp1" class="help" style="display: none !important">










                                                    <!-- start TS:component_0_free_format -->



                                                    <p><strong>Remember my username</strong></p>
                                                    <p>Tick this box to save your username on this computer. This won&#8217;t save your password though. You will still have to enter it each time you want to access your account. We use a&nbsp;<a class="newwin"
                                                            href="http://www.bankofscotland.co.uk/securityandprivacy/cookies/" title="">cookie</a>&nbsp;to do this.</p>
                                                    <h3>&nbsp;</h3>
                                                    <p></p>



                                                    <!-- end TS:component_0_free_format -->






                                                </div>
                                            </div>

                                        </div>
                                        <div class="inner warn-msg">









                                            <!-- start TS:component_0_free_format -->



                                            <p>&nbsp;</p>
                                            <p><strong>Warning:</strong> Do not tick this box if you are using a public or shared computer.</p>


                                            <!-- end TS:component_0_free_format -->





                                        </div>
                                        <div class="loginActions clearfix">

                                            <input id="frmLogin:btnLogin1" name="frmLogin:btnLogin1" type="image" class="submitAction" src="https://online.bankofscotland.co.uk/wps/wcm/connect/content_bos_personal_banking/assets/media/images/lloydstsb2009/miscellaneous/btn0001a_new-1560877832.png"
                                                alt="Continue" title="Continue" />



                                            <ul id="frmLogin:pnlLogin2DMC" class="linkList">
                                                <li><a id="frmLogin:lkFrgtLogonLinkDMC" name="frmLogin:lkFrgtLogonLinkDMC" href="/ib-access/cwa/forgotten-details/index.html" title="Forgotten your login details?">Forgotten your login
                                                        details?</a></li>
                                            </ul>

                                        </div>
                                    </fieldset>
                                    <input type="hidden" name="frmLogin" value="frmLogin" /> <input type="hidden" name="submitToken" value="3839736" /> <input type="hidden" name="target" value="" />



                                    <input type="hidden" name="hdn_mobile" value="" />




                                    <input type="hidden" name="dclinkjourid" value="4WZobHZhNtUAQwE2U2WQ3fGgC6OvnV0W" />


                                    <input type="hidden" name="wup_url" value="https://wup-16c9d93d.bankofscotland.co.uk/client/v3/web/wup?cid=karma" />

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel" style="display: none">
                        <div class="salesPromo clearfix">
                            <p class="Img">
                                <img src="https://online.bankofscotland.co.uk/wps/wcm/connect/content_bos_personal_banking/assets/media/images/marketing/logon-banners/bos_static-1606327002.jpg" alt="<p>&nbsp;&nbsp;</p>" />
                            </p>
                            <div class="Msg">
                                <h2><strong>Fraudsters don&rsquo;t quit</strong></h2>
                                <p>Scams never stop. But we can help you spot them all year round. When you buy things online, be safe and pay by card. <a href="https://www.bankofscotland.co.uk/securityandprivacy/protecting-yourself-from-fraud/shop-safely-buying-from-people-online.html?WT.ac=lon/public/navigation/ban/r3pr/serv/s/rl/BFraudBnJn"
                                        target="_blank" rel="noopener noreferrer">Find out more</a></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="secondary">
                <div class="panel">

                    <div class="accordion">
                        <div class="part">
                            <h2 class="trigger linkPointer hasLink ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="true" tabindex="0">
                                <span class="ui-icon ui-icon-triangle-1-e"></span> Help &amp; support
                            </h2>
                            <div class="pane" style="display: none">
                                <div class="paneInner">
                                    <ul class="quickFAQs">


                                        <li>
                                            <h3 class="qfaqTrigger">What can I do to protect myself online?</h3>
                                            <div class="qfaqCont">
                                                <p>Adopting a few good habits can help make sure your personal information stays safe and secure on the internet. Find out more about&nbsp;
                                                    <a class="newwin" href="http://www.bankofscotland.co.uk/securityandprivacy/security/" title="online security">online security</a>&nbsp;</p>
                                            </div>
                                        </li>
                                        <li>
                                            <h3 class="qfaqTrigger">Why am I having trouble logging in?</h3>
                                            <div class="qfaqCont">
                                                <p>
                                                    <p>It could be because you're trying to log in from a networked site (the office, for example). If so, please contact your Systems Administrator for help.</p>
                                                    <p>If you still have trouble, please call our helpdesk on
                                                        <strong>&nbsp;0345 602 0000&nbsp;</strong>(+44 1132 79 83 02 from outside the UK).</p>
                                                    <p>Textphone users who have a hearing or speech impairment can call us on&nbsp;<strong>0345 600
                                                        9644</strong><strong>&nbsp;</strong>(+44 131 278 3690&nbsp;from outside the UK).</p>

                                            </div>
                                        </li>
                                        <li>
                                            <h3 class="qfaqTrigger">How do I reset my password and/or memorable information?
                                            </h3>
                                            <div class="qfaqCont">
                                                <p>
                                                    <p>First, go to the Internet Banking <a class="newwin" href="https://online.bankofscotland.co.uk/personal/logon/login.jsp" title="">log in</a> screen and click on the 'Forgotten your login details?' link.
                                                        You'll need to enter a few details. On the next screen you'll be asked if you want to reset your password or reset both your password and memorable information. Select the option which applies to
                                                        you.
                                                    </p>
                                                    <p>If you choose to reset your password and/or memorable information, you&rsquo;ll need to enter and confirm your new details and select a phone number for us to call you on. You&rsquo;ll then receive a
                                                        call from our automated system. Follow the instructions and your password and/or memorable information will be reset immediately.</p>

                                            </div>
                                        </li>
                                        <li>
                                            <h3 class="qfaqTrigger">I'm locked out of my account. What should I do?
                                            </h3>
                                            <div class="qfaqCont">
                                                <p>
                                                    <p>You may need to reset your password. To do so, go to the Internet Banking <a class="newwin" href="https://online.bankofscotland.co.uk/personal/logon/login.jsp" title="">log in</a> screen, click on the
                                                        'Forgotten your login details?' link, and follow the on-screen instructions.</p>
                                                    <p>If you're still unable to access Internet Banking, please call our helpdesk on <strong>0345 602 0000</strong> (+44 1132 79 83 02 from outside the UK) and one of our customer service agents will be able
                                                        to help you. Textphone users who have a hearing or speech impairment can call us on&nbsp;0345 600 9644
                                                        <strong>&nbsp;</strong>(+44 131 278 3690&nbsp;from outside the UK).</p>

                                            </div>
                                        </li>
                                        <li>
                                            <h3 class="qfaqTrigger">Are my security details case sensitive?</h3>
                                            <div class="qfaqCont">
                                                <p>No, your security details, including your password and user name, aren't case sensitive.</p>
                                            </div>
                                        </li>
                                    </ul>

                                    <p><a href="http://www.bankofscotland.co.uk/onlinebankinghelp/onlinehelp.asp" class="linkBullet linkMore newwin newfaqwin" target="_blank" title="More help & support">More help & support</a></p>

                                </div>
                            </div>
                        </div>
                        <div class="part">
                            <h2 class="trigger linkPointer hasLink ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="true" tabindex="0">
                                <span class="ui-icon ui-icon-triangle-1-e"></span> Contact us
                            </h2>
                            <div class="pane" style="display: none">
                                <div class="paneInner">
                                    <div class="quickContact">

                                        <h3>General banking &amp; account queries</h3>
                                        <p><strong>0345 721 3141</strong><br />Open 7 am - 11 pm, seven days a week
                                            <br />If you have a hearing or speech impairment, you can contact us using Text Relay or Textphone on&nbsp;<strong>0345 600 9644</strong> (lines are open 9am to 5.30pm, seven days a week).</p>
                                        <h3>Internet Banking queries</h3>
                                        <p>Technical queries about the Internet Banking service<br /><strong>0345
                                                602 0000<br /></strong>If you have a hearing or speech impairment, you can contact us using Text Relay or Textphone on&nbsp;<strong>0345
                                                600 9644</strong> (lines are open 9am to 5.30pm, seven days a week).
                                        </p>
                                        <h3>Saving application queries</h3>
                                        <p><strong>0345 602 0304</strong><br />Open 7am - 11pm, seven days a week
                                            <br />If you have a hearing or speech impairment, you can contact us using Text Relay or Textphone on&nbsp;<strong>0345 600 9644</strong> (lines are open 9am to 5.30pm, seven days a week).</p>
                                        <p>Calls may be monitored and recorded in case we need to check we have carried out your instructions correctly and to help us improve our quality of service.</p>
                                        <p>Not all Telephone Banking services are available 24 hours a day, seven days a week. Please speak to an adviser for more information.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="subPanel">
                        <p style="display: inine-block; margin-top: 10px; margin-left: 40px;">
                            <a class="newwin" href="http://www.bankofscotland.co.uk/HelpCentre/fscs/" title="Financial Services Compensation Scheme - Click to open a new window"><img alt="" src="https://online.bankofscotland.co.uk/wps/wcm/connect/content_bos_personal_banking/assets/media/images/lloydstsb2009/miscellaneous/p0400lnk500a_new-1560878019.png" /></a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div id="footer" style="margin-top: 70px">
        <div id="footerInner">
            <ul>
                <li><strong><a class="newwin" href="https://www.bankofscotland.co.uk" title="Personal Banking">Personal
                            Banking</a></strong></li>
                <li><a class="newwin" href="http://www.bankofscotland.co.uk/helpcentre/legal-information/" title="Legal">Legal</a></li>
                <li><a class="newwin" href="http://www.bankofscotland.co.uk/securityandprivacy/securityandprivacy.asp" title="">Privacy</a></li>
                <li><a class="newwin" href="http://www.bankofscotland.co.uk/securityandprivacy/securityandprivacy.asp" title="">Security</a></li>
                <li><a class="newwin" href="http://www.lloydsbankinggroup.com/" title="www.lloydsbankinggroup.com">www.lloydsbankinggroup.com</a></li>
                <li><a class="newwin" href="http://www.bankofscotland.com/bankaccounts/rates-rewards-fees/" title="Rates & fees">Rates & fees</a></li>
            </ul>
            <p>Registered Office: The Mound, Edinburgh EH1 1YZ. Authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority under registration no. 169628.</p>
        </div>
    </div>

</div>


<input type="hidden" name="smartAppForTabletIos" value="false" />


<noscript>
    <div><img alt="DCSIMG" id="DCSIMG" class="hide"
            src="https://statse.webtrendslive.com/dcs05my7svz5bd7o326cnek04_5j7g/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=10.4.11" />
    </div>
</noscript>
<script type="text/javascript" async="async">
    window.postMessage({
        type: 'ContextChange',
        activityType: "LOGIN_1"
    }, window.location.href);
</script>
<script type="text/javascript">
    LBG.functions.init();
</script>
<script type="text/javascript" src="https://online.bankofscotland.co.uk/unauth/assets/webtrends/P04.00.js"></script>
<script type="text/javascript" src="https://online.bankofscotland.co.uk/unauth/assets/lib/ress/js/header-footer-min210210.js"></script>
