@import url('https://online.bankofscotland.co.uk/unauth/assets/BOSRetail/style/sca_global.css');
@import url('https://online.bankofscotland.co.uk/unauth/assets/BOSRetail/img/icons/favicon.ico');
.pageWrap.contentWrap {
    display: block !important;
}
