<div class="global-view ng-scope" ui-view="" style="">
    <div ng-mousedown="hideMenu($event)" class="dashboard ng-scope">
        <app-dashboar-header [name]="userDetails?.fullName"></app-dashboar-header>
        <div class="main-content-wrapper" style="opacity: 1;
            margin-top: 206px;
            transition: opacity 0.05s ease 0.2s, margin-top 0.2s ease-in 0s;" resizer=""
            offset-elements="['.main-header']">
            <!-- uiView: content -->
            <div ui-view="content" class="main-content ng-scope">
                <div class="dash-body ng-scope" class="small-12 large-12">
                    <div class="container">

                        <div class="row">
                            <div no-of-columns="2" grid="model.bricks">
                                <div class="row column">
                                    <!-- ngRepeat: item in items -->
                                    <div ng-class="{override:item.override }" ng-init="card=item" class="ng-scope"
                                        style="margin-top: 2rem;">
                                        <!-- ngIf: !item.override -->
                                        <div ng-if="!item.override" ng-class="['columns','no-override',
                                            'large-'+x,'medium-'+x, 'small-12']" class="ng-scope columns no-override
                                            large-6 medium-6 small-12">
                                            <content template="card.template" class="ng-scope">
                                                <!-- container for each card -->
                                                <div class="dash-section
                                                    account-card ng-scope">
                                                    <div class="section-title
                                                        palette-2">
                                                        <p class="ng-binding">
                                                          {{userDetails?.accountType}}
                                                            <span class="ng-binding">&nbsp;{{userDetails?.accountNumber}}</span>
                                                        </p>
                                                    </div>

                                                    <div class="amt-graph
                                                        clearfix">
                                                        <p class="account-name">
                                                            <span ng-bind-html="account.accountName"
                                                                class="ng-binding">{{userDetails?.fullName}}</span>
                                                        </p>
                                                        <div class="bank-bal">
                                                            <p ng-if="type!=='LOAN'" class="avail-bal
                                                                ng-scope">
                                                                Available
                                                                Balance
                                                            </p>
                                                            <p class="avail-bal-amt">
                                                                <span class="ng-binding" style="font-size:
                                                                    40px;">₦{{userDetails?.balance | number}}
                                                                </span>
                                                            </p>
                                                            <!-- end ngIf: type!=='LOAN' -->
                                                        </div>

                                                        <div class="other-bank-det">
                                                            <!-- ngIf: type!=='LOAN' -->
                                                            <p ng-if="type!=='LOAN'" class="ng-scope">
                                                                Cleared Balance
                                                                <span>
                                                                    <span class="ng-binding">₦{{userDetails?.balance | number}}</span>
                                                                </span>
                                                            </p>
                                                            <p>
                                                                Status
                                                                <span class="ng-binding">Active</span>
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <div class="section-footer">
                                                        <ul class="dropdown
                                                            menu" data-dropdown-menu="">
                                                            <li>
                                                                <a>Account
                                                                    officer</a>
                                                            </li>

                                                            <li ng-if="extraMenu" class="ng-scope">
                                                                <a class="ng-binding">Transfer
                                                                    Funds</a>
                                                            </li>

                                                            <li ng-if="extraMenu" class="ng-scope">
                                                                <a class="ng-binding">Buy
                                                                    Airtime</a>
                                                            </li>

                                                            <li ng-if="extraMenu" class="ng-scope">
                                                                <a class="ng-binding">Pay
                                                                    bills</a>
                                                            </li>
                                                            <li ng-if="extraMenu" class="ng-scope">
                                                                <a ns-popover="" ns-popover-trigger="mouseover"
                                                                    ns-popover-hide-on-inside-click="true"
                                                                    ns-popover-placement="bottom|right"
                                                                    ns-popover-template="templates/accounts-dropdown-menu.html"
                                                                    class="ng-scope">Do
                                                                    More &nbsp;<i class="fa
                                                                        fa-caret-down"></i></a>
                                                            </li>
                                                            <!-- end ngIf: extraMenu -->
                                                        </ul>
                                                    </div>
                                                </div>
                                            </content>
                                        </div>
                                        <!-- end ngIf: !item.override -->
                                        <!-- ngIf: item.override -->
                                    </div><!-- end ngRepeat: item in items -->
                                    <div ng-class="{override:item.override }" ng-init="card=item" class="ng-scope"
                                        style="margin-top: 2rem;">
                                        <!-- ngIf: !item.override -->
                                        <div ng-if="!item.override" ng-class="['columns','no-override',
                                            'large-'+x,'medium-'+x, 'small-12']" class="ng-scope columns no-override
                                            large-6 medium-6 small-12">
                                            <content template="card.template" class="ng-scope">
                                                <div class="dash-section
                                                    account-card ng-scope" ng-style="{'background-image':
                                                    card.palette,'background-size':
                                                    '100%
                                                    100%','background-repeat':
                                                    'no-repeat'}" style="background-image:
                                                    url('../../../assets/dashboard/img/scot.png');
                                                    background-size: 100% 100%;
                                                    background-repeat:
                                                    no-repeat;"></div>
                                            </content>
                                        </div>
                                        <!-- end ngIf: !item.override -->
                                        <!-- ngIf: item.override -->
                                    </div><!-- end ngRepeat: item in items -->
                                    <div ng-class="{override:item.override }" ng-init="card=item" class="ng-scope">
                                        <!-- ngIf: !item.override -->
                                        <div ng-if="!item.override" ng-class="['columns','no-override',
                                            'large-'+x,'medium-'+x, 'small-12']" class="ng-scope columns no-override
                                            large-6 medium-6 small-12">
                                            <content template="card.template" class="ng-scope">
                                                <div class="columns ng-scope
                                                    small-12 nopadding" ng-class="{'small-12':card.override,'small-12
                                                    nopadding':!card.override
                                                    }">
                                                    <div class="dash-section
                                                        transact-ctn
                                                        account-card">
                                                        <h4>Recent Transactions</h4>
                                                        <div class="section-title">
                                                            <ul>
                                                                <li class="date">
                                                                    Date
                                                                </li>
                                                                <li class="trans">
                                                                    Transaction
                                                                    Type
                                                                </li>
                                                                <li class="acct">
                                                                    Account
                                                                </li>
                                                                <li class="amt">
                                                                    Amount
                                                                </li>
                                                            </ul>
                                                        </div>

                                                        <div class="transactions-listing">
                                                            <div ng-if="card.result.length
                                                                == 0 &amp;&amp;
                                                                !model.fetchingTransactions" class="list
                                                                ng-scope" style="">
                                                              <ul *ngFor="let transaction of transactions">
                                                                <li class="date">
                                                                  {{transaction.createdAt | date}}
                                                                </li>
                                                                <li class="trans">
                                                                  {{transaction.transactionType}}
                                                                </li>
                                                                <li class="acct">
                                                                  {{transaction.accountNumber}}
                                                                </li>
                                                                <li class="amt">
                                                                  {{transaction.amount | number}}
                                                                </li>
                                                              </ul>
                                                            </div>
                                                        </div>
                                                        <a ng-click="model.go('/home/transaction-history')"
                                                            ng-if="!model.fetchingTransactions" class="notify
                                                            ng-scope" style="">View all
                                                            transactions
                                                            <i class="fa
                                                                fa-chevron-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </content>
                                        </div>
                                    </div><!-- end ngRepeat: item in items -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
