 @import '../../../assets/dashboard/css/foundation.css';
  @import '../../../assets/dashboard/css/compiled.css';
  @import '../../../assets/dashboard/css/datepicker.min.css';
@import '../../../assets/dashboard/css/styles.css';

 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700');



 



 @media screen and (min-width: 64em){
.large-6 {
    width: 45%;
}
 }