/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr';
body {
    margin-left: 0 !important
}

.error {
    border: 1px solid red;
}

.error {
    border: 2px solid #db0000 !important;
}

@-ms-viewport {
    width: device-width;
}
