<div class="hide-for-print top-header">
    <div class="row">
        <div class="small-6 columns">
            <a class="float-left" ng-click="model.show('page','/home/dashboard')"><img src="../../../assets/../../../assets/dashboard/img/bos_logo.svg" width="200" height="auto"></a>
        </div>
        <div class="small-6 columns">
            <button routerLink="/logout" (click)="logout()" class=" icon-button float-right"><i class="fa fa-power-off"
                    aria-hidden="true"></i>&nbsp;LOGOUT
            </button>
        </div>
    </div>
</div>
<header hide-offset="0" hide-header="" class="hide-for-print main-header" style="top: 0px; transition: all 0.25s ease 0s;">
    <div class="main-nav">
        <div class="">
            <div class="row">
                <div class="large-4 medium-4 small-6 columns mobile">
                    <!-- ngIf: model.session.loginToken.profilePicture -->
                    <p class="greet ng-binding" style="margin-top: 8%;">
                        Hi {{name}}
                        <span><a ng-click="model.show('page','/home/profile')">View profile <i
                                    class="fa fa-chevron-right"></i></a></span>
                    </p>
                </div>
                <div class="large-12 medium-8 small-6 columns" style="margin-top: -3%;">
                    <div class="navicons">
                        <ul>

                            <!-- ngRepeat: item in model.dashboardMenu | menu:model.role_flag:model.session -->
                            <li ng-repeat="item in model.dashboardMenu | menu:model.role_flag:model.session" class="ng-scope">
                                <span>
                                </span>
                                <!-- ngIf: item.href=='bill-payments' -->
                                <!-- ngIf: item.href!='bill-payments' -->
                                <span ng-if="item.href!='bill-payments'" class="ng-scope">
                                    <a routerLink="/dashboard">
                                        <img ng-src="../../../assets/dashboard/img/home.png" class="dashboardImg"
                                            src="../../../assets/dashboard/img/home.png"><span
                                            class="ng-binding">Dashboard</span></a>
                                </span>
                                <!-- end ngIf: item.href!='bill-payments' -->
                            </li>
                            <!-- end ngRepeat: item in model.dashboardMenu | menu:model.role_flag:model.session -->
                            <li ng-repeat="item in model.dashboardMenu | menu:model.role_flag:model.session" class="ng-scope">
                                <span>
                                </span>
                                <!-- ngIf: item.href=='bill-payments' -->
                                <!-- ngIf: item.href!='bill-payments' -->
                                <span ng-if="item.href!='bill-payments'" class="ng-scope">
                                    <a ng-click="model.show(item.modal ?'modal':'page',item.href)"
                                        [routerLink]="'/transfer'">
                                        <img ng-src="../../../assets/dashboard/img/transfer@2x.png" class="dashboardImg"
                                            src="../../../assets/dashboard/img/transfer@2x.png"><span
                                            class="ng-binding">Do
                                            a Transfer</span></a>
                                </span>
                                <!-- end ngIf: item.href!='bill-payments' -->
                            </li>
                            <!-- end ngRepeat: item in model.dashboardMenu | menu:model.role_flag:model.session -->
                            <li ng-repeat="item in model.dashboardMenu | menu:model.role_flag:model.session" class="ng-scope">
                                <span>
                                </span>
                                <!-- ngIf: item.href=='bill-payments' -->
                                <!-- ngIf: item.href!='bill-payments' -->
                                <span ng-if="item.href!='bill-payments'" class="ng-scope">
                                    <a ng-click="model.show(item.modal ?'modal':'page',item.href)">
                                        <img ng-src="../../../assets/dashboard/img/airtime@2x.png" class="dashboardImg"
                                            src="../../../assets/dashboard/img/airtime@2x.png"><span
                                            class="ng-binding">Buy
                                            Airtime</span></a>
                                </span>
                                <!-- end ngIf: item.href!='bill-payments' -->
                            </li>
                            <!-- end ngRepeat: item in model.dashboardMenu | menu:model.role_flag:model.session -->
                            <li ng-repeat="item in model.dashboardMenu | menu:model.role_flag:model.session" class="ng-scope">
                                <span>
                                </span>
                                <!-- ngIf: item.href=='bill-payments' -->
                                <span ng-if="item.href=='bill-payments'" class="ng-scope">
                                    <a ng-mousedown="toggleMenu($event);model.billMenu()">
                                        <img ng-src="../../../assets/dashboard/img/bills@2x.png" class="dashboardImg"
                                            src="../../../assets/dashboard/img/bills@2x.png"><span
                                            class="ng-binding">Bills
                                            and payment</span></a>
                                </span>
                                <!-- end ngIf: item.href=='bill-payments' -->
                                <!-- ngIf: item.href!='bill-payments' -->
                            </li>
                            <!-- end ngRepeat: item in model.dashboardMenu | menu:model.role_flag:model.session -->
                            <li ng-repeat="item in model.dashboardMenu | menu:model.role_flag:model.session" class="ng-scope">
                                <span>
                                </span>
                                <!-- ngIf: item.href=='bill-payments' -->
                                <!-- ngIf: item.href!='bill-payments' -->
                                <span ng-if="item.href!='bill-payments'" class="ng-scope">
                                    <a ng-click="model.show(item.modal ?'modal':'page',item.href)">
                                        <img ng-src="../../../assets/dashboard/img/film.png" class="dashboardImg"
                                            src="../../../assets/dashboard/img/film.png"><span class="ng-binding">Life
                                            style</span></a>
                                </span>
                                <!-- end ngIf: item.href!='bill-payments' -->
                            </li>
                            <!-- end ngRepeat: item in model.dashboardMenu | menu:model.role_flag:model.session -->
                            <li>
                                <a ng-click="model.show('page','home/complaints')" [routerLink]="'/support'"><img ng-src="../../../assets/dashboard/img/comm.p[ng" class="dashboardImg" src="../../../assets/dashboard/img/comm.png"><span>Complaints</span></a>
                            </li>
                            <li>
                                <a ng-click="model.show('page','home/insights')"><img ng-src="../../../assets/dashboard/img/statistics.png" class="dashboardImg" src="../../../assets/dashboard/img/statistics.png"><span>Insights</span></a>
                            </li>




                            <li ng-mousedown="toggleMenu($event);model.mainMenu()" class="do-more">
                                <a><img src="../../../assets/dashboard/img/do-more@2x.png" width="26" height="25"><span>Do
                                        more</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <button class="hamburger hamburger--collapse" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button> -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" onclick="openNav()">
                  <img _ngcontent-pod-c52="" src="../../../assets/dashboard/img/do-more@2x.png" width="26" height="25"  style="margin-top: 35px;margin-left: 20px;">
                  </button>
            </div>
        </div>
    </div>
</header>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Dashboard</a>
    <a href="#">Do a transfer</a>
    <a>Complaints</a>
    <a href="contacts.html">Bills and payment</a>
</div>
<div hide-on-scroll="" class="hide-for-print mega-menu">
    <div class="fluid-container">
        <div class="row">
            <!-- ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
            <div ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">My Accounts and Cards<span></span></p>
                    <ul>
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Account Summary</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Open New Account</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Debit and Credit Cards</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Reset Debit Card PIN</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Send Account Statement</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </ul>
                </div>
            </div>
            <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
            <div ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Transfers<span></span></p>
                    <ul>
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">To Own Accounts</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">To Fidelity Bank Accounts</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">To Other Bank Accounts in Nigeria</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">To Other Bank Accounts Abroad</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">To Phone or Email</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Manage Beneficiaries</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">RTGS Transfer</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </ul>
                </div>
            </div>
            <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
            <div ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Bulk Transactions<span></span></p>
                    <ul>
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Transfer</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Airtime</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">PayCode</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </ul>
                </div>
            </div>
            <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
            <div ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Airtime<span></span></p>
                    <ul>
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Top-up Airtime</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Purchase Data Bundle</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </ul>
                </div>
            </div>
            <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
            <div ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Payments and Bills<span></span></p>
                    <ul>
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Pay Bill</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Remita</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Manage Billers</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </ul>
                </div>
            </div>
            <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
            <div ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Gaming<span></span></p>
                    <ul>
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Bet9ja</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </ul>
                </div>
            </div>
            <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
            <div ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Profile and Settings<span></span></p>
                    <ul>
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Transaction Activities</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Transaction Limits</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Change Password</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Set Transaction PIN</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Secret Questions</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Tokens</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </ul>
                </div>
            </div>
            <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
            <div ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Trade<span></span></p>
                    <ul>
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Import Duty Payment</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">POS Transaction Report</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </ul>
                </div>
            </div>
            <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
            <div ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Self Service<span></span></p>
                    <ul>
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Manage Transaction Alerts</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Stop or Confirm Cheques</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </ul>
                </div>
            </div>
            <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
            <div ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Savings<span></span></p>
                    <ul>
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Set Goal</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </ul>
                </div>
            </div>
            <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
            <div ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Collectons<span></span></p>
                    <ul>
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">LASG</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Dangote Payments</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </ul>
                </div>
            </div>
            <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
            <div ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Fixed Deposit<span></span></p>
                    <ul>
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Booking</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Topup</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Liquidation</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </ul>
                </div>
            </div>
            <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
            <div ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Loan<span></span></p>
                    <ul>
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Borrow Bill Payments</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Request a new Loan</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Top-up Existing Loan</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Pay Existing Loan</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Extend Loan Payment</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Check Balance of an Existing Loan</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Terms and Conditions</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </ul>
                </div>
            </div>
            <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
            <div ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Cards<span></span></p>
                    <ul>
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Card Request</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Card Activation</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </ul>
                </div>
            </div>
            <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
            <div ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="large-3 medium-3 small-12 columns ng-scope">
                <div class="nav-box">
                    <p class="ng-binding">Beneficiaries<span></span></p>
                    <ul>
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                        <li ng-mousedown="model.show(link.modal? 'modal':'page',link.href);" ng-repeat="link in item.menu | menu:model.role_flag:model.session" class="ng-scope">
                            <a class="ng-binding">Top Beneficiaries</a>
                        </li>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </ul>
                </div>
            </div>
            <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
            <div class="large-3 medium-3 small-12 columns">
                <div class="nav-box" style="background:#fff; padding:10px; border-radius:5px">
                    <p><a target="_blank" href="http://www.firs.gov.ng/Pages/Default.aspx">Pay Your Taxes
                            Online<br><img src="../../../assets/dashboard/img/FIRS-Logo.png" text-align="absmiddle"
                                style="margin-top:10px" height="100px"><span></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hide-for-print mobile-menu">
    <div class="row">
        <div class="small-12 columns">
            <div class="main-actions">
                <a ng-click="hideMobileMenu();model.show('page','/home/dashboard');" class="mobile-trans">Dashboard</a>
                <!-- ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
                <div ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="ng-scope">
                    <a ng-click="toggleMobileMenu($event)" class="mobile-trans ng-binding">My Accounts and
                        Cards</a>
                    <div class="mob-sub-menu">
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Account Summary</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Open New Account</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Debit and Credit Cards</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Reset Debit Card PIN</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Send Account Statement</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </div>
                </div>
                <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
                <content ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="ng-scope">
                    <a ng-click="toggleMobileMenu($event)" class="mobile-trans ng-binding">Transfers</a>
                    <div class="mob-sub-menu">
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">To Own Accounts</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">To Fidelity Bank Accounts</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">To Other Bank Accounts in Nigeria</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">To Other Bank Accounts Abroad</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">To Phone or Email</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Manage Beneficiaries</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">RTGS Transfer</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </div>
                </content>
                <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
                <content ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="ng-scope">
                    <a ng-click="toggleMobileMenu($event)" class="mobile-trans ng-binding">Bulk
                        Transactions</a>
                    <div class="mob-sub-menu">
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Transfer</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Airtime</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">PayCode</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </div>
                </content>
                <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
                <content ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="ng-scope">
                    <a ng-click="toggleMobileMenu($event)" class="mobile-trans ng-binding">Airtime</a>
                    <div class="mob-sub-menu">
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Top-up Airtime</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Purchase Data Bundle</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </div>
                </content>
                <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
                <content ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="ng-scope">
                    <a ng-click="toggleMobileMenu($event)" class="mobile-trans ng-binding">Payments and
                        Bills</a>
                    <div class="mob-sub-menu">
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Pay Bill</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Remita</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Manage Billers</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </div>
                </content>
                <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
                <content ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="ng-scope">
                    <a ng-click="toggleMobileMenu($event)" class="mobile-trans ng-binding">Gaming</a>
                    <div class="mob-sub-menu">
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Bet9ja</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </div>
                </content>
                <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
                <content ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="ng-scope">
                    <a ng-click="toggleMobileMenu($event)" class="mobile-trans ng-binding">Profile and
                        Settings</a>
                    <div class="mob-sub-menu">
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Transaction Activities</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Transaction Limits</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Change Password</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Set Transaction PIN</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Secret Questions</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Tokens</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </div>
                </content>
                <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
                <content ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="ng-scope">
                    <a ng-click="toggleMobileMenu($event)" class="mobile-trans ng-binding">Trade</a>
                    <div class="mob-sub-menu">
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Import Duty Payment</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">POS Transaction Report</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </div>
                </content>
                <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
                <content ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="ng-scope">
                    <a ng-click="toggleMobileMenu($event)" class="mobile-trans ng-binding">Self Service</a>
                    <div class="mob-sub-menu">
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Manage Transaction Alerts</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Stop or Confirm Cheques</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </div>
                </content>
                <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
                <content ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="ng-scope">
                    <a ng-click="toggleMobileMenu($event)" class="mobile-trans ng-binding">Savings</a>
                    <div class="mob-sub-menu">
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Set Goal</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </div>
                </content>
                <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
                <content ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="ng-scope">
                    <a ng-click="toggleMobileMenu($event)" class="mobile-trans ng-binding">Collectons</a>
                    <div class="mob-sub-menu">
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">LASG</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Dangote Payments</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </div>
                </content>
                <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
                <content ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="ng-scope">
                    <a ng-click="toggleMobileMenu($event)" class="mobile-trans ng-binding">Fixed Deposit</a>
                    <div class="mob-sub-menu">
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Booking</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Topup</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Liquidation</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </div>
                </content>
                <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
                <content ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="ng-scope">
                    <a ng-click="toggleMobileMenu($event)" class="mobile-trans ng-binding">Loan</a>
                    <div class="mob-sub-menu">
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Borrow Bill Payments</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Request a new Loan</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Top-up Existing Loan</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Pay Existing Loan</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Extend Loan Payment</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Check Balance of an Existing Loan</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Terms and Conditions</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </div>
                </content>
                <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
                <content ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="ng-scope">
                    <a ng-click="toggleMobileMenu($event)" class="mobile-trans ng-binding">Cards</a>
                    <div class="mob-sub-menu">
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Card Request</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Card Activation</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </div>
                </content>
                <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
                <content ng-repeat="item in model.extraMenu | menu:model.role_flag:model.session" class="ng-scope">
                    <a ng-click="toggleMobileMenu($event)" class="mobile-trans ng-binding">Beneficiaries</a>
                    <div class="mob-sub-menu">
                        <!-- ngRepeat: link in item.menu | menu:model.role_flag:model.session --><a ng-repeat="link in item.menu | menu:model.role_flag:model.session" ng-click="hideMobileMenu();  model.show(link.modal ? 'modal':'page',link.href)" class="ng-binding ng-scope">Top Beneficiaries</a>
                        <!-- end ngRepeat: link in item.menu | menu:model.role_flag:model.session -->
                    </div>
                </content>
                <!-- end ngRepeat: item in model.extraMenu | menu:model.role_flag:model.session -->
            </div>
        </div>
    </div>
</div>
