<app-header></app-header>
<div class="content" id="main">
    <div class="c-106-grid-layout base">
        <div class=" no-padding">
            <div class="full-bleed">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 grid-col ">
                        <div class="c-106-hero c-252-skin-container-component parbase">
                            <picture class="print-only hero-image__picture">
                                <source srcset="assets/img/covid_helpv2_d_1x.jpg" media="(min-width: 768px)" />
                                <img src="assets/img/covid.jpg" alt="Now more than ever we’re by your side" />
                            </picture>

                            <div class="hero-image print-none" data-image-desktop="assets/img/covid_helpv2_d_1x.jpg"
                                data-image-tablet="assets/img/covid_helpv2_d_1x.jpg"
                                data-image-mobile="assets/img/covid.jpg">
                                <div class="themable green hero-image__theme hero-image__theme--green">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-6 print-always hero-image__column">
                                                <h1 class="header-text">
                                                    Now more than ever we’re by your
                                                    side
                                                </h1>

                                                <p class="sub-header-text">
                                                    No matter how coronavirus (COVID-19)
                                                    is affecting your finances, we’ll be
                                                    by your side with expert support and
                                                    guidance.
                                                </p>

                                                <a class="btn btn-primary" data-selector="cta-item-"
                                                    href="helpcentre/coronavirusefd3.html?wt.ac=common/promotion/r3pr/serv/ban/s/rl/covidhelp2"
                                                    itemprop="url" data-tealium-event="Internal Click"
                                                    data-tealium-action="Link Click"
                                                    data-tealium-narrative="Find out more >"
                                                    data-tealium-tracking="null" data-tealium-listener="null"
                                                    data-tealium-value="null"><span class="btn-text"
                                                        itemprop="name">Find out more &gt;</span><span
                                                        class="sr-only">Now more than ever we’re by
                                                        your side</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <img class="hero-mobile-image" src="./../../../assets/covid_help_m_1x.jpg"
                                    alt="By your side for over 300 years " aria-label="By your side for over 300 years "
                                    data-selector="covid_help_m_1x" />
                            </div>

                            <!--  bg in content context -->
                        </div>

                        <div class="c-106-grid-layout base">
                            <div class=" padded">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 grid-col ">
                                            <div class="c-110-promo-box c-252-skin-container-component parbase">
                                                <div class="promo-box floating-icon floating-icon-theme horizontal ">
                                                    <div class="inner">
                                                        <div class="promo-box-icon-container">
                                                            <div class="icon-container">
                                                                <div class="shape-container">
                                                                    <i data-svg-path="/content/dam/bos-personal/icons/info.svg"
                                                                        data-selector="icon-info"><svg
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            aria-hidden="true" focusable="false"
                                                                            viewBox="0 0 28 28">
                                                                            <g fill="#000" fill-rule="nonzero">
                                                                                <path
                                                                                    d="M12.266 7.497c0-1.09.432-1.819 1.843-1.819 1.41 0 1.844.728 1.844 1.82v.181c0 1.115-.435 1.843-1.844 1.843-1.41 0-1.843-.728-1.843-1.843v-.182zm.16 14.8h3.343V11.264h-3.344v11.031z" />
                                                                                <path
                                                                                    d="M14 0C6.27 0 .002 6.265 0 14c0 7.73 6.269 14 14 14 7.734 0 14-6.27 14-14 0-7.735-6.27-14-14-14m.202 25.28c-6.236 0-11.292-5.056-11.292-11.294C2.912 7.75 7.966 2.693 14.202 2.693c6.238 0 11.292 5.057 11.292 11.293 0 6.238-5.054 11.294-11.292 11.294" />
                                                                            </g>
                                                                        </svg></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="content">
                                                            <h4 class="heading" data-selector="heading-selector">
                                                                Internet Banking at your
                                                                fingertips
                                                            </h4>

                                                            <div class="c-103-rich-text">
                                                                <p>
                                                                    <span><span class="rte-body--large-text">Managing
                                                                            your money
                                                                            through
                                                                            Internet
                                                                            Banking is
                                                                            quick and
                                                                            secure - and
                                                                            it only take
                                                                            a few simple
                                                                            steps to
                                                                            register.
                                                                            You can do
                                                                            things like
                                                                            pay people,
                                                                            check your
                                                                            balance and
                                                                            manage
                                                                            bills,
                                                                            standing
                                                                            orders and
                                                                            direct
                                                                            debits.<br /> </span></span><br />
                                                                </p>
                                                                <p>
                                                                    <span><a class="positive btn btn-primary"
                                                                            data-selector="cta-item-primary"
                                                                            href="#">Register
                                                                            now</a></span>
                                                                </p>
                                                                <p>
                                                                    <strong><br />
                                                                        Already
                                                                        registered?<br />
                                                                        <br />
                                                                    </strong>
                                                                </p>
                                                                <p>
                                                                    <a class="positive btn btn-secondary"
                                                                        data-selector="cta-item-secondary"
                                                                        [routerLink]="'/signin'"><span
                                                                            class="btn-text">Log
                                                                            in</span></a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="c-106-grid-layout base">
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 grid-col ">
                        <div class="c-110-promo-box c-252-skin-container-component parbase">
                            <div class="promo-box title-icon white-theme " data-selector="promo-box-title-icon">
                                <div class="inner">
                                    <div class="content">
                                        <div class="heading-container">
                                            <div>
                                                <h4 class="heading">
                                                    <span>I’m looking for:</span>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>

                                    <ul class="tertiary-links-wrappers">
                                        <li>
                                            <a class="btn btn-tertiary" data-selector="cta-item-tertiary"
                                                href="bankaccounts.html" data-tealium-event="Internal Click"
                                                data-tealium-action="Link Click"
                                                data-tealium-narrative="Current accounts" data-tealium-tracking="null"
                                                data-tealium-listener="null" data-tealium-value="null"><span
                                                    class="btn-text">Current
                                                    accounts</span></a>
                                        </li>

                                        <li>
                                            <a class="btn btn-tertiary" data-selector="cta-item-tertiary"
                                                href="savings.html" data-tealium-event="Internal Click"
                                                data-tealium-action="Link Click"
                                                data-tealium-narrative="Savings accounts" data-tealium-tracking="null"
                                                data-tealium-listener="null" data-tealium-value="null"><span
                                                    class="btn-text">Savings
                                                    accounts</span></a>
                                        </li>

                                        <li>
                                            <a class="btn btn-tertiary" data-selector="cta-item-tertiary"
                                                href="investing.html" data-tealium-event="Internal Click"
                                                data-tealium-action="Link Click" data-tealium-narrative="Investing"
                                                data-tealium-tracking="null" data-tealium-listener="null"
                                                data-tealium-value="null"><span class="btn-text">Investing</span></a>
                                        </li>

                                        <li>
                                            <a class="btn btn-tertiary" data-selector="cta-item-tertiary"
                                                href="insurance.html" data-tealium-event="Internal Click"
                                                data-tealium-action="Link Click" data-tealium-narrative="Insurance"
                                                data-tealium-tracking="null" data-tealium-listener="null"
                                                data-tealium-value="null"><span class="btn-text">Insurance</span></a>
                                        </li>

                                        <li>
                                            <a class="btn btn-tertiary" data-selector="cta-item-tertiary"
                                                href="creditcards.html" data-tealium-event="Internal Click"
                                                data-tealium-action="Link Click" data-tealium-narrative="Credit cards"
                                                data-tealium-tracking="null" data-tealium-listener="null"
                                                data-tealium-value="null"><span class="btn-text">Credit
                                                    cards</span></a>
                                        </li>

                                        <li>
                                            <a class="btn btn-tertiary" data-selector="cta-item-tertiary"
                                                href="loans.html" data-tealium-event="Internal Click"
                                                data-tealium-action="Link Click" data-tealium-narrative="Loans"
                                                data-tealium-tracking="null" data-tealium-listener="null"
                                                data-tealium-value="null"><span class="btn-text">Loans</span></a>
                                        </li>

                                        <li>
                                            <a class="btn btn-tertiary" data-selector="cta-item-tertiary"
                                                href="mortgages.html" data-tealium-event="Internal Click"
                                                data-tealium-action="Link Click" data-tealium-narrative="Mortgages"
                                                data-tealium-tracking="null" data-tealium-listener="null"
                                                data-tealium-value="null"><span class="btn-text">Mortgages</span></a>
                                        </li>

                                        <li>
                                            <a class="btn btn-tertiary" data-selector="cta-item-tertiary"
                                                href="retirement.html" data-tealium-event="Internal Click"
                                                data-tealium-action="Link Click" data-tealium-narrative="Retirement"
                                                data-tealium-tracking="null" data-tealium-listener="null"
                                                data-tealium-value="null"><span class="btn-text">Retirement</span></a>
                                        </li>

                                        <li>
                                            <a class="btn btn-tertiary" data-selector="cta-item-tertiary"
                                                href="wealth-management.html" data-tealium-event="Internal Click"
                                                data-tealium-action="Link Click"
                                                data-tealium-narrative="Wealth management" data-tealium-tracking="null"
                                                data-tealium-listener="null" data-tealium-value="null"><span
                                                    class="btn-text">Wealth
                                                    management</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-4 grid-col ">
                        <div class="c-110-promo-box c-252-skin-container-component parbase">
                            <div class="promo-box title-icon white-theme " data-selector="promo-box-title-icon">
                                <div class="inner">
                                    <div class="content">
                                        <div class="heading-container">
                                            <div>
                                                <h4 class="heading">
                                                    <span>Internet Banking</span>
                                                </h4>
                                            </div>
                                        </div>

                                        <div class="c-103-rich-text">
                                            <p>
                                                <a href="aboutonline.html" class="positive btn btn-tertiary"><span
                                                        class="btn-text">Learn about Internet
                                                        Banking</span></a>
                                            </p>
                                        </div>
                                    </div>

                                    <ul class="tertiary-links-wrappers">
                                        <li>
                                            <a class="btn btn-tertiary" data-selector="cta-item-tertiary"
                                                href="aboutonline/quick-tour.html" data-tealium-event="Internal Click"
                                                data-tealium-action="Link Click"
                                                data-tealium-narrative="Internet Banking features"
                                                data-tealium-tracking="null" data-tealium-listener="null"
                                                data-tealium-value="null"><span class="btn-text">Internet
                                                    Banking features</span></a>
                                        </li>

                                        <li>
                                            <a class="btn btn-tertiary" data-selector="cta-item-tertiary"
                                                href="https://online.bankofscotland.co.uk/personal/a/registration/onlinepersonalregistration.jsp"
                                                data-tealium-event="External Click" data-tealium-action="Link Click"
                                                data-tealium-narrative="How to register" data-tealium-tracking="null"
                                                data-tealium-listener="null" data-tealium-value="null"><span
                                                    class="btn-text">How to
                                                    register</span></a>
                                        </li>

                                        <li>
                                            <a class="btn btn-tertiary" data-selector="cta-item-tertiary"
                                                href="securityandprivacy/protecting-yourself-from-fraud.html"
                                                data-tealium-event="Internal Click" data-tealium-action="Link Click"
                                                data-tealium-narrative="Protecting yourself from fraud"
                                                data-tealium-tracking="null" data-tealium-listener="null"
                                                data-tealium-value="null"><span class="btn-text">Protecting
                                                    yourself from
                                                    fraud</span></a>
                                        </li>

                                        <li>
                                            <a class="btn btn-tertiary" data-selector="cta-item-tertiary"
                                                href="aboutonline/mobile-banking.html"
                                                data-tealium-event="Internal Click" data-tealium-action="Link Click"
                                                data-tealium-narrative="Mobile Banking" data-tealium-tracking="null"
                                                data-tealium-listener="null" data-tealium-value="null"><span
                                                    class="btn-text">Mobile
                                                    Banking</span></a>
                                        </li>

                                        <li>
                                            <a class="btn btn-tertiary" data-selector="cta-item-tertiary"
                                                href="aboutonline/changes-to-internet-banking.html"
                                                data-tealium-event="Internal Click" data-tealium-action="Link Click"
                                                data-tealium-narrative="Changes to online security"
                                                data-tealium-tracking="null" data-tealium-listener="null"
                                                data-tealium-value="null"><span class="btn-text">Changes to
                                                    online security</span></a>
                                        </li>

                                        <li>
                                            <a class="btn btn-tertiary" data-selector="cta-item-tertiary"
                                                href="aboutonline/what-can-i-do-online/report-lost-or-stolen-card.html"
                                                data-tealium-event="Internal Click" data-tealium-action="Link Click"
                                                data-tealium-narrative="Lost and stolen Cards"
                                                data-tealium-tracking="null" data-tealium-listener="null"
                                                data-tealium-value="null"><span class="btn-text">Lost and stolen
                                                    Cards</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-4 grid-col ">
                        <div class="c-110-promo-box c-252-skin-container-component parbase">
                            <div class="promo-box title-icon white-theme " data-selector="promo-box-title-icon">
                                <div class="inner">
                                    <div class="content">
                                        <div class="heading-container">
                                            <div>
                                                <h4 class="heading">
                                                    <span>Quick links</span>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>

                                    <ul class="tertiary-links-wrappers">
                                        <li>
                                            <a class="btn btn-tertiary" data-selector="cta-item-tertiary"
                                                href="helpcentre/coronavirus.html" data-tealium-event="Internal Click"
                                                data-tealium-action="Link Click"
                                                data-tealium-narrative="Coronavirus help and support"
                                                data-tealium-tracking="null" data-tealium-listener="null"
                                                data-tealium-value="null"><span class="btn-text">Coronavirus
                                                    help and support</span><span class="sr-only">Coronavirus
                                                    help and support</span></a>
                                        </li>

                                        <li>
                                            <a class="btn btn-tertiary" data-selector="cta-item-tertiary"
                                                href="helpcentre/brexit-questions.html"
                                                data-tealium-event="Internal Click" data-tealium-action="Link Click"
                                                data-tealium-narrative="Brexit questions and answers"
                                                data-tealium-tracking="null" data-tealium-listener="null"
                                                data-tealium-value="null"><span class="btn-text">Brexit
                                                    questions and answers</span><span class="sr-only">Brexit
                                                    questions and answers</span></a>
                                        </li>

                                        <li>
                                            <a class="btn btn-tertiary" data-selector="cta-item-tertiary"
                                                href="aboutonline/what-can-i-do-online/report-lost-or-stolen-card.html"
                                                data-tealium-event="Internal Click" data-tealium-action="Link Click"
                                                data-tealium-narrative="Report lost or stolen cards"
                                                data-tealium-tracking="null" data-tealium-listener="null"
                                                data-tealium-value="null"><span class="btn-text">Report lost or
                                                    stolen cards</span><span class="sr-only">Report lost or
                                                    stolen cards</span></a>
                                        </li>

                                        <li>
                                            <a class="btn btn-tertiary" data-selector="cta-item-tertiary"
                                                href="helpcentre/money-worries.html" data-tealium-event="Internal Click"
                                                data-tealium-action="Link Click" data-tealium-narrative="Money worries"
                                                data-tealium-tracking="null" data-tealium-listener="null"
                                                data-tealium-value="null"><span class="btn-text">Money
                                                    worries</span><span class="sr-only">Money worries</span></a>
                                        </li>

                                        <li>
                                            <a class="btn btn-tertiary" data-selector="cta-item-tertiary"
                                                href="helpcentre/manage-your-details/change-your-address.html"
                                                data-tealium-event="Internal Click" data-tealium-action="Link Click"
                                                data-tealium-narrative="Change your address"
                                                data-tealium-tracking="null" data-tealium-listener="null"
                                                data-tealium-value="null"><span class="btn-text">Change your
                                                    address</span><span class="sr-only">Change your
                                                    address</span></a>
                                        </li>

                                        <li>
                                            <a class="btn btn-tertiary" data-selector="cta-item-tertiary"
                                                href="helpcentre/bereavement.html" data-tealium-event="Internal Click"
                                                data-tealium-action="Link Click"
                                                data-tealium-narrative="Bereavement help and advice"
                                                data-tealium-tracking="null" data-tealium-listener="null"
                                                data-tealium-value="null"><span class="btn-text">Bereavement
                                                    help and advice</span><span class="sr-only">Bereavement help
                                                    and advice</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="c-106-grid-layout base">
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 grid-col ">
                        <div class="c-110-promo-box c-252-skin-container-component parbase">
                            <div class="promo-box floating-icon floating-icon-theme  ">
                                <div class="inner">
                                    <div class="promo-box-icon-container">
                                        <div class="icon-container hexagon hexagon-cyan">
                                            <div class="shape-container">
                                                <i data-svg-path="/content/dam/bos-personal/icons/credit-card.svg"
                                                    data-selector="icon-credit-card"><svg
                                                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                                        focusable="false" viewBox="0 0 28 20">
                                                        <g fill="#000" fill-rule="evenodd">
                                                            <path d="M0 4.941h28V0H0z" fill-rule="nonzero" />
                                                            <path
                                                                d="M0 19.765V8.235h28v11.53H0zm2.122-2.032h4.65v-3.9h-4.65v3.9z" />
                                                        </g>
                                                    </svg></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4 class="heading" data-selector="heading-selector">
                                            Credit Cards
                                        </h4>

                                        <div class="c-103-rich-text">
                                            <p>
                                                Check your eligibility before you apply.
                                                It only takes a few minutes and won't
                                                affect your credit score.
                                            </p>
                                        </div>
                                    </div>

                                    <a class="btn btn-secondary" data-selector="cta-item-secondary"
                                        href="creditcards/eligibility-checkerf52f.html?WT.ac=common/promotion/r3pr/card/til/s/rl/BCrdsHpTJn"
                                        data-tealium-event="Internal Click" data-tealium-action="Link Click"
                                        data-tealium-narrative="Check your eligibility" data-tealium-tracking="null"
                                        data-tealium-listener="null" data-tealium-value="null"><span
                                            class="btn-text">Check your
                                            eligibility</span><span class="sr-only">Check your eligibility for a
                                            credit
                                            card</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 grid-col ">
                        <div class="c-110-promo-box c-252-skin-container-component parbase">
                            <div class="promo-box floating-icon floating-icon-theme  ">
                                <div class="inner">
                                    <div class="promo-box-icon-container">
                                        <div class="icon-container hexagon hexagon-green">
                                            <div class="shape-container">
                                                <i data-svg-path="/content/dam/bos-personal/icons/current-account.svg"
                                                    data-selector="icon-current-account"><svg
                                                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                                        focusable="false" viewBox="0 0 28 24">
                                                        <path
                                                            d="M8.821 0l1.469 2.334H0V0h8.821zM0 24V4h28v20H0zm16.403-10.913h-2.279v-.714c0-1.162.492-1.71 1.51-1.71.556 0 1.212.133 1.688.332l.311-2.274a7.32 7.32 0 0 0-2.508-.448c-2.428 0-3.591 1.41-3.591 3.9v.914h-1.148v2.009h1.148v.93c0 .896-.263 1.46-1.082 1.71l.081 1.992h6.707l.246-2.093h-4.083v-.033c.558-.365.721-.995.721-1.843v-.663h2.05l.23-2.01z"
                                                            fill="#000" fill-rule="nonzero" />
                                                    </svg></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4 class="heading" data-selector="heading-selector">
                                            Platinum Account
                                        </h4>

                                        <div class="c-103-rich-text">
                                            <p>
                                                A current account packed with insurance
                                                benefits including AA breakdown cover
                                                for only £21 per month.
                                            </p>
                                        </div>
                                    </div>

                                    <a class="btn btn-secondary" data-selector="cta-item-secondary"
                                        href="bankaccounts/platinumd47c.html?WT.ac=common/promotion/r3pr/cura/til/s/rt/BPlatActTl"
                                        data-tealium-event="Internal Click" data-tealium-action="Link Click"
                                        data-tealium-narrative="Find out more" data-tealium-tracking="null"
                                        data-tealium-listener="null" data-tealium-value="null"><span
                                            class="btn-text">Find out more</span><span class="sr-only">Find out
                                            more about Platinum account</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 grid-col ">
                        <div class="c-110-promo-box c-252-skin-container-component parbase">
                            <div class="promo-box floating-icon floating-icon-theme  ">
                                <div class="inner">
                                    <div class="promo-box-icon-container">
                                        <div class="icon-container hexagon hexagon-red">
                                            <div class="shape-container">
                                                <i data-svg-path="/content/dam/bos-personal/icons/pound-sign.svg"
                                                    data-selector="icon-pound-sign"><svg
                                                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                                        focusable="false" viewBox="0 0 18 26">
                                                        <path
                                                            d="M0 10.928v4.56h2.745v2.109c0 2.035-.627 3.316-2.588 3.881L.352 26h16.039l.589-4.748H7.214v-.076c1.333-.829 1.727-2.259 1.727-4.182v-1.507h4.902l.549-4.559H8.94v-1.62c0-2.638 1.176-3.881 3.607-3.881 1.334 0 2.902.301 4.04.752l.745-5.162C15.45.377 13.49 0 11.333 0 5.53 0 2.746 3.203 2.746 8.854v2.074H0"
                                                            fill="#000" fill-rule="nonzero" />
                                                    </svg></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4 class="heading" data-selector="heading-selector">
                                            Send money outside the UK
                                        </h4>

                                        <div class="c-103-rich-text">
                                            <p>
                                                Do you have family and friends overseas
                                                and need to send them
                                                money?&nbsp;Whatever the reason, our
                                                services are fast, efficient and secure
                                                and you’ll no longer pay our fee for
                                                euro payments. Other charges may apply.
                                            </p>
                                        </div>
                                    </div>

                                    <a class="btn btn-secondary" data-selector="cta-item-secondary"
                                        href="onlinebankinghelp/international-payments3c69.html?WT.ac=common/promotion/r3pr/intp/til/s/rl/BIPsHpTlDc"
                                        data-tealium-event="Internal Click" data-tealium-action="Link Click"
                                        data-tealium-narrative="Find out more" data-tealium-tracking="null"
                                        data-tealium-listener="null" data-tealium-value="null"><span
                                            class="btn-text">Find out more</span><span class="sr-only">Find out
                                            more about sending money outside
                                            the UK</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="c-106-grid-layout base">
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 grid-col ">
                        <div class="c-110-promo-box c-252-skin-container-component parbase">
                            <div class="promo-box floating-icon floating-icon-theme  ">
                                <div class="inner">
                                    <div class="promo-box-icon-container">
                                        <div class="icon-container hexagon hexagon-cyan">
                                            <div class="shape-container">
                                                <i data-svg-path="/content/dam/bos-personal/icons/car.svg"
                                                    data-selector="icon-car"><svg xmlns="http://www.w3.org/2000/svg"
                                                        aria-hidden="true" focusable="false" viewBox="0 0 30 23">
                                                        <path
                                                            d="M23.903 0L6.463.022l-4.1 8.915H0V19.85h2.385v2.65h4.641v-2.65h15.717v2.65h4.643v-2.65H30V8.937h-2.18L23.904 0zM7.96 2.393l14.505-.018 2.788 6.562H4.89l3.07-6.544zM5.863 15.367c-1.17 0-2.12-.931-2.12-2.08 0-1.148.95-2.078 2.12-2.078 1.17 0 2.12.93 2.12 2.079 0 1.148-.95 2.079-2.12 2.079zm18.274 0c-1.17 0-2.12-.931-2.12-2.08 0-1.148.95-2.078 2.12-2.078 1.171 0 2.121.93 2.121 2.079 0 1.148-.95 2.079-2.121 2.079z"
                                                            fill="#000" fill-rule="nonzero" />
                                                    </svg></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4 class="heading" data-selector="heading-selector">
                                            Looking to buy a car?
                                        </h4>

                                        <div class="c-103-rich-text">
                                            <p>
                                                We have two options that can help you
                                                get on the road. Lending is subject to
                                                status and additional affordability
                                                checks.
                                            </p>
                                        </div>
                                    </div>

                                    <a class="btn btn-secondary" data-selector="cta-item-secondary"
                                        href="carfinance/car-finance-vs-loans98c2.html?WT.ac=common/promotion/r3pr/carf/til/s/rl/BOCFHpTMar"
                                        data-tealium-event="Internal Click" data-tealium-action="Link Click"
                                        data-tealium-narrative="Find out more" data-tealium-tracking="null"
                                        data-tealium-listener="null" data-tealium-value="null"><span
                                            class="btn-text">Find out more</span><span class="sr-only">Find out
                                            more about car finance
                                            options</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-4 grid-col ">
                        <div class="c-110-promo-box c-252-skin-container-component parbase">
                            <div class="promo-box floating-icon floating-icon-theme  ">
                                <div class="inner">
                                    <div class="promo-box-icon-container">
                                        <div class="icon-container hexagon hexagon-cyan">
                                            <div class="shape-container">
                                                <i data-svg-path="/content/dam/bos-personal/icons/home.svg"
                                                    data-selector="icon-home"><svg xmlns="http://www.w3.org/2000/svg"
                                                        aria-hidden="true" focusable="false" viewBox="0 0 28 24">
                                                        <path
                                                            d="M28 8.23l-4.256-2.496V.5H20.17v3.097L13.971 0 0 8.158l1.101 1.645L3.14 8.61V24h6.543v-9.546h8.573V24h6.542V8.608l2.083 1.219L28 8.23"
                                                            fill="#000" fill-rule="nonzero" />
                                                    </svg></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4 class="heading" data-selector="heading-selector">
                                            Mortgages
                                        </h4>

                                        <div class="c-103-rich-text">
                                            <p>
                                                Do you need help with your first move,
                                                next move or switching to a better deal,
                                                Bank of Scotland offer Halifax
                                                mortgages.<br />
                                            </p>
                                        </div>
                                    </div>

                                    <a class="btn btn-secondary" data-selector="cta-item-secondary"
                                        href="mortgages46b3.html?WT.ac=common/promotion/r3pr/mort/til/s/rl/BoSMortHpT"
                                        data-tealium-event="Internal Click" data-tealium-action="Link Click"
                                        data-tealium-narrative="Find out more" data-tealium-tracking="null"
                                        data-tealium-listener="null" data-tealium-value="null"><span
                                            class="btn-text">Find out more</span><span class="sr-only">Find out
                                            more about our mortgage
                                            options</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-4 grid-col ">
                        <div class="c-110-promo-box c-252-skin-container-component parbase">
                            <div class="promo-box title-icon white-theme " data-selector="promo-box-title-icon">
                                <div class="inner">
                                    <div class="content">
                                        <div class="heading-container">
                                            <div>
                                                <h4 class="heading">
                                                    <span>Help &amp; guidance</span>
                                                </h4>
                                            </div>
                                        </div>

                                        <div class="c-103-rich-text">
                                            <p>
                                                <a href="https://branches.bankofscotland.co.uk/search"
                                                    class="positive btn btn-tertiary"
                                                    data-selector="cta-item-tertiary"><span class="btn-text">Find a
                                                        branch</span></a>
                                            </p>
                                            <p>
                                                <a class="positive btn btn-tertiary" data-selector="cta-item-tertiary"
                                                    href="contactus/mobile-branch.html"><span class="btn-text">Find a
                                                        mobile branch</span></a>
                                            </p>
                                            <p>
                                                <a class="positive btn btn-tertiary" data-selector="cta-item-tertiary"
                                                    href="contactus/phone.html"><span class="btn-text">Ways to
                                                        contact us</span></a>
                                            </p>
                                            <p>
                                                <a class="positive btn btn-tertiary" data-selector="cta-item-tertiary"
                                                    href="helpcentre.html"><span class="btn-text">Help
                                                        Centre</span></a>
                                            </p>
                                            <p>
                                                <a class="positive btn btn-tertiary" data-selector="cta-item-tertiary"
                                                    href="helpcentre.html"><span class="btn-text">Ring fencing
                                                        and Bank of
                                                        Scotland</span></a>
                                            </p>
                                            <p>
                                                <a class="positive btn btn-tertiary" data-selector="cta-item-tertiary"
                                                    href="contactus/howtocomplain/complain-about-ppi.html"><span
                                                        class="btn-text">PPI complaints</span></a>
                                            </p>
                                            <p>
                                                <a href="fscs.html"><img src="assets/img/fscs-banner.png"
                                                        alt="Protecting your money. Financial Services Compensation Scheme"
                                                        style="float: none;" /></a><br />
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="c-106-grid-layout base">
        <div class="bg-white ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 grid-col ">
                        <div class="c-321-reference reference parbase">
                            <div class="cq-dd-paragraph">
                                <div class="par parsys">
                                    <div class="c-103-rich-text parbase">
                                        <p>
                                            Bank of Scotland plc. Registered in Scotland
                                            No. SC327000. Registered Office: The Mound,
                                            Edinburgh EH1 1YZ. Authorised by the
                                            Prudential Regulation Authority and
                                            regulated by the Financial Conduct Authority
                                            and the Prudential Regulation Authority
                                            under registration number 169628.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
