
<app-admin-dashboard-header [name]="userDetails?.fullName"></app-admin-dashboard-header>

<div class="main-content-wrapper" style="opacity: 1; margin-top: 206px; transition: opacity 0.05s ease 0.2s, margin-top 0.2s ease-in 0s;" resizer="" offset-elements="['.main-header']">
    <!-- uiView: content -->
    <div ui-view="content" class="main-content ng-scope">
        <div class="dash-body ng-scope">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="dash-section transact-history">
                            <h4>Create User</h4>
                            <div>
                                <div class="container">
                                    <form name="form" class="ng-pristine ng-valid" novalidate="" [formGroup]="createUserForm">
                                        <div class="col-lg-12">
                                            <div class="card-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane fade show active" id="nav-tab-card">
                                                        <!-- <p class="alert alert-success">Some text success or error</p> -->
<!--                                                        <form role="form">-->
                                                            <div class="form-group">
                                                                <label for="accountType">Account Type</label>
                                                                <select class="ng-pristine ng-untouched ng-valid ng-empty"
                                                                        [ngClass]="displayFieldCss('accountType', createUserForm)"
                                                                        id="accountType" formControlName="accountType">
                                                              <option value="">Select Type</option>
                                                             <option value="Savings" class="ng-binding ng-scope">Savings Account</option>
                                                            <option value="Current" class="ng-binding ng-scope">Current Account</option>
                                                          </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="firstName">First Name</label>
                                                                <input type="text"
                                                                       id="firstName"
                                                                       class="form-control"
                                                                       name="firstName"
                                                                       placeholder="First Name"
                                                                       [ngClass]="displayFieldCss('firstName', createUserForm)"
                                                                       formControlName="firstName">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="lastName">Last Name</label>
                                                                <input type="text"
                                                                       id="lastName"
                                                                       class="form-control"
                                                                       [ngClass]="displayFieldCss('lastName', createUserForm)"
                                                                       name="username"
                                                                       placeholder="Last Name"
                                                                       formControlName="lastName">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="email">Email</label>
                                                                <input id="email" type="email"
                                                                       [ngClass]="displayFieldCss('email', createUserForm)"
                                                                       class="form-control" name="email" placeholder="Email" formControlName="email">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="password">Password</label>
                                                                <input id="password" type="password"
                                                                       [ngClass]="displayFieldCss('password', createUserForm)"
                                                                       class="form-control" name="password" placeholder="Enter Password" formControlName="password" (change)="validate(createUserForm)">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="email">Confirm Password</label>
                                                                <input id="confirmPassword" type="password"
                                                                       [ngClass]="displayFieldCss('confirmPassword', createUserForm)"
                                                                       class="form-control" name="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword" (change)="validate(createUserForm)">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="accountBalance">Account Balance</label>
                                                                <input type="number" id="accountBalance" formControlName="accountBalance" class="form-control" name="accountBalance" placeholder="Minimum Account Balance">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="gender">Gender</label>
                                                                <select id="gender" class="ng-pristine ng-untouched ng-valid ng-empty"
                                                                        [ngClass]="displayFieldCss('lastName', createUserForm)"
                                                                        formControlName="gender">
                                                                  <option value="">Select Gender</option>
                                                                 <option value="MALE" class="ng-binding ng-scope">Male</option>
                                                                <option value="FEMALE" class="ng-binding ng-scope">Female</option>
                                                              </select>
                                                            </div>
                                                            <button
                                                              [disabled]="!createUserForm.valid"
                                                              class="subscribe btn btn-primary btn-block"
                                                              type="button"
                                                              (click)="onClick()"
                                                              data-toggle="pill"> Proceed
                                                            </button>
<!--                                                        </form>-->
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
