@import '../../../assets/dashboard/css/styles.css';
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');
@import '../../../assets/dashboard/js/datatables/css/dataTables.foundation.min.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700');
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #05286a;
}

.btn-primary {
    background-color: #05286a;
    border-color: #05286a;
}

.shift {
    margin-left: 11% !important;
}

.transact-history h4,
.hs-list h4 {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 20px;
    border-bottom: 4px solid #B2A8A8;
    background-color: #0e237e;
}