<div id="banner" style="margin-top: -3%">


    <p id="logo" style="height: 20px;">
        <!-- <img src="/wps/wcm/connect/content_bos_personal_banking/assets/media/images/lloydstsb2009/miscellaneous/m05img302a_NEW_KEY-1561027359.png" alt="/wps/wcm/connect/content_bos_personal_banking/assets/media/images/lloydstsb2009/miscellaneous/m05img302a_NEW_KEY-1561027359.png"> -->
    </p>


    <p class="cookiePolicy">
        <a title="Cookie Policy">
              Cookie Policy
         </a>
    </p>

    <div class="clearer"></div>
</div>



<div class="content">
    <div class="login">
        <div class="panelTL">
            <div class="panelTR">
                <div class="panelBR">
                    <div class="panelBL">
                        <div class="loginInner">


                            <div class="loginFields">
                                <form id="frmLogin" name="frmLogin" method="post" action="http://www.bankofscotland.co.uk/personal/mbprimarylogin" autocomplete="off">

                                    <div class="formField">
                                        <label for="frmLogin:lblUserID">Username</label> <input type="text" autocomplete="off" id="frmLogin:strCustomerLogin_userID" name="frmLogin:strCustomerLogin_userID" class="wide" maxlength="30" value="">
                                    </div>


                                    <div class="formField">
                                        <label for="frmLogin:lblPassword">Password</label> <input type="password" autocomplete="off" id="frmLogin:strCustomerLogin_pwd" name="frmLogin:strCustomerLogin_pwd" class="wide" maxlength="20" value="">
                                    </div>
                                    <div class="formField loginCheckbox">

                                        <input class="checkbox" type="checkbox" name="frmLogin:loginRemember">
                                        <label class="checkboxLabel" for="frmLogin:loginRemember">

                                                    <a id="rememberMe" name="rememberMe" title="Remember my User ID" href="http://www.bankofscotland.co.uk/personal/a/mobile/mobile_help/login/REMEMBER_ME">
                                                       Remember my User ID
                                                         </a>

                                              </label>
                                    </div>
                                    <div class="actionsLogin">
                                        <div class="divider">

                                        </div>

                                        <input id="frmLogin:lnkLogin1" name="frmLogin:lnkLogin1" type="submit" value="Continue" text="Continue" class="submitAction">
                                    </div>
                                    <input type="hidden" name="frmLogin" value="frmLogin"> <input type="hidden" name="submitToken" value="8065429"> <input type="hidden" name="target" value="">


                                    <input type="hidden" name="dclinkjourid" value="5aLhyllLBlBhBnS63JhPrIlNp0NugiMt">


                                    <input type="hidden" name="wup_url" value="https://wup-16c9d93d.bankofscotland.co.uk/client/v3/web/wup?cid=karma">

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="aside">
        <p class="sideNote">
            <a id="lnkForgotUserIDDMC" name="lnkForgotUserIDDMC" href="/ib-access/cwa/forgotten-details/index.html" title="Forgotten your login details?">Forgotten your login details?</a>
        </p>
    </div>






















    <div id="footerLogin">
        <div class="FootNav">
            <div class="lnkLevFoot">
                <p class="lnkLevFootP">

                    <a title="Register for Internet Banking" href="http://www.bankofscotland.co.uk/personal/a/useradmin/mobile/registration/selectaccounttyperegistration.jsp">
                  Register for Internet Banking</a>


                    <a title="Go to desktop site" href="http://www.bankofscotland.co.uk/personal/logon/login.jsp?mobile=false">Go to desktop site</a>


                    <a title="Help" href="http://www.bankofscotland.co.uk/personal/a/mobile/mobile_help/login/HELP">
                  Help</a>


                    <a title="Security" href="http://www.bankofscotland.co.uk/personal/a/mobile/mobile_help/login/SECURITY">
                  Security</a>


                    <a title="Contact us" href="http://www.bankofscotland.co.uk/personal/a/mobile/mobile_help/login/CONTACT_US">
                  Contact us</a>


                    <a title="Mobile Banking" href="http://www.bankofscotland.co.uk/personal/a/mobile/mobile_help/login/MOBILE_BANKING">Mobile Banking</a>


                    <a title="Legal" href="http://www.bankofscotland.co.uk/personal/a/mobile/mobile_help/login/LEGAL">Legal</a>

                </p>
            </div>
            <div class="aside">

            </div>



            <div class="appBannerBG">
                <div class="appBannerLink fscsLogo">
                    <p>
                        <a class="newwin" href="http://www.bankofscotland.co.uk/fscs/" title=""><img alt="" src="/wps/wcm/connect/content_bos_personal_banking/assets/media/images/lloydstsb2009/miscellaneous/p0400lnk502a_NEW_KEY-1560966783.png"></a>
                    </p>
                </div>
            </div>


            <div class="clearer"></div>
            <div>

            </div>
        </div>
    </div>







    <input type="hidden" name="smartAppForIosAndAndroid" value="false"> <input type="hidden" name="smartAppForIosAbvSix" value="false">


</div>
