/* @import '../../../assets/dashboard/css/foundation.css';  */


/* /* @import '../../../assets/dashboard/css/compiled.css'; */

@import '../../../assets/dashboard/css/styles.css';

/* @import '../.././../assets/dashboard/css/bricklayer.css';
@import '../.././../assets/dashboard/css/jquery-ui.min.css';
@import '../.././../assets/dashboard/css/angular-fancy-modal.min.css';
@import '../.././../assets/dashboard/js/chart/Chart.css'; */

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');
@import '../../../assets/dashboard/js/datatables/css/dataTables.foundation.min.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700');
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #05286a;
}

.btn-primary {
    background-color: #05286a;
    border-color: #05286a;
}

.shift {
    margin-left: 11%;
}