<app-dashboar-header [name]="userDetails?.fullName"></app-dashboar-header>

<div class="main-content-wrapper"
    style="opacity: 1; margin-top: 206px; transition: opacity 0.05s ease 0.2s, margin-top 0.2s ease-in 0s;" resizer=""
    offset-elements="['.main-header']">
    <!-- uiView: content -->
    <div ui-view="content" class="main-content ng-scope" style="">
        <div class="dash-body ng-scope">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="dash-section transact-history">
                            <h4>Transfer Details</h4>
                            <div>
                                <div class="container">
                                    <form name="form" class="ng-pristine ng-valid" novalidate="">

                                        <div class="col-lg-12">
                                            <div class="card-body">
                                                <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
                                                    <li class="nav-item" [hidden]="sequence > 0">
                                                        <a class="nav-link active" data-toggle="pill" #cardTab
                                                            href="#nav-tab-card">
                                                            <i class="fa fa-credit-card"></i> Funds Transfer</a>
                                                    </li>
                                                    <li class="nav-item" [hidden]="sequence != 1">
                                                        <a class="nav-link" data-toggle="pill" #cotCodeTab
                                                            href="#nav-tab-paypal">
                                                            <i class="fa fa-lock"></i>Cot Code</a>
                                                    </li>
                                                    <li class="nav-item" [hidden]="sequence != 2">
                                                        <a class="nav-link" data-toggle="pill" #codeTab
                                                           href="#nav-tab-bank">
                                                            <i class="fa fa-university"></i>Final</a>
                                                    </li>
                                                </ul>
                                              <ngx-spinner
                                                size="medium"
                                                [fullScreen]="fullScreen"
                                              ></ngx-spinner>
                                                <div class="tab-content">
                                                    <div class="tab-pane fade show active" id="nav-tab-card">
                                                        <form role="form" [formGroup]="transferForm">
                                                          <div class="form-group">
                                                            <label for="fullName">Bank Name</label>
                                                            <input type="text"
                                                                   id="fullName"
                                                                   class="form-control"
                                                                   formControlName="cardName"
                                                                   [ngClass]="displayFieldCss('cardName', transferForm)"
                                                                   name="username"
                                                                   placeholder="Bank Name">
                                                          </div> <!-- form-group.// -->
                                                          <div class="form-group">
                                                            <label for="cardNumber">Account Number</label>
                                                            <div class="input-group">
                                                              <input type="number" class="form-control"
                                                                     id="cardNumber"
                                                                     formControlName="cardNumber"
                                                                     [ngClass]="displayFieldCss('cardNumber', transferForm)"
                                                                     name="cardNumber"
                                                                     placeholder="Account Number">
                                                              <div class="input-group-append">
                                                                        <span class="input-group-text text-muted">
                                                                            <i class="fab fa-cc-visa"></i>   <i
                                                                          class="fab fa-cc-amex"></i>  
                                                                            <i class="fab fa-cc-mastercard"></i>
                                                                        </span>
                                                              </div>
                                                            </div>
                                                          </div> <!-- form-group.// -->
                                                          <div class="form-group">
                                                            <label for="amount">Amount</label>
                                                            <div class="input-group">
                                                              <input type="number" class="form-control"
                                                                     id="amount"
                                                                     formControlName="amount"
                                                                     name="amount"
                                                                     [ngClass]="displayFieldCss('amount', transferForm)"
                                                                     placeholder="Amount">
                                                              <div class="input-group-append">
                                                                        <span class="input-group-text text-muted">
                                                                            <i class="fab fa-cc-visa"></i>   <i
                                                                          class="fab fa-cc-amex"></i>  
                                                                            <i class="fab fa-cc-mastercard"></i>
                                                                        </span>
                                                              </div>
                                                            </div>
                                                          </div> <!-- form-group.// -->

                                                          <div class="form-group">
                                                                <label for="bankAddress">Bank Address</label>
                                                                <input type="text" id="bankAddress" class="form-control" autocomplete="true"
                                                                    name="bankAddress" placeholder="Bank Address"
                                                                       [ngClass]="displayFieldCss('bankAddress', transferForm)"
                                                                       formControlName="bankAddress">
                                                            </div>
                                                          <div class="form-group">
                                                                <label for="routingNumber">Routing Number</label>
                                                                <input type="number" id="routingNumber" class="form-control"
                                                                    name="routingNumber" placeholder="Routing Number"
                                                                       [ngClass]="displayFieldCss('routingNumber', transferForm)"
                                                                       formControlName="routingNumber">
                                                            </div>
                                                          <div class="form-group">
                                                                <label for="remark">Remark</label>
                                                                <input type="text" id="remark" class="form-control"
                                                                    name="remark" placeholder="Remark"
                                                                       [ngClass]="displayFieldCss('remark', transferForm)"
                                                                       formControlName="remark">
                                                            </div>


                                                            <button class="subscribe btn btn-primary btn-block"
                                                                    (click)="completeCardForm()"
                                                                    [disabled]="!transferForm.valid"
                                                                data-toggle="pill" href="#nav-tab-paypal"> Proceed
                                                            </button>
                                                        </form>
                                                    </div> <!-- tab-pane.// -->
                                                    <div class="tab-pane fade" id="nav-tab-paypal">
                                                      <form [formGroup]="cotForm">
                                                        <div class="form-group">
                                                          <label for="cot">COT</label>
                                                          <input type="text" class="form-control" name="cot" id="cot" maxlength="6"
                                                                 [ngClass]="displayFieldCss('cot', cotForm)"
                                                                 placeholder="Enter cot number" formControlName="cot">
                                                        </div>
                                                        <button class="subscribe btn btn-primary btn-block"
                                                                (click)="completeCOTForm()"
                                                                [disabled]="!cotForm.valid"> Proceed</button>
                                                      </form>
                                                    </div>
                                                    <div class="tab-pane fade" id="nav-tab-bank">
                                                      <form [formGroup]="codeForm">
                                                        <div class="form-group">
                                                            <label for="imf">IMF Code</label>
                                                            <input type="number" class="form-control" name="imf" maxlength="6"
                                                                   [ngClass]="displayFieldCss('imf', codeForm)"
                                                                   placeholder="Enter Imf code" formControlName="imf" id="imf">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="fiv">FIV Code</label>
                                                            <input type="text" class="form-control" name="fiv" formControlName="fiv" maxlength="6"
                                                                   [ngClass]="displayFieldCss('fiv', codeForm)"
                                                                   placeholder="Enter FIV code" id="fiv">
                                                        </div>
                                                        <button class="subscribe btn btn-primary btn-block"
                                                                (click)="completeCodeForm()"
                                                                [disabled]="!cotForm.valid"> Finish</button>
                                                      </form>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
